@use 'mixins';

.fabula-ultima {
  .chimera-input {
    &--column {
      flex-direction: row;
    }

    &--flex-row {
      flex-direction: row;
      .chimera-input__label {
        align-self: center;
      }
    }

    &--center {
      .chimera-input__label,
      .chimera-input__field {
        text-align: center;
      }
    }

    &--small {
      .chimera-input__field {
        width: 5rem;
        align-self: center;
        text-align: center;
      }
    }

    &--nowrap {
      .chimera-input__label {
        white-space: nowrap;
      }
    }

    display: flex;
    flex-direction: column;
    gap: 2px;

    width: 100%;
    width: stretch;

    &__label {
      @include mixins.text-sm-400;
    }
    &__field {
      &[type='number'] {
        text-align: center;
      }
    }
  }

  .chimera-value {
    &--bullet {
      &::before {
        content: '✦';
      }
    }
    &--reverse {
      display: flex;
      flex-direction: row-reverse;
      gap: 2px;
    }
    &--colon {
      .chimera-value__label {
        &::after {
          content: ':';
        }
      }
    }
    &--no-label-bold {
      .chimera-value__value {
        @include mixins.text-base-700;
      }
    }

    &--helptext {
      .chimera-value {
        &__label {
          @include mixins.text-base-700;
        }
        &__value {
          @include mixins.text-base-400;
        }
      }
    }

    &__label {
      margin-inline-end: 2px;
      @include mixins.text-base-700;
      // color: hotpink;
    }
    &__value {
      @include mixins.text-base-400;
      // color: blue;
    }
  }

  .chimera-checkbox {
    &--column {
      flex-direction: column;
    }
    &--column-reverse {
      flex-direction: column-reverse;
    }

    &--flex-row {
      flex-direction: row;
      .chimera-checkbox__label {
        align-self: center;
      }
    }

    &--center {
      .chimera-checkbox__label,
      .chimera-checkbox__field {
        text-align: center;
      }
    }

    display: flex;
    flex-direction: row;
    gap: 2px;

    align-items: center;

    width: 100%;
    width: stretch;

    &__label {
      @include mixins.text-sm-400;
    }

    &__field {
      &:has(:checked) {
        background: var(--input-background-color-active);
        img,
        svg {
          filter: none;
        }
      }

      position: relative;
      display: flex;
      cursor: pointer;

      align-items: center;
      justify-content: center;

      width: var(--input-component-size);
      height: var(--input-component-size);
      aspect-ratio: 1;

      color: var(--input-color);
      background: transparent;

      border: 2px solid var(--input-border-color);
      border-radius: 4px;

      &:active,
      &:hover,
      &:focus {
        outline: transparent;
      }
      &:hover {
        color: var(--button-color-hover);
        border-color: var(--button-border-color-hover);
        background-color: var(--button-background-color-hover);
      }
      &:focus {
        color: var(--button-color-focus);
        border-color: var(--button-border-color-focus);
        background-color: var(--button-background-color-focus);
      }
      &:active {
        color: var(--button-color-active);
        box-shadow: var(--button-shadow-active);
        background-color: var(--button-background-color-active);
        border-color: var(--button-border-color-active);
      }

      img,
      svg {
        width: var(--icon-component-size);
        height: var(--icon-component-size);
        aspect-ratio: 1;
        margin-left: 3px;

        filter: invert(0.5);
      }

      input[type='checkbox'] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }
    }
  }

  .chimera-switch {
    &__group {
      display: flex;
      flex-wrap: nowrap;
      gap: 2px;
      justify-content: center;
    }

    &__label {
      position: relative;
      display: flex;
      cursor: pointer;

      align-items: center;
      justify-content: center;

      width: var(--input-component-size);
      height: var(--input-component-size);
      aspect-ratio: 1;

      color: var(--input-color);
      background: transparent;

      border: 2px solid var(--input-border-color);
      border-radius: 4px;

      @include mixins.text-base-400;

      &:active,
      &:hover,
      &:focus {
        outline: transparent;
      }
      &:hover {
        color: var(--button-color-hover);
        border-color: var(--button-border-color-hover);
        background-color: var(--button-background-color-hover);
      }
      &:focus {
        color: var(--button-color-focus);
        border-color: var(--button-border-color-focus);
        background-color: var(--button-background-color-focus);
      }
      &:active {
        color: var(--button-color-active);
        box-shadow: var(--button-shadow-active);
        background-color: var(--button-background-color-active);
        border-color: var(--button-border-color-active);
      }

      img,
      svg {
        width: var(--icon-component-size);
        height: var(--icon-component-size);
        aspect-ratio: 1;

        filter: invert(0.5);
      }

      &:has(:checked) {
        background: var(--input-background-color-active);
        img,
        svg {
          filter: none;
        }
      }

      input[type='radio'] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }

      span {
        @include mixins.sr-only;
      }
    }
  }

  .chimera-container {
    &--shadow {
      @include mixins.shadow-box;
    }
  }

  .chimera-repeater {
    &--simple {
      .repcontainer {
        gap: 4px;

        .repitem {
          margin-block-end: 0;
          border: none;
        }
      }
    }

    &__empty {
      background: transparent;
      padding: 8px;
      margin-block: 4px;

      border: 2px dashed var(--input-border-color);
      border-radius: 4px;
    }
    &__empty-header {
      @include mixins.text-xl-400;
    }
    &__empty-subtitle {
      @include mixins.text-sm-400;
    }
  }
}
