@use 'mixins';

.fabula-ultima {
  .chimera-input {
    &--column {
      flex-direction: row;
    }
    &--column-reverse {
      flex-direction: column-reverse;
    }
    &--flex-row {
      flex-direction: row;
      .chimera-input__label {
        align-self: center;
      }
    }
    &--center {
      display: flex;
      align-items: center;
      .chimera-input__label,
      .chimera-input__field {
        text-align: center;
      }
    }
    &--small {
      width: 5rem;

      .chimera-input__field {
        width: 5rem;
        text-align: center;
        &:has(input) {
          align-self: center;
        }
      }
    }
    &--nowrap {
      .chimera-input__label {
        white-space: nowrap;
      }
    }
    &--hide-label {
      .chimera-input__label {
        @include mixins.sr-only;
      }
    }

    display: flex;
    flex-direction: column;
    gap: 2px;

    width: 100%;
    width: stretch;

    &__label {
      @include mixins.text-sm-400;
    }
    &__field {
      &[type='number'] {
        text-align: center;
      }
      &:is(span) {
        @include mixins.text-base-400;
      }
    }
  }

  .chimera-value {
    &--bullet {
      &::before {
        content: '✦ ';
      }
    }
    &--column {
      display: flex;
      flex-direction: column;
    }
    &--reverse {
      display: flex;
      flex-direction: row-reverse;
      gap: 2px;
    }
    &--colon {
      .chimera-value__label {
        &::after {
          content: ':';
        }
      }
    }
    &--no-label-bold {
      .chimera-value__value {
        @include mixins.text-base-700;
      }
    }
    &--center {
      text-align: center;
    }
    &--helptext {
      .chimera-value {
        &__label {
          @include mixins.text-base-700;
        }
        &__value {
          @include mixins.text-base-400;
        }
      }
    }

    &__label {
      margin-inline-end: 2px;
      @include mixins.text-base-700;
      // color: hotpink;
    }
    &__value {
      @include mixins.text-base-400;
      // color: blue;
    }
  }

  .chimera-checkbox {
    &--column {
      flex-direction: column;
    }
    &--column-reverse {
      flex-direction: column-reverse;
    }
    &--flex-row {
      flex-direction: row;
      .chimera-checkbox__label {
        align-self: center;
      }
    }
    &--center {
      .chimera-checkbox__label,
      .chimera-checkbox__field {
        text-align: center;
      }
    }
    &--hidden-label {
      span {
        @include mixins.hide-text;
        @include mixins.sr-only;
      }
    }
    &--tiny {
      .chimera-checkbox {
        &__field {
          border: none;
          border-radius: 50%;
          aspect-ratio: 1;
        }
      }
    }

    display: flex;
    flex-direction: row;
    gap: 2px;

    align-items: center;

    width: 100%;
    width: stretch;

    &__label {
      @include mixins.text-sm-400;
    }

    &__field {
      &:has(:checked) {
        background: var(--input-background-color-active);
        img,
        svg {
          filter: none;
          opacity: 1;
        }
      }

      @include mixins.action-button;

      input[type='checkbox'] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }
    }
  }

  .chimera-toggle {
    &--column {
      flex-direction: column;
    }
    &--column-reverse {
      flex-direction: column-reverse;
    }
    &--flex-row {
      flex-direction: row;
      .chimera-toggle__label {
        align-self: center;
      }
    }
    &--center {
      justify-self: center;
      .chimera-toggle__label,
      .chimera-toggle__field {
        text-align: center;
      }
    }
    &--hidden-label {
      span {
        @include mixins.hide-text;
        @include mixins.sr-only;
      }
    }
    &--tiny {
      width: min-content;
      .chimera-toggle {
        &__field {
          border: none;
          border-radius: 50%;
          aspect-ratio: 1;
        }
      }
    }

    display: flex;
    flex-direction: row;
    gap: 2px;

    align-items: center;

    width: 100%;
    width: stretch;

    &__label {
      @include mixins.text-sm-400;
    }

    &__field {
      &:has(:checked) {
        img,
        svg {
          filter: none;
          opacity: 1;
        }

        .chimera-toggle--off {
          display: none;
        }
      }
      &:not(:has(:checked)) {
        .chimera-toggle--on {
          display: none;
        }
      }

      @include mixins.action-button;
      img,
      svg {
        opacity: 1;
      }

      input[type='checkbox'] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }
    }
  }

  .chimera-switch {
    &__group {
      display: flex;
      flex-wrap: nowrap;
      gap: 2px;
      justify-content: center;
    }

    &__label {
      @include mixins.text-base-400;

      @include mixins.action-button;

      &:has(:checked) {
        background: var(--input-background-color-active);
        img,
        svg {
          filter: none;
          opacity: 1;
        }
      }

      input[type='radio'] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }

      span {
        @include mixins.sr-only;
      }
    }
  }

  .chimera-shadow {
    @include mixins.shadow-box;
  }

  .chimera-arithmetic {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;

    width: 100%;
    width: stretch;

    &__label {
      @include mixins.text-lg-700-fabula;
      text-align: center;
    }

    &__add,
    &__subtract,
    &__button {
      @include mixins.action-button;
    }
  }

  .chimera-repeater {
    &--simple {
      padding: 0 4px;

      .repcontainer {
        gap: 0px;

        .repitem {
          margin-block-end: 0;
          border: none;
        }
      }
    }

    &__empty {
      background: transparent;
      padding: 8px;
      margin-block: 4px;

      border: 2px dashed var(--input-border-color);
      border-radius: 4px;
    }
    &__empty-header {
      @include mixins.text-xl-400;
    }
    &__empty-subtitle {
      @include mixins.text-sm-400;
    }
  }

  .chimera-action {
    @include mixins.action-button;
    padding-inline: 4px;
    gap: 4px;

    width: fit-content;
    aspect-ratio: auto;

    &__label {
      @include mixins.text-base-700;
      white-space: nowrap;
    }

    img,
    svg {
      opacity: 1;
    }
    &:not(:has(div)) {
      img,
      svg {
        position: absolute;
      }
    }
  }
}
