@mixin sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

@mixin text-sm-400 {
  font-family: var(--font-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

@mixin text-sm-700-fabula {
  font-family: var(--font-title);
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

@mixin text-base-400 {
  font-family: var(--font-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

@mixin text-base-700 {
  font-family: var(--font-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

@mixin text-lg-400 {
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

@mixin text-lg-700-fabula {
  font-family: var(--font-title);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

@mixin text-lg-700 {
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

@mixin text-xl-400 {
  font-family: var(--font-body);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

@mixin text-xl-700 {
  font-family: var(--font-body);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

@mixin text-xl-400-fabula {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-transform: uppercase;
}

@mixin text-xl-500-fabula {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
}

@mixin text-xl-700-fabula {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  text-transform: uppercase;
}

@mixin text-xxl-700 {
  font-family: var(--font-body);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

@mixin text-xxl-500-fabula {
  font-family: var(--font-title);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
}

@mixin shadow-box {
  background-color: var(--surface-container-lowest);
  border-radius: 4px;
  box-shadow: var(--box-shadow-light);
  overflow: hidden;
  padding: 12px;
  height: min-content;
}

@mixin repeater-heading {
  &__heading {
    &--edit {
      @include text-xl-400-fabula;
      text-transform: capitalize;
    }
    &--view {
      background-image: var(--fabula-gradient-secondary);
      color: var(--color-on-dark);
      padding-left: 16px;
      padding-right: 16px;
      @include text-xxl-500-fabula;
    }
  }
}

// @mixin fabula-check {
//   display: flex;
//   gap: 4px;

//   span {
//     @include text-xl-400;
//     line-height: 140%;
//   }

//   .fabula-check {
//     span,
//     &::before,
//     &::after {
//       @include text-xl-700;
//     }

//     &::before {
//       margin: 0px 2.4px 0px -8px;
//     }
//     &::after {
//       margin: 0px -5.6px 0px 0px;
//     }
//   }
// }
