@mixin sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  // position: absolute;
  width: 1px;
}

@mixin hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

@mixin text-sm-400 {
  font-family: var(--font-body);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@mixin text-sm-700-fabula {
  font-family: var(--font-title);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

@mixin text-base-400 {
  font-family: var(--font-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@mixin text-base-500-fabula {
  font-family: var(--font-title);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@mixin text-base-700 {
  font-family: var(--font-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

@mixin text-lg-400 {
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@mixin text-lg-700 {
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

@mixin text-lg-500-fabula {
  font-family: var(--font-title);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

@mixin text-lg-700-fabula {
  font-family: var(--font-title);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

@mixin text-xl-400 {
  font-family: var(--font-body);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@mixin text-xl-700 {
  font-family: var(--font-body);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

@mixin text-xl-400-fabula {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

@mixin text-xl-500-fabula {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
}

@mixin text-xl-700-fabula {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}

@mixin text-xxl-400 {
  font-family: var(--font-body);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@mixin text-xxl-700 {
  font-family: var(--font-body);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

@mixin text-xxl-500-fabula {
  font-family: var(--font-title);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
}

@mixin shadow-box {
  background-color: var(--surface-container-lowest);
  border-radius: 4px;
  box-shadow: var(--box-shadow-light);
  overflow: hidden;
  padding: 12px;
  height: min-content;
}

@mixin repeater-heading {
  &__heading {
    &--edit {
      @include text-xl-400-fabula;
      text-transform: capitalize;
    }
    &--view {
      background-image: var(--fabula-gradient-secondary);
      color: var(--color-on-dark);
      padding-left: 16px;
      padding-right: 16px;
      @include text-xxl-500-fabula;
    }
  }
}

@mixin action-button {
  position: relative;
  display: flex;
  cursor: pointer;

  align-items: center;
  justify-content: center;

  width: var(--input-component-size);
  height: var(--input-component-size);
  aspect-ratio: 1;

  color: var(--input-color);
  background: transparent;

  border: 2px solid var(--input-border-color);
  border-radius: 4px;

  &:active,
  &:hover,
  &:focus {
    outline: transparent;
  }
  &:hover {
    color: var(--button-color-hover);
    border-color: var(--button-border-color-hover);
    background-color: var(--button-background-color-hover);
  }
  &:focus {
    color: var(--button-color-focus);
    border-color: var(--button-border-color-focus);
    background-color: var(--button-background-color-focus);
  }
  &:active {
    color: var(--button-color-active);
    box-shadow: var(--button-shadow-active);
    background-color: var(--button-background-color-active);
    border-color: var(--button-border-color-active);
  }

  img,
  svg {
    width: var(--icon-component-size);
    height: var(--icon-component-size);
    aspect-ratio: 1;

    // filter: invert(0.5);
    opacity: 0.5;
  }
}
