mixin bonds-edit(spine)
  .bonds--edit
    +fabula-heading-edit('bonds', spine.bonds.heading, false)
    .chimera-wrapper
      each field in spine.bonds.hidden
        +chimera-hidden(field, 0)
      each bonds, index in spine.bonds.fields
        .bond(class=`bond--${index+1}`)
          each bond in bonds
            +chimera-input(bond)

mixin bonds-view(spine)
  .bonds--view
    +fabula-heading-view('bonds', spine.bonds.heading)
    .chimera-wrapper
      each field in spine.bonds.hidden
        +chimera-hidden(field, 0)
      each bonds, index in spine.bonds.view
        .bond(class=`bond--${index+1}`)
          each bond in bonds
            +chimera-value(bond)
          +send-to-chat(`bond${index+1}`)
