mixin classes-view(spine)
  +chimera-hidden('classes_empty').chimera-repeater--empty-hide-next
  .classes
    +fabula-heading-view('classes', spine.classes.heading)
    +chimera-repeater('classes')
      +chimera-block('view')
        .class
          - const job = fieldDictionary(spine.classes.view, 'class');
          each field in spine.classes.hidden
            +chimera-hidden(field)

          +chimera-toggle(job.hide)
          +chimera-value(job.name)
          +chimera-value(job.level)

          +send-to-chat('class')

          +chimera-value(job.skills_taken)
          +chimera-value(job.description)

          each skill, index in spine.classes.view_skills
            - const sk = fieldDictionary(skill, `class_skill${index + 1}`);
            +chimera-hidden(sk.level.name, 0).chimera-repeater--empty-hide-next
            .class__skill
              +chimera-toggle(sk.hide)
              +chimera-value(sk.name)
              +chimera-value(sk.level)
              +send-to-chat(`skill${index + 1}`)
              +chimera-value(sk.description)

mixin classes-edit(spine)
  .classes--edit
    +fabula-heading-edit('classes', spine.classes.heading, false)
    each field in ['hp', 'mp', 'ip']
      +chimera-hidden(`class_${field}_total`, 0)
    +chimera-repeater('classes')
      +chimera-block('delete')
        .class
          - const [name, level] = spine.classes.delete;
          +chimera-value(name)
          +fabula-diamond
          +chimera-value(level)
      +chimera-block('edit')
        .class
          each field in spine.classes.hidden
            +chimera-hidden(field)
          each field in spine.classes.fields
            +chimera-input(field)

          .class__skill
            each skill in spine.classes.skills
              each field in skill
                +chimera-input(field)
            each field in spine.classes.heroic
              +chimera-input(field)

mixin features-view(spine)
  +chimera-hidden('features_empty').chimera-repeater--empty-hide-next
  .features
    +fabula-heading-view('features', spine.classfeatures.heading)
    +chimera-repeater('features')
      +chimera-block('view')
        .feature
          - const feature = fieldDictionary(spine.classfeatures.view, 'feature');
          each field in spine.classfeatures.hidden
            +chimera-hidden(field)

          +chimera-toggle(feature.hide)
          +chimera-value(feature.name)
          +chimera-value(feature.class)

          +send-to-chat('feature')

          +chimera-value(feature.detail1)
          +chimera-value(feature.detail2)
          +chimera-value(feature.detail3)

mixin features-edit(spine)
  .features--edit
    +fabula-heading-edit('features', spine.classfeatures.heading)
    +chimera-repeater('features')
      +chimera-block('delete')
        .feature
          - const [name] = spine.classfeatures.delete;
          +chimera-value(name)
      +chimera-block('edit')
        .feature
          each field in spine.classfeatures.hidden
            +chimera-hidden(field)
          each field in spine.classfeatures.fields
            +chimera-input(field)
