mixin spells-view(spine)
  +chimera-hidden('spells_empty').chimera-repeater--empty-hide-next
  .spells
    +fabula-heading-view('spells', spine.spells.heading)
    +chimera-repeater('spells')
      +chimera-block('view')
        .spell
          - const spell = fieldDictionary(spine.spells.view, 'spell');
          each field in spine.spells.hidden
            +chimera-hidden(field, 0)

          +chimera-action({ name: 'spell', title: 'Spell' }).spell__roll
            +chimera-icon({ icon: 'spell' }).spell__icon
            +chimera-value(spell.name)

          .spell__offensive
            +fabula-check(spell.attr1, spell.attr2, spell.accuracy_total, spell.damage_total)
            +fabula-diamond
            +chimera-value(spell.type)
            +fabula-diamond

          +chimera-value(spell.mp)

          .spell__target-duration
            +chimera-value(spell.target)
            +fabula-diamond
            +chimera-value(spell.duration)

          +chimera-value(spell.effect)

mixin spells-edit(spine)
  .spells
    +fabula-heading-edit('spells', spine.spells.heading)
    +chimera-repeater('spells')
      +chimera-block('delete')
        .spell
          - const [name, att1, att2, accuracy] = spine.spells.delete;
          each field in spine.spells.hidden
            +chimera-hidden(field, 0)

          +chimera-value(name)

          .spell__offensive
            +fabula-diamond
            +fabula-check(att1, att2, accuracy)

      +chimera-block('edit')
        .spell
          each field in spine.spells.hidden
            +chimera-hidden(field)
          each field in spine.spells.fields
            +chimera-input(field)

mixin rituals-view(spine)
  +chimera-hidden('rituals_empty').chimera-repeater--empty-hide-next
  .rituals.rituals--view
    - const ritual = fieldDictionary(spine.rituals.view, 'ritual');
    +fabula-heading-view('rituals', spine.rituals.heading)

    .rituals-known
      +chimera-value(ritual.known)

    +chimera-repeater('rituals')
      +chimera-block('view')
        .ritual
          each field in spine.rituals.hidden
            +chimera-hidden(field)

          +chimera-action({ name: 'ritual', title: 'Ritual' }).ritual__roll
            +chimera-icon({ icon: 'candle' }).ritual__icon
            +chimera-value(ritual.name)

          .ritual__check
            +fabula-check(ritual.attr1, ritual.attr2, ritual.accuracy_total)
            +fabula-diamond
            +chimera-value(ritual.difficulty)
            +fabula-diamond

          +chimera-value(ritual.mp)

          .ritual__potency-area
            +chimera-value(ritual.discipline)
            +fabula-diamond
            +chimera-value(ritual.potency)
            +fabula-diamond
            +chimera-value(ritual.area)

            +chimera-arithmetic-block(ritual.clock)
              .ritual__clock-progress
                +chimera-value(ritual.clock)
                span /
                +chimera-value(ritual.clock_max)

          +chimera-value(ritual.effect)

mixin rituals-edit(spine)
  .rituals
    +fabula-heading-edit('rituals', spine.rituals.heading)

    .rituals-known
      label.chimera-value__label(data-i18n='ritual_known') Rituals Known
      each field in spine.rituals.disciplines
        +chimera-input(field)

    +chimera-repeater('rituals')
      +chimera-block('delete')
        .ritual
          - const [name, att1, att2, accuracy] = spine.rituals.delete;
          each field in spine.rituals.hidden
            +chimera-hidden(field)

          +chimera-value(name)

          .ritual__offensive
            +fabula-diamond
            +fabula-check(att1, att2, accuracy)

      +chimera-block('edit')
        .ritual
          each field in spine.rituals.hidden
            +chimera-hidden(field)
          each field in spine.rituals.fields
            +chimera-input(field)
