mixin navbar-edit(spine)
  .nav(style='display: flex; flex-direction: row; gap: 4px')
    each field in spine.nav.edit
      +chimera-action(field)(style='flex: 1')
        span.chimera-value__value(data-i18n=field.name)= field.label

mixin navbar-view(spine)
  .nav(style='display: flex; flex-direction: row; gap: 4px')
    each field in spine.nav.view
      +chimera-action(field)(style='flex: 1')
        span.chimera-value__value(data-i18n=field.name)= field.label
