mixin fabula-points-view(spine)
  .fabula-points--view
    +fabula-heading-view('fabula-points', { name: 'fabula_points', value: 'Fabula Points' })
    - const points = fieldDictionary(spine.points.fields);
    - const [gaining, spending] = spine.points.fabula;
    .point__wrapper.chimera-wrapper
      +chimera-input(points.fabula_points)
      .point__gain
        each text in gaining
          +chimera-value(text)
      .point__spend
        each text in spending
          +chimera-value(text)

      .point__declare
        +chimera-input(points.spend_fabula_points)
        +chimera-action({ name: 'declare_fabula', title: 'Declare & Spend Fabula Points' })
          label.chimera-action__label Declare & Spend

mixin experience-points-view(spine)
  .experience-points--view
    +fabula-heading-view('experience-points', { name: 'experience_points', value: 'Experience Points' })
    - const points = fieldDictionary(spine.points.fields);
    .point__wrapper.chimera-wrapper
      +chimera-input(points.experience_points)
      .point__gain
        each text in spine.points.experience
          +chimera-value(text)

mixin points-edit(spine)
  .points--edit
    - const points = fieldDictionary(spine.points.fields);
    each field in spine.points.hidden
      +chimera-hidden(field)

    .point.point__hp
      +fabula-heading-edit('points', { name: 'hit_points', label: 'Hit Points (HP)' }, false)
      +chimera-input(points.hp_extra)
      .point__values
        +chimera-value(points.hp_max)
        +chimera-value(points.hp_crisis)
        span.point__helptext(data-i18n='hp_calculation') (MIG x 5) + LEVEL + OTHER

    .point.point__mp
      +fabula-heading-edit('points', { name: 'mind_points', label: 'Mind Points (MP)' }, false)
      +chimera-input(points.mp_extra)
      .point__values
        +chimera-value(points.mp_max)
        span.point__helptext(data-i18n='mp_calculation') (WLP x 5) + LEVEL + OTHER

    .point.point__ip
      +fabula-heading-edit('points', { name: 'inventory_points', label: 'Inventory Points (IP)' }, false)
      +chimera-input(points.ip_extra)
      .point__values
        +chimera-value(points.ip_max)
        span.point__helptext(data-i18n='ip_calculation') 6 + OTHER

    .point.point__initiative
      +fabula-heading-edit('points', { name: 'initiative', label: 'Initiative' }, false)
      +chimera-input(points.initiative_extra)
      .point__values
        +chimera-value(points.initiative)
