mixin fabula-points-view(spine)
  .fabula-points--view
    +fabula-heading-view('fabula-points', { name: 'fabula_points', value: 'Fabula Points' })
    - const points = fieldDictionary(spine.points.fields);
    - const [gaining, spending] = spine.points.fabula;
    .point__wrapper.chimera-wrapper
      +chimera-input(points.fabula_points)
      .point__gain
        each text in gaining
          +chimera-value(text)
      .point__spend
        each text in spending
          +chimera-value(text)

      .point__declare
        +chimera-input(points.spend_fabula_points)
        +chimera-action({ name: 'declare-fabula' })
          label.chimera-action__label Declare & Spend

mixin experience-points-view(spine)
  .experience-points--view
    +fabula-heading-view('experience-points', { name: 'experience_points', value: 'Experience Points' })
    - const points = fieldDictionary(spine.points.fields);
    .point__wrapper.chimera-wrapper
      +chimera-input(points.experience_points)
      .point__gain
        each text in spine.points.experience
          +chimera-value(text)

mixin points-edit(spine)
  .points--edit
    - const points = fieldDictionary(spine.points.fields);
    each field in spine.points.hidden
      +chimera-hidden(field)

    .point__hp
      .point__values
        h2.points__heading--edit(data-i18n='hit_points') Hit Points
        //- label.chimera-value__label(data-i18n='hp') HP
        +chimera-value({...points.hp_max, label: null })
        +fabula-diamond
        +chimera-value({...points.hp_crisis, label: null })
      +chimera-input(points.hp_extra)
      span.point__helptext(data-i18n='hp_calculation') (MIG x 5) + LEVEL + OTHER

    .point__mp
      .point__values
        h2.points__heading--edit(data-i18n='mind_points') Mind Points
        //- label.chimera-value__label(data-i18n='mp') MP
        +chimera-value({...points.mp_max, label: null })
      +chimera-input(points.mp_extra)
      span.point__helptext(data-i18n='mp_calculation') (WLP x 5) + LEVEL + OTHER

    .point__ip
      .point__values
        h2.points__heading--edit(data-i18n='inventory_points') Inventory Points
        //- label.chimera-value__label(data-i18n='ip') IP
        +chimera-value({...points.ip_max, label: null })
      +chimera-input(points.ip_extra)
      span.point__helptext(data-i18n='ip_calculation') 6 + OTHER

    .point__initiative
      .point__values
        h2.points__heading--edit(data-i18n='initiative') Initiative
        //- label.chimera-value__label(data-i18n='init') Init.
        +chimera-value({...points.initiative, label: null })
      +chimera-input(points.initiative_extra)
