mixin statistics-edit(spine)
  .statistics--edit
    +points-edit(spine)
    .affinities--edit
      h2.affinities__heading--edit(data-i18n='damage_affinities') Damage Affinities
      each field in spine.affinities.fields
        +chimera-input(field)
    +status-immunity-edit(spine)
