mixin basic-attacks-view(spine)
  .basic-attacks
    h2.basic-attacks__heading--view(data-i18n=spine.attacks.heading.name)= spine.attacks.heading.label
    +chimera-hidden('basic-attacks_empty').chimera-repeater--empty-hide-next
    +chimera-repeater('basic-attacks')
      +chimera-block('view')
        .basic-attack
          - const attack = fieldDictionary(spine.attacks.view, 'attack');
          each field in spine.attacks.hidden
            +chimera-hidden(field)

          +chimera-action({ name: 'basicattack' }).basic-attack__roll
            each range in rangeOptions
              +chimera-icon(range)(class=`basic-attack__range--${range.name}`)
            +chimera-value(attack.name)

          .basic-attack__check
            +fabula-check(attack.attr1, attack.attr2, attack.accuracy_total, attack.damage_total)

          +chimera-value(attack.type)

          +chimera-value(attack.special)

mixin basic-attacks-edit(spine)
  .basic-attacks
    h2.basic-attacks__heading--edit(data-i18n=spine.attacks.heading.name)= spine.attacks.heading.label
    +chimera-repeater('basic-attacks')
      +chimera-block('delete')
        .basic-attack
          - const [name, att1, att2] = spine.attacks.delete;
          +chimera-value(name)
          span ✦
          +fabula-check(att1, att2)
      +chimera-block('edit')
        .basic-attack
          each field in spine.attacks.hidden
            +chimera-hidden(field)
          each field in spine.attacks.fields
            +chimera-input(field)
