mixin bio-view(spine)
  .bio--view
    .bio
      - const bio = fieldDictionary(spine.bio.view);
      +chimera-hidden('character_avatar', '')
      .bio__avatar
        img(
          data-i18n-title='avatar',
          name='attr_character_avatar',
          title='Despite everything, it\'s still you.'
        )
      .bio__name
        +chimera-span(bio.character_name)

      .bio__meta
        label(data-i18n='lv') Lv
        +chimera-hidden(bio.rank.name)
        +chimera-span(bio.level)
        +chimera-span(bio.rank)
        +fabula-diamond
        +chimera-span(bio.species)

      +chimera-hidden(bio.villainous.name).chimera-repeater--empty-hide-next
      .bio__villain
        +chimera-span(bio.villainous)

      .bio__description
        +chimera-span(bio.description)

      +chimera-value(bio.traits)

mixin bio-edit(spine)
  .bio--edit
    .bio
      each field in spine.bio.hidden
        +chimera-hidden(field)
      each field in spine.bio.fields
        +chimera-input(field)
