mixin notes-view(spine)
  +chimera-hidden('notes_empty').chimera-repeater--empty-hide-next
  .notes
    +fabula-heading-view('notes', spine.notes.heading)
    +chimera-repeater('notes')
      +chimera-block('view')
        .note
          - const note = fieldDictionary(spine.notes.view, 'note');
          +chimera-icon({ icon: 'book' }).note__icon
          +chimera-value(note.name)
          +send-to-chat('note')

          +chimera-value(note.effect)

mixin notes-edit(spine)
  .notes
    +fabula-heading-edit('notes', spine.notes.heading)
    +chimera-repeater('notes')
      +chimera-block('delete')
        .note
          - const [name] = spine.notes.delete;
          +chimera-value(name)
      +chimera-block('edit')
        .note
          each field in spine.notes.hidden
            +chimera-hidden(field)
          each field in spine.notes.fields
            +chimera-input(field)
