mixin other-actions-view(spine)
  +chimera-hidden('other-actions_empty').chimera-repeater--empty-hide-next
  .other-actions
    +fabula-heading-view('other-actions', spine.actions.heading)
    +chimera-repeater('other-actions')
      +chimera-block('view')
        .other-action
          - const action = fieldDictionary(spine.actions.view, 'action');
          +chimera-icon({ icon: 'cog' }).other-action__icon
          +chimera-value(action.name)

          +send-to-chat('otheraction')

          +chimera-value(action.effect)

mixin other-actions-edit(spine)
  .other-actions
    +fabula-heading-edit('other-actions', spine.actions.heading)
    +chimera-repeater('other-actions')
      +chimera-block('delete')
        .other-action
          - const [name] = spine.actions.delete;
          +chimera-value(name)
      +chimera-block('edit')
        .other-action
          each field in spine.actions.hidden
            +chimera-hidden(field)
          each field in spine.actions.fields
            +chimera-input(field)
