mixin hp-mp-controller(spine)
  .points--view
    each field in spine.points.hidden
      +chimera-hidden(field, 0)
    .points-controller
      each field in spine.points.arithmetics
        +chimera-arithmetic(field)
      +study-rolls
    .points__ultima
      - const points = fieldDictionary(spine.points.fields);
      +chimera-input(points.ultima_points)
      .point__spending-ultima
        each field in spine.points.spendingultima
          +chimera-value(field)

mixin study-rolls
  .study
    label.study__label(data-i18n='study') Study

    +chimera-action({ name: 'study7', title: 'Study 7+ The NPCs Rank, Species, maximum HP, and maximum MP.'}).study__roll
      label.chimera-value__label 7+
      label.sr-only(data-i18n='study7_caption') The NPCs Rank, Species, maximum HP, and maximum MP.

    +chimera-action({ name: 'study10', title: 'Study 10+ All the above, plus Traits, Attributes, Defense, Magic Defense, Affinities.'}).study__roll
      label.chimera-value__label 10+
      label.sr-only(data-i18n='study10_caption') All the above, plus Traits, Attributes, Defense, Magic Defense, Affinities.

    +chimera-action({ name: 'study13', title: 'Study 13+ All the above, plus basic attacks and spells.'}).study__roll
      label.chimera-value__label 13+
      label.sr-only(data-i18n='study13_caption') All the above, plus basic attacks and spells.

mixin points-view(spine)
  .points
    - const points = fieldDictionary(spine.points.fields);
    .points__label
      label(data-i18n='hp') HP
    .points__hp
      +chimera-span(points.hp)
      +fabula-diamond
      +chimera-span(points.hp_crisis)

    .points__label
      label(data-i18n='mp') MP
    .points__mp
      +chimera-span(points.mp)

    .points__initiative
      label(data-i18n='init') Init.
      +chimera-span(points.initiative)
