mixin rare-gear-view(spine)
  +chimera-hidden('rare-gears_empty').chimera-repeater--empty-hide-next
  .rare-gears
    +fabula-heading-view('rare-gears', spine.raregear.heading)
    +chimera-repeater('rare-gears')
      +chimera-block('view')
        .rare-gear
          - const raregear = fieldDictionary(spine.raregear.view, 'raregear');
          +chimera-icon({ icon: 'equipment' }).rare-gear__icon
          +chimera-value(raregear.name)
          +send-to-chat('raregear')

          +chimera-value(raregear.effect)

mixin rare-gear-edit(spine)
  .rare-gears
    +fabula-heading-edit('rare-gears', spine.raregear.heading)
    +chimera-repeater('rare-gears')
      +chimera-block('delete')
        .rare-gear
          - const [name] = spine.raregear.delete;
          +chimera-value(name)
      +chimera-block('edit')
        .rare-gear
          each field in spine.raregear.hidden
            +chimera-hidden(field)
          each field in spine.raregear.fields
            +chimera-input(field)
