mixin rare-equipment-view(spine)
  //-

mixin rare-equipment-edit(spine)
  .rare-equipment
    h2.rare-equipment__heading--edit(data-i18n=spine.equipment.heading.name)= spine.equipment.heading.label
    +chimera-repeater('rare-equipment')
      +chimera-block('delete')
        .gear
          - const [name] = spine.equipment.delete;
          +chimera-span(name)
      +chimera-block('edit')
        .gear
          each field in spine.equipment.hidden
            +chimera-hidden(field)
          each field in spine.equipment.fields
            +chimera-input(field)
