mixin rare-equipment-view(spine)
  //-

mixin rare-equipment-edit(spine)
  .rare-equipment
    h2.rare-equipment__heading--edit(data-i18n=spine.rare - equipment.heading.name)= spine.rare - equipment.heading.label
    +chimera-repeater('rare-gear')
      +chimera-block('delete')
        .gear
          - const [name] = spine.rare - equipment.delete;
          +chimera-span(name)
      +chimera-block('edit')
        .gear
          each field in spine.rare-equipment.hidden
            +chimera-hidden(field)
          each field in spine.rare-equipment.fields
            +chimera-input(field)
