mixin special-rules-view(spine)
  +chimera-hidden('special-rules_empty').chimera-repeater--empty-hide-next
  .special-rules
    +fabula-heading-view('special-rules', spine.specials.heading)
    +chimera-repeater('special-rules')
      +chimera-block('view')
        .special-rule
          - const rule = fieldDictionary(spine.specials.view, 'special');
          +chimera-value(rule.name)
          +send-to-chat('specialrule')

          +chimera-value(rule.effect)

mixin special-rules-edit(spine)
  .special-rules
    +fabula-heading-edit('special-rules', spine.specials.heading)
    +chimera-repeater('special-rules')
      +chimera-block('delete')
        .special-rule
          - const [name] = spine.specials.delete;
          +chimera-value(name)
      +chimera-block('edit')
        .special-rule
          each field in spine.specials.hidden
            +chimera-hidden(field)
          each field in spine.specials.fields
            +chimera-input(field)
