mixin spells-view(spine)
  //-

mixin spells-edit(spine)
  .spells
    h2.spells__heading--edit(data-i18n=spine.spells.heading.name)= spine.spells.heading.label
    +chimera-repeater('spells')
      +chimera-block('delete')
        .spell
          - const [name, att1, att2] = spine.spells.delete;
          +chimera-span(name)
          span ✦
          +fabula-check(att1, att2)
      +chimera-block('edit')
        .spell
          each field in spine.spells.hidden
            +chimera-hidden(field)
          each field in spine.spells.fields
            +chimera-input(field)
