@use '../../../common/vars' as mixins;

.armor {
  $this: '.armor';

  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 4px;

  &--heading {
    grid-column: 1/-1;
    @include mixins.text-xl-400-fabula;
    text-transform: capitalize;
  }

  input[name*='is_martial'] {
    &[value='on'] ~ {
      #{$this}__defense_bonus {
        display: none;
      }
    }
    &[value='0'] ~ {
      #{$this}__defense {
        display: none;
      }
    }
  }

  &__name {
    grid-column: span 3;
  }
  &__initiative,
  &__cost,
  &__defense,
  &__defense_bonus,
  &__magic_defense,
  &__magic_defense_bonus {
  }
}
