@use '../../../common/vars' as mixins;

.fabula-ultima {
  .equipments {
    $this: '.equipment';

    @include mixins.repeater-heading;

    .equipment {
      display: grid;
      gap: 4px;

      padding: 8px;

      .fabula-check {
        &::before,
        &::after {
        }
        span {
          @include mixins.text-base-700;
          line-height: 180%;
        }
      }
    }

    // universal styles
    .equipment {
      &__armor,
      &__shield,
      &__weapon {
        display: flex;
        gap: 4px;
      }

      input[name*='is_martial'] {
        &[value='on'] ~ {
          .armor__defense_bonus {
            display: none;
          }
        }
        &[value='0'] ~ {
          .armor__defense {
            display: none;
          }
        }
      }

      .armor,
      .shield,
      .weapon {
        &__name {
          .chimera-value {
            &__label {
              @include mixins.text-lg-700;
            }
          }
        }
        &__cost {
          .chimera-value {
            &__value {
              &::after {
                content: 'z';
              }
            }
          }
        }
      }
    }
  }

  &--edit {
    .equipment {
      display: grid;
      grid-template-columns: 1fr repeat(3, auto);
      gap: 4px;

      &__special {
        grid-column: 1/-1;
      }

      &__name {
        grid-column: span 3;
      }
      &__category {
      }
    }
    // }
  }
}
