@use '../../../common/vars' as mixins;

.fabula-ultima .bestiary {
  .shield {
    $this: '.shield';

    @include mixins.fabula-heading;

    &--edit {
      .shield {
        display: grid;
        grid-template-columns: repeat(5, auto);
        gap: 4px;

        &__name {
          grid-column: span 3;
          grid-column: 1/-1;
        }
      }
    }

    input[name*='is_martial'] {
      &[value='on'] ~ {
        #{$this}__defense_bonus {
          display: none;
        }
      }
      &[value='0'] ~ {
        #{$this}__defense {
          display: none;
        }
      }
    }
  }
}
