{
  "printWidth": 100,
  "singleQuote": true,
  "bracketSpacing": true,
  "quoteProps": "consistent",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "es5",

  "plugins": ["@prettier/plugin-pug"],
  "pugAttributeSeparator": "always",
  "pugSortAttributes": "asc",
  "pugWrapAttributesThreshold": 3,
  "pugPrintWidth": 100
}
