@import url("https://fonts.googleapis.com/css?family=Antonio:300:400:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300:400:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400:700&display=swap");
:root,
html {
  --background: #e2f3ee;
  --box-shadow-light: rgba(26, 28, 24, 0.2) 0px 2px 1px -1px, rgba(26, 28, 24, 0.14) 0px 1px 1px 0px, rgba(26, 28, 24, 0.12) 0px 1px 3px 0px;
  --button-background-color: rgba(26, 35, 126, 0.2);
  --button-background-color-active: rgba(26, 35, 126, 0.2);
  --button-background-color-focus: rgba(63, 81, 181, 0.1);
  --button-background-color-hover: rgba(63, 81, 181, 0.1);
  --button-border-color: rgba(26, 35, 126, 0.2);
  --button-border-color-active: #1a237e;
  --button-border-color-focus: rgba(63, 81, 181, 0.1);
  --button-border-color-hover: #1a237e;
  --button-color: #1a237e;
  --button-color-active: #000;
  --button-color-focus: #000;
  --button-color-hover: #1a237e;
  --button-component-size: 2.5rem;
  --button-shadow-hover: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --button-shadow-active: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --font-body: PT Sans Narrow, Comic Sans MS, sans-serif;
  --font-nav: Antonio, Comic Sans MS, sans-serif;
  --font-serif: PT Serif, Comic Sans MS, serif;
  --font-title: Antonio, Comic Sans MS, sans-serif;
  --header-gradient-dark: linear-gradient(90deg, #664168 0%, #b8a8bd 100%);
  --icon-component-size: 1.5rem;
  --input-background-color: rgba(26, 35, 126, 0.2);
  --input-background-color-active: rgba(26, 35, 126, 0.2);
  --input-background-color-focus: rgba(63, 81, 181, 0.1);
  --input-background-color-hover: rgba(63, 81, 181, 0.1);
  --input-border-color: rgba(26, 35, 126, 0.2);
  --input-border-color-active: #1a237e;
  --input-border-color-focus: #1a237e;
  --input-border-color-hover: rgba(63, 81, 181, 0.1);
  --input-color: #1a237e;
  --input-color-active: #000;
  --input-color-focus: #000;
  --input-color-hover: #1a237e;
  --input-component-size: 2.5rem;
  --nav-color-focus: #664168;
  --repeating-empty-border-color: rgba(26, 35, 126, 0.2);
  --surface-container-lowest: #ffffff;
  --tertiary-gradient-light: linear-gradient(90deg, #33691e 0%, transparent 100%);
}

html {
  box-sizing: border-box;
  font-size: 12px;
}
html .characterviewer,
html .tab-content,
html .sheetform,
html .charactersheet {
  box-sizing: border-box;
  height: calc(100% - 1px);
}

.charsheet * {
  box-sizing: border-box;
  height: unset;
  width: unset;
  padding: unset;
  margin: unset;
  font-family: unset;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
  color: unset;
  border: unset;
  border-radius: unset;
  background: unset;
  background-color: unset;
  text-shadow: unset;
  box-shadow: unset;
}
.charsheet h1,
.charsheet h2,
.charsheet h3,
.charsheet h4,
.charsheet h5 {
  font-size: unset;
  line-height: unset;
  color: unset;
}
.charsheet p,
.charsheet input,
.charsheet input[type=number],
.charsheet textarea,
.charsheet select,
.charsheet button,
.charsheet button[type=roll],
.charsheet label {
  display: unset;
  width: unset;
  height: unset;
  padding: unset;
  margin-bottom: unset;
  font-family: unset;
  font-size: unset;
  font-weight: unset;
  text-shadow: none;
  line-height: unset;
  color: unset;
  border: unset;
  border-radius: unset;
  background: unset;
  background-color: unset;
  box-shadow: unset;
}
.charsheet button[type=roll]::before {
  display: none;
}
.charsheet input[disabled],
.charsheet select[disabled],
.charsheet textarea[disabled],
.charsheet input[readonly],
.charsheet select[readonly],
.charsheet textarea[readonly] {
  background-color: unset;
  border-color: unset;
}

.charsheet * {
  font-size: 1rem;
  box-sizing: border-box;
  font-family: inherit;
}
.charsheet fieldset {
  background: transparent;
}
.charsheet span {
  word-break: break-word;
}

input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.ui-dialog .largedialog {
  padding: 0;
}
.ui-dialog .charsheet {
  padding: 0;
}

.ui-dialog .charsheet .repcontainer {
  display: grid;
}
.ui-dialog .charsheet .repcontainer .chimera-repeater--delete {
  display: none;
}
.ui-dialog .charsheet .repcontainer.editmode + .repcontrol {
  display: block !important;
}
.ui-dialog .charsheet .repcontainer.editmode + .repcontrol button.repcontrol_edit::before {
  background-image: url("https://www.svgrepo.com/show/471631/lock-unlocked-01.svg");
  width: var(--icon-component-size);
  height: var(--icon-component-size);
}
.ui-dialog .charsheet .repcontainer.editmode .chimera-repeater--delete {
  display: grid !important;
  left: var(--button-component-size);
  position: relative;
  width: calc(100% - 2 * var(--button-component-size));
}
.ui-dialog .charsheet .repcontainer.editmode .chimera-repeater--view,
.ui-dialog .charsheet .repcontainer.editmode .chimera-repeater--edit {
  display: none !important;
}
.ui-dialog .charsheet .repcontainer .repitem {
  margin-block-end: 4px;
}
.ui-dialog .charsheet .repcontainer .repitem .itemcontrol {
  background-color: transparent;
}
.ui-dialog .charsheet .repcontrol {
  margin-block-start: 8px;
}
.ui-dialog .charsheet .repcontrol_add, .ui-dialog .charsheet .repcontrol_edit, .ui-dialog .charsheet .repcontrol_del, .ui-dialog .charsheet .repcontrol_move {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: var(--button-component-size);
  height: var(--button-component-size);
  aspect-ratio: 1;
  color: var(--button-color);
  background: transparent;
  border: 2px solid var(--button-border-color);
  border-radius: 4px;
  font-size: 0;
}
.ui-dialog .charsheet .repcontrol_add::before, .ui-dialog .charsheet .repcontrol_edit::before, .ui-dialog .charsheet .repcontrol_del::before, .ui-dialog .charsheet .repcontrol_move::before {
  content: "";
  display: block;
  width: 1.5rem;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-size: contain;
}
.ui-dialog .charsheet .repcontrol_add:active, .ui-dialog .charsheet .repcontrol_add:hover, .ui-dialog .charsheet .repcontrol_add:focus, .ui-dialog .charsheet .repcontrol_edit:active, .ui-dialog .charsheet .repcontrol_edit:hover, .ui-dialog .charsheet .repcontrol_edit:focus, .ui-dialog .charsheet .repcontrol_del:active, .ui-dialog .charsheet .repcontrol_del:hover, .ui-dialog .charsheet .repcontrol_del:focus, .ui-dialog .charsheet .repcontrol_move:active, .ui-dialog .charsheet .repcontrol_move:hover, .ui-dialog .charsheet .repcontrol_move:focus {
  outline: transparent;
}
.ui-dialog .charsheet .repcontrol_add:hover, .ui-dialog .charsheet .repcontrol_edit:hover, .ui-dialog .charsheet .repcontrol_del:hover, .ui-dialog .charsheet .repcontrol_move:hover {
  color: var(--button-color-hover);
  border-color: var(--button-border-color-hover);
  background-color: var(--button-background-color-hover);
}
.ui-dialog .charsheet .repcontrol_add:focus, .ui-dialog .charsheet .repcontrol_edit:focus, .ui-dialog .charsheet .repcontrol_del:focus, .ui-dialog .charsheet .repcontrol_move:focus {
  color: var(--button-color-focus);
  border-color: var(--button-border-color-focus);
  background-color: var(--button-background-color-focus);
}
.ui-dialog .charsheet .repcontrol_add:active, .ui-dialog .charsheet .repcontrol_edit:active, .ui-dialog .charsheet .repcontrol_del:active, .ui-dialog .charsheet .repcontrol_move:active {
  color: var(--button-color-active);
  box-shadow: var(--button-shadow-active);
  background-color: var(--button-background-color-active);
  border-color: var(--button-border-color-active);
}
.ui-dialog .charsheet .repcontrol_add::before, .ui-dialog .charsheet .repcontrol_edit::before {
  width: 20px;
}
.ui-dialog .charsheet .repcontrol_add::before {
  background-image: url("https://raw.githubusercontent.com/morgdalaine/fabula-ultima/main/assets/feather.png");
  width: var(--icon-component-size);
  height: var(--icon-component-size);
}
.ui-dialog .charsheet .repcontrol_edit::before {
  background-image: url("https://www.svgrepo.com/show/471623/lock-01.svg");
  width: var(--icon-component-size);
  height: var(--icon-component-size);
}
.ui-dialog .charsheet .repcontrol_del, .ui-dialog .charsheet .repcontrol_move {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ui-dialog .charsheet .repcontrol_del {
  right: 4px;
}
.ui-dialog .charsheet .repcontrol_del::before {
  background-image: url("https://www.svgrepo.com/show/471998/trash-01.svg");
  width: var(--icon-component-size);
  height: var(--icon-component-size);
}
.ui-dialog .charsheet .repcontrol_move {
  left: 4px;
}
.ui-dialog .charsheet .repcontrol_move::before {
  background-image: url("https://www.svgrepo.com/show/471721/move.svg");
  width: var(--icon-component-size);
  height: var(--icon-component-size);
}

.ui-dialog .charsheet .repcontainer .repitem .itemcontrol {
  background-color: transparent;
  z-index: 1;
}
.ui-dialog .charsheet .repcontainer .repitem .itemcontrol:active, .ui-dialog .charsheet .repcontainer .repitem .itemcontrol:hover, .ui-dialog .charsheet .repcontainer .repitem .itemcontrol:focus {
  outline: transparent;
}
.ui-dialog .charsheet .repcontainer .repitem .itemcontrol:hover {
  color: var(--button-color-hover);
  border-color: var(--button-border-color-hover);
  background-color: var(--button-background-color-hover);
}
.ui-dialog .charsheet .repcontainer .repitem .itemcontrol:focus {
  color: var(--button-color-focus);
  border-color: var(--button-border-color-focus);
  background-color: var(--button-background-color-focus);
}
.ui-dialog .charsheet .repcontainer .repitem .itemcontrol:active {
  color: var(--button-color-active);
  box-shadow: var(--button-shadow-active);
  background-color: var(--button-background-color-active);
  border-color: var(--button-border-color-active);
}

.chimera-repeater--is-empty[value="0"] ~ .chimera-repeater__empty {
  display: grid;
}
.chimera-repeater__empty {
  display: none;
}
.chimera-repeater__header {
  padding: 8px;
}
.chimera-repeater__header span {
  display: block;
  text-align: center;
}
.chimera-repeater__view, .chimera-repeater__edit, .chimera-repeater__content, .chimera-repeater__delete {
  display: none;
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}
.chimera-repeater__content {
  display: grid;
}
.chimera-repeater__edit, .chimera-repeater__content {
  position: relative;
  padding: 8px;
}
.chimera-repeater__delete {
  min-height: 16px;
  padding-inline: 16px;
  align-items: center;
}

.chimera-input--flex {
  display: flex;
}
.chimera-input:has([type=checkbox]) .chimera-input__label {
  cursor: pointer;
}
.chimera-input--gap-4 {
  gap: 4;
}
.chimera-input--gap-8 {
  gap: 8;
}
.chimera-input--gap-12 {
  gap: 12;
}
.chimera-input--gap-16 {
  gap: 16;
}

.fabula-ultima .chimera-input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}
.fabula-ultima .chimera-input--column {
  flex-direction: row;
}
.fabula-ultima .chimera-input--flex-row {
  flex-direction: row;
}
.fabula-ultima .chimera-input--flex-row .chimera-input__label {
  align-self: center;
}
.fabula-ultima .chimera-input--center .chimera-input__label,
.fabula-ultima .chimera-input--center .chimera-input__field {
  text-align: center;
}
.fabula-ultima .chimera-input--small .chimera-input__field {
  width: 5rem;
  align-self: center;
  text-align: center;
}
.fabula-ultima .chimera-input__label {
  font-family: var(--font-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.fabula-ultima .chimera-input__field[type=number] {
  text-align: center;
}
.fabula-ultima .chimera-value--bullet::before {
  content: "✦";
  font-family: var(--font-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.fabula-ultima .chimera-value__label {
  font-family: var(--font-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-inline-end: 4px;
}
.fabula-ultima .chimera-value__value {
  font-family: var(--font-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.fabula-ultima .chimera-checkbox {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}
.fabula-ultima .chimera-checkbox--column {
  flex-direction: column-reverse;
}
.fabula-ultima .chimera-checkbox--flex-row {
  flex-direction: row;
}
.fabula-ultima .chimera-checkbox--flex-row .chimera-checkbox__label {
  align-self: center;
}
.fabula-ultima .chimera-checkbox--center .chimera-checkbox__label,
.fabula-ultima .chimera-checkbox--center .chimera-checkbox__field {
  text-align: center;
}
.fabula-ultima .chimera-checkbox__label {
  font-family: var(--font-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.fabula-ultima .chimera-checkbox__field {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: var(--input-component-size);
  height: var(--input-component-size);
  aspect-ratio: 1;
  color: var(--input-color);
  background: transparent;
  border: 2px solid var(--input-border-color);
  border-radius: 4px;
}
.fabula-ultima .chimera-checkbox__field:has(:checked) {
  background: var(--input-background-color-active);
}
.fabula-ultima .chimera-checkbox__field:has(:checked) img,
.fabula-ultima .chimera-checkbox__field:has(:checked) svg {
  filter: none;
}
.fabula-ultima .chimera-checkbox__field:active, .fabula-ultima .chimera-checkbox__field:hover, .fabula-ultima .chimera-checkbox__field:focus {
  outline: transparent;
}
.fabula-ultima .chimera-checkbox__field:hover {
  color: var(--button-color-hover);
  border-color: var(--button-border-color-hover);
  background-color: var(--button-background-color-hover);
}
.fabula-ultima .chimera-checkbox__field:focus {
  color: var(--button-color-focus);
  border-color: var(--button-border-color-focus);
  background-color: var(--button-background-color-focus);
}
.fabula-ultima .chimera-checkbox__field:active {
  color: var(--button-color-active);
  box-shadow: var(--button-shadow-active);
  background-color: var(--button-background-color-active);
  border-color: var(--button-border-color-active);
}
.fabula-ultima .chimera-checkbox__field img,
.fabula-ultima .chimera-checkbox__field svg {
  width: var(--icon-component-size);
  height: var(--icon-component-size);
  aspect-ratio: 1;
  margin-left: 3px;
  filter: invert(0.5);
}
.fabula-ultima .chimera-checkbox__field input[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.fabula-ultima .chimera-switch__group {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  justify-content: center;
}
.fabula-ultima .chimera-switch__label {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: var(--input-component-size);
  height: var(--input-component-size);
  aspect-ratio: 1;
  color: var(--input-color);
  background: transparent;
  border: 2px solid var(--input-border-color);
  border-radius: 4px;
  font-family: var(--font-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.fabula-ultima .chimera-switch__label:active, .fabula-ultima .chimera-switch__label:hover, .fabula-ultima .chimera-switch__label:focus {
  outline: transparent;
}
.fabula-ultima .chimera-switch__label:hover {
  color: var(--button-color-hover);
  border-color: var(--button-border-color-hover);
  background-color: var(--button-background-color-hover);
}
.fabula-ultima .chimera-switch__label:focus {
  color: var(--button-color-focus);
  border-color: var(--button-border-color-focus);
  background-color: var(--button-background-color-focus);
}
.fabula-ultima .chimera-switch__label:active {
  color: var(--button-color-active);
  box-shadow: var(--button-shadow-active);
  background-color: var(--button-background-color-active);
  border-color: var(--button-border-color-active);
}
.fabula-ultima .chimera-switch__label img,
.fabula-ultima .chimera-switch__label svg {
  width: var(--icon-component-size);
  height: var(--icon-component-size);
  aspect-ratio: 1;
  filter: invert(0.5);
}
.fabula-ultima .chimera-switch__label:has(:checked) {
  background: var(--input-background-color-active);
}
.fabula-ultima .chimera-switch__label:has(:checked) img,
.fabula-ultima .chimera-switch__label:has(:checked) svg {
  filter: none;
}
.fabula-ultima .chimera-switch__label input[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.fabula-ultima .chimera-switch__label span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.fabula-ultima .chimera-container--shadow {
  background-color: var(--surface-container-lowest);
  border-radius: 4px;
  box-shadow: var(--box-shadow-light);
  overflow: hidden;
  padding: 12px;
  height: -moz-min-content;
  height: min-content;
}
.fabula-ultima .chimera-repeater__empty {
  background: transparent;
  padding: 8px;
  border: 2px dashed var(--input-border-color);
  border-radius: 4px;
}
.fabula-ultima .chimera-repeater__empty-header {
  font-family: var(--font-body);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.fabula-ultima .chimera-repeater__empty-subtitle {
  font-family: var(--font-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.fabula-ultima input[type=number],
.fabula-ultima input[type=text],
.fabula-ultima select,
.fabula-ultima textarea {
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  min-height: var(--input-component-size);
  color: var(--input-color);
  background: transparent;
  padding-inline-start: 4px;
  padding-block: 1px;
  border: 2px solid var(--input-border-color);
  border-radius: 4px;
  font-family: var(--font-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.fabula-ultima input[type=number]:active, .fabula-ultima input[type=number]:hover, .fabula-ultima input[type=number]:focus,
.fabula-ultima input[type=text]:active,
.fabula-ultima input[type=text]:hover,
.fabula-ultima input[type=text]:focus,
.fabula-ultima select:active,
.fabula-ultima select:hover,
.fabula-ultima select:focus,
.fabula-ultima textarea:active,
.fabula-ultima textarea:hover,
.fabula-ultima textarea:focus {
  outline: transparent;
}
.fabula-ultima input[type=number]:hover,
.fabula-ultima input[type=text]:hover,
.fabula-ultima select:hover,
.fabula-ultima textarea:hover {
  color: var(--input-color-hover);
  border-color: var(--input-border-color-hover);
  background-color: var(--input-background-color-hover);
}
.fabula-ultima input[type=number]:focus,
.fabula-ultima input[type=text]:focus,
.fabula-ultima select:focus,
.fabula-ultima textarea:focus {
  color: var(--input-color-focus);
  border-color: var(--input-border-color-focus);
  background-color: var(--input-background-color-focus);
}
.fabula-ultima input[type=number]:active,
.fabula-ultima input[type=text]:active,
.fabula-ultima select:active,
.fabula-ultima textarea:active {
  color: var(--input-color-active);
  box-shadow: var(--input-shadow-active);
  background-color: var(--input-background-color-active);
  border-color: var(--input-border-color-active);
}
.fabula-ultima input[type=number]::-moz-placeholder, .fabula-ultima input[type=text]::-moz-placeholder, .fabula-ultima select::-moz-placeholder, .fabula-ultima textarea::-moz-placeholder {
  color: gray;
}
.fabula-ultima input[type=number]::placeholder,
.fabula-ultima input[type=text]::placeholder,
.fabula-ultima select::placeholder,
.fabula-ultima textarea::placeholder {
  color: gray;
}
.fabula-ultima input[type=checkbox] {
  width: var(--input-component-size);
  height: var(--input-component-size);
  color: var(--input-color);
  background: transparent;
  padding-inline-start: 4px;
  padding-block: 1px;
  border: 2px solid var(--input-border-color);
  border-radius: 4px;
  align-self: normal;
  font-family: var(--font-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.fabula-ultima input[type=number] {
  text-align: center;
}
.fabula-ultima input[type=number][disabled], .fabula-ultima input[type=number][readonly] {
  cursor: default;
  background: var(--input-background-disabled);
  color: var(--input-color-disabled);
  border-color: var(--input-border-disabled);
}
.fabula-ultima textarea {
  max-height: 10rem;
  resize: vertical;
  scrollbar-width: thin;
}
@supports selector(::-webkit-scrollbar) {
  .fabula-ultima textarea::-webkit-scrollbar {
    width: 0.5rem;
    background: transparent;
  }
  .fabula-ultima textarea::-webkit-scrollbar-track {
    background: var(--input-color-active);
  }
}
.fabula-ultima span[name] {
  white-space: pre-wrap;
}
.fabula-ultima .fabula-check {
  position: relative;
  display: flex;
  gap: 4px;
}
.fabula-ultima .fabula-check::before {
  content: "【";
}
.fabula-ultima .fabula-check::after {
  content: "】";
}
.fabula-ultima .fabula-check input[value="0"] ~ .fabula-check__precision {
  display: none;
}
.fabula-ultima select {
  align-self: normal;
}
.fabula-ultima select option {
  background: var(--input-background);
  color: var(--input-color);
  font-family: var(--font-body);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

div#tab-content.tab-content .attributesabilities {
  min-width: 525px;
}
div#tab-content.tab-content .attributesabilities .divider {
  border: none;
}

html .characterviewer {
  display: grid !important;
  grid-template-rows: auto 1fr;
}
html .characterviewer .content {
  margin-bottom: 0;
}
html .characterviewer .charsheet {
  padding: 0;
}
html .characterviewer .nav-tabs {
  padding-block-start: 8px;
  margin-block-end: 8px;
  border: none;
}
html .characterviewer .nav-tabs > li {
  margin-bottom: 0;
}
html .characterviewer .nav-tabs > li.active > a {
  opacity: 1 !important;
  color: white;
  background: var(--header-gradient-dark);
}
html .characterviewer .nav-tabs > li > a {
  border: none !important;
  padding-block: 4px;
  padding-inline: 12px;
  font-family: var(--font-title);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  text-transform: uppercase;
}
html .characterviewer .nav-tabs > li > a:hover, html .characterviewer .nav-tabs > li > a:active {
  /* Fallback: Set a background color. */
  background-color: lime;
  /* Create the gradient. */
  background-image: var(--header-gradient-dark);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
html .characterviewer .nav-tabs > li > a:active {
  background-image: linear-gradient(90deg, rgb(110, 70, 141) 0%, rgb(255, 255, 255) 100%);
}
html .characterviewer .nav-tabs > li.active > a,
html .characterviewer .nav-tabs > li.active > a:hover,
html .characterviewer .nav-tabs > li.active > a:focus, html .characterviewer .nav-tabs > li:not(.active) > a,
html .characterviewer .nav-tabs > li:not(.active) > a:hover,
html .characterviewer .nav-tabs > li:not(.active) > a:focus {
  text-decoration: none;
}
html .characterviewer .nav-tabs > li:nth-child(4) > a:nth-child(1) {
  opacity: 0.3;
}
html .characterviewer .nav-tabs > li:nth-child(4) > a:nth-child(1):hover, html .characterviewer .nav-tabs > li:nth-child(4) > a:nth-child(1):focus {
  opacity: 1;
}

.bestiary--view {
  margin: 8px;
  max-width: 500px;
  background-color: var(--suface-container-lowest);
  box-shadow: var(--box-shadow-light);
  border-radius: 4px;
  display: flex;
  gap: 4px;
}
.bestiary--edit {
  @import url("https://fonts.googleapis.com/css?family=Antonio:300:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=PT+Serif:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Antonio:300:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=PT+Serif:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Antonio:300:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=PT+Serif:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Antonio:300:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=PT+Serif:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Antonio:300:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=PT+Serif:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Antonio:300:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=PT+Serif:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Antonio:300:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=PT+Serif:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Antonio:300:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=PT+Serif:400:700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400:700&display=swap");
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 8px;
  background-color: var(--background);
}
.bestiary--edit :root,
.bestiary--edit html {
  --background: #e2f3ee;
  --box-shadow-light: rgba(26, 28, 24, 0.2) 0px 2px 1px -1px, rgba(26, 28, 24, 0.14) 0px 1px 1px 0px, rgba(26, 28, 24, 0.12) 0px 1px 3px 0px;
  --button-background-color: rgba(26, 35, 126, 0.2);
  --button-background-color-active: rgba(26, 35, 126, 0.2);
  --button-background-color-focus: rgba(63, 81, 181, 0.1);
  --button-background-color-hover: rgba(63, 81, 181, 0.1);
  --button-border-color: rgba(26, 35, 126, 0.2);
  --button-border-color-active: #1a237e;
  --button-border-color-focus: rgba(63, 81, 181, 0.1);
  --button-border-color-hover: #1a237e;
  --button-color: #1a237e;
  --button-color-active: #000;
  --button-color-focus: #000;
  --button-color-hover: #1a237e;
  --button-component-size: 2.5rem;
  --button-shadow-hover: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --button-shadow-active: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --font-body: PT Sans Narrow, Comic Sans MS, sans-serif;
  --font-nav: Antonio, Comic Sans MS, sans-serif;
  --font-serif: PT Serif, Comic Sans MS, serif;
  --font-title: Antonio, Comic Sans MS, sans-serif;
  --header-gradient-dark: linear-gradient(90deg, #664168 0%, #b8a8bd 100%);
  --icon-component-size: 1.5rem;
  --input-background-color: rgba(26, 35, 126, 0.2);
  --input-background-color-active: rgba(26, 35, 126, 0.2);
  --input-background-color-focus: rgba(63, 81, 181, 0.1);
  --input-background-color-hover: rgba(63, 81, 181, 0.1);
  --input-border-color: rgba(26, 35, 126, 0.2);
  --input-border-color-active: #1a237e;
  --input-border-color-focus: #1a237e;
  --input-border-color-hover: rgba(63, 81, 181, 0.1);
  --input-color: #1a237e;
  --input-color-active: #000;
  --input-color-focus: #000;
  --input-color-hover: #1a237e;
  --input-component-size: 2.5rem;
  --nav-color-focus: #664168;
  --repeating-empty-border-color: rgba(26, 35, 126, 0.2);
  --surface-container-lowest: #ffffff;
  --tertiary-gradient-light: linear-gradient(90deg, #33691e 0%, transparent 100%);
}
.bestiary--edit .attacks--heading {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-transform: uppercase;
  text-transform: capitalize;
}
.bestiary--edit .attacks--delete .attack {
  display: flex;
  gap: 4px;
}
.bestiary--edit .attacks--delete .attack span {
  font-family: var(--font-body);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  line-height: 140%;
}
.bestiary--edit .attacks--delete .attack .fabula-check span, .bestiary--edit .attacks--delete .attack .fabula-check::before, .bestiary--edit .attacks--delete .attack .fabula-check::after {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  text-transform: uppercase;
}
.bestiary--edit .attacks--delete .attack .fabula-check::before {
  margin: 0px 2.4px 0px -8px;
}
.bestiary--edit .attacks--delete .attack .fabula-check::after {
  margin: 0px -5.6px 0px 0px;
}
.bestiary--edit .attacks--edit .attack {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}
.bestiary--edit .attacks--edit .attack__special {
  grid-column: 1/-1;
}
.bestiary--edit .attacks--edit .attack__name {
  grid-column: span 3;
}
.bestiary--edit .spells--heading {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-transform: uppercase;
  text-transform: capitalize;
}
.bestiary--edit .spells--delete .spell {
  display: flex;
  gap: 4px;
}
.bestiary--edit .spells--delete .spell span {
  font-family: var(--font-body);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  line-height: 140%;
}
.bestiary--edit .spells--delete .spell .fabula-check span, .bestiary--edit .spells--delete .spell .fabula-check::before, .bestiary--edit .spells--delete .spell .fabula-check::after {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  text-transform: uppercase;
}
.bestiary--edit .spells--delete .spell .fabula-check::before {
  margin: 0px 2.4px 0px -8px;
}
.bestiary--edit .spells--delete .spell .fabula-check::after {
  margin: 0px -5.6px 0px 0px;
}
.bestiary--edit .spells--edit .spell {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(3, auto);
  gap: 4px;
}
.bestiary--edit .spells--edit .spell__special, .bestiary--edit .spells--edit .spell__effect {
  grid-column: 1/-1;
}
.bestiary--edit .spells--edit .spell__name {
  grid-column: span 2;
}
.bestiary--edit .weapons--heading {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-transform: uppercase;
  text-transform: capitalize;
}
.bestiary--edit .weapons--delete .weapon {
  display: flex;
  gap: 4px;
}
.bestiary--edit .weapons--delete .weapon span {
  font-family: var(--font-body);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  line-height: 140%;
}
.bestiary--edit .weapons--delete .weapon .fabula-check span, .bestiary--edit .weapons--delete .weapon .fabula-check::before, .bestiary--edit .weapons--delete .weapon .fabula-check::after {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  text-transform: uppercase;
}
.bestiary--edit .weapons--delete .weapon .fabula-check::before {
  margin: 0px 2.4px 0px -8px;
}
.bestiary--edit .weapons--delete .weapon .fabula-check::after {
  margin: 0px -5.6px 0px 0px;
}
.bestiary--edit .weapons--edit .weapon {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  gap: 4px;
}
.bestiary--edit .weapons--edit .weapon__special {
  grid-column: 1/-1;
}
.bestiary--edit .weapons--edit .weapon__name {
  grid-column: span 3;
}
.bestiary--edit :root,
.bestiary--edit html {
  --background: #e2f3ee;
  --box-shadow-light: rgba(26, 28, 24, 0.2) 0px 2px 1px -1px, rgba(26, 28, 24, 0.14) 0px 1px 1px 0px, rgba(26, 28, 24, 0.12) 0px 1px 3px 0px;
  --button-background-color: rgba(26, 35, 126, 0.2);
  --button-background-color-active: rgba(26, 35, 126, 0.2);
  --button-background-color-focus: rgba(63, 81, 181, 0.1);
  --button-background-color-hover: rgba(63, 81, 181, 0.1);
  --button-border-color: rgba(26, 35, 126, 0.2);
  --button-border-color-active: #1a237e;
  --button-border-color-focus: rgba(63, 81, 181, 0.1);
  --button-border-color-hover: #1a237e;
  --button-color: #1a237e;
  --button-color-active: #000;
  --button-color-focus: #000;
  --button-color-hover: #1a237e;
  --button-component-size: 2.5rem;
  --button-shadow-hover: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --button-shadow-active: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --font-body: PT Sans Narrow, Comic Sans MS, sans-serif;
  --font-nav: Antonio, Comic Sans MS, sans-serif;
  --font-serif: PT Serif, Comic Sans MS, serif;
  --font-title: Antonio, Comic Sans MS, sans-serif;
  --header-gradient-dark: linear-gradient(90deg, #664168 0%, #b8a8bd 100%);
  --icon-component-size: 1.5rem;
  --input-background-color: rgba(26, 35, 126, 0.2);
  --input-background-color-active: rgba(26, 35, 126, 0.2);
  --input-background-color-focus: rgba(63, 81, 181, 0.1);
  --input-background-color-hover: rgba(63, 81, 181, 0.1);
  --input-border-color: rgba(26, 35, 126, 0.2);
  --input-border-color-active: #1a237e;
  --input-border-color-focus: #1a237e;
  --input-border-color-hover: rgba(63, 81, 181, 0.1);
  --input-color: #1a237e;
  --input-color-active: #000;
  --input-color-focus: #000;
  --input-color-hover: #1a237e;
  --input-component-size: 2.5rem;
  --nav-color-focus: #664168;
  --repeating-empty-border-color: rgba(26, 35, 126, 0.2);
  --surface-container-lowest: #ffffff;
  --tertiary-gradient-light: linear-gradient(90deg, #33691e 0%, transparent 100%);
}
.bestiary--edit .armor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}
.bestiary--edit .armor--heading {
  grid-column: 1/-1;
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-transform: uppercase;
  text-transform: capitalize;
}
.bestiary--edit .armor--edit {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}
.bestiary--edit .armor__name {
  grid-column: span 2;
}
.bestiary--edit .shield {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}
.bestiary--edit .shield--heading {
  grid-column: 1/-1;
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-transform: uppercase;
  text-transform: capitalize;
}
.bestiary--edit .shield--edit {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}
.bestiary--edit .shield__name {
  grid-column: span 2;
}
.bestiary--edit .equipment {
  grid-column: 1/-1;
}
.bestiary--edit :root,
.bestiary--edit html {
  --background: #e2f3ee;
  --box-shadow-light: rgba(26, 28, 24, 0.2) 0px 2px 1px -1px, rgba(26, 28, 24, 0.14) 0px 1px 1px 0px, rgba(26, 28, 24, 0.12) 0px 1px 3px 0px;
  --button-background-color: rgba(26, 35, 126, 0.2);
  --button-background-color-active: rgba(26, 35, 126, 0.2);
  --button-background-color-focus: rgba(63, 81, 181, 0.1);
  --button-background-color-hover: rgba(63, 81, 181, 0.1);
  --button-border-color: rgba(26, 35, 126, 0.2);
  --button-border-color-active: #1a237e;
  --button-border-color-focus: rgba(63, 81, 181, 0.1);
  --button-border-color-hover: #1a237e;
  --button-color: #1a237e;
  --button-color-active: #000;
  --button-color-focus: #000;
  --button-color-hover: #1a237e;
  --button-component-size: 2.5rem;
  --button-shadow-hover: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --button-shadow-active: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --font-body: PT Sans Narrow, Comic Sans MS, sans-serif;
  --font-nav: Antonio, Comic Sans MS, sans-serif;
  --font-serif: PT Serif, Comic Sans MS, serif;
  --font-title: Antonio, Comic Sans MS, sans-serif;
  --header-gradient-dark: linear-gradient(90deg, #664168 0%, #b8a8bd 100%);
  --icon-component-size: 1.5rem;
  --input-background-color: rgba(26, 35, 126, 0.2);
  --input-background-color-active: rgba(26, 35, 126, 0.2);
  --input-background-color-focus: rgba(63, 81, 181, 0.1);
  --input-background-color-hover: rgba(63, 81, 181, 0.1);
  --input-border-color: rgba(26, 35, 126, 0.2);
  --input-border-color-active: #1a237e;
  --input-border-color-focus: #1a237e;
  --input-border-color-hover: rgba(63, 81, 181, 0.1);
  --input-color: #1a237e;
  --input-color-active: #000;
  --input-color-focus: #000;
  --input-color-hover: #1a237e;
  --input-component-size: 2.5rem;
  --nav-color-focus: #664168;
  --repeating-empty-border-color: rgba(26, 35, 126, 0.2);
  --surface-container-lowest: #ffffff;
  --tertiary-gradient-light: linear-gradient(90deg, #33691e 0%, transparent 100%);
}
.bestiary--edit .affinities {
  display: grid;
  flex-wrap: wrap;
  gap: 4px;
}
.bestiary--edit .affinity {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 4px;
  align-items: center;
}
.bestiary--edit .affinity .chimera-input__label {
  font-family: var(--font-body);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  align-self: center;
}
.bestiary--edit :root,
.bestiary--edit html {
  --background: #e2f3ee;
  --box-shadow-light: rgba(26, 28, 24, 0.2) 0px 2px 1px -1px, rgba(26, 28, 24, 0.14) 0px 1px 1px 0px, rgba(26, 28, 24, 0.12) 0px 1px 3px 0px;
  --button-background-color: rgba(26, 35, 126, 0.2);
  --button-background-color-active: rgba(26, 35, 126, 0.2);
  --button-background-color-focus: rgba(63, 81, 181, 0.1);
  --button-background-color-hover: rgba(63, 81, 181, 0.1);
  --button-border-color: rgba(26, 35, 126, 0.2);
  --button-border-color-active: #1a237e;
  --button-border-color-focus: rgba(63, 81, 181, 0.1);
  --button-border-color-hover: #1a237e;
  --button-color: #1a237e;
  --button-color-active: #000;
  --button-color-focus: #000;
  --button-color-hover: #1a237e;
  --button-component-size: 2.5rem;
  --button-shadow-hover: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --button-shadow-active: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --font-body: PT Sans Narrow, Comic Sans MS, sans-serif;
  --font-nav: Antonio, Comic Sans MS, sans-serif;
  --font-serif: PT Serif, Comic Sans MS, serif;
  --font-title: Antonio, Comic Sans MS, sans-serif;
  --header-gradient-dark: linear-gradient(90deg, #664168 0%, #b8a8bd 100%);
  --icon-component-size: 1.5rem;
  --input-background-color: rgba(26, 35, 126, 0.2);
  --input-background-color-active: rgba(26, 35, 126, 0.2);
  --input-background-color-focus: rgba(63, 81, 181, 0.1);
  --input-background-color-hover: rgba(63, 81, 181, 0.1);
  --input-border-color: rgba(26, 35, 126, 0.2);
  --input-border-color-active: #1a237e;
  --input-border-color-focus: #1a237e;
  --input-border-color-hover: rgba(63, 81, 181, 0.1);
  --input-color: #1a237e;
  --input-color-active: #000;
  --input-color-focus: #000;
  --input-color-hover: #1a237e;
  --input-component-size: 2.5rem;
  --nav-color-focus: #664168;
  --repeating-empty-border-color: rgba(26, 35, 126, 0.2);
  --surface-container-lowest: #ffffff;
  --tertiary-gradient-light: linear-gradient(90deg, #33691e 0%, transparent 100%);
}
.bestiary--edit .attributes {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.bestiary--edit .attributes__distribution {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bestiary--edit .attribute {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
.bestiary--edit .attribute .chimera-input__label {
  font-family: var(--font-body);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.bestiary--edit .attribute .chimera-input__field {
  align-self: normal;
}
.bestiary--edit .distribution:first-of-type {
  padding-block-end: 4px;
}
.bestiary--edit .distribution:last-of-type {
  padding-block-start: 4px;
}
.bestiary--edit :root,
.bestiary--edit html {
  --background: #e2f3ee;
  --box-shadow-light: rgba(26, 28, 24, 0.2) 0px 2px 1px -1px, rgba(26, 28, 24, 0.14) 0px 1px 1px 0px, rgba(26, 28, 24, 0.12) 0px 1px 3px 0px;
  --button-background-color: rgba(26, 35, 126, 0.2);
  --button-background-color-active: rgba(26, 35, 126, 0.2);
  --button-background-color-focus: rgba(63, 81, 181, 0.1);
  --button-background-color-hover: rgba(63, 81, 181, 0.1);
  --button-border-color: rgba(26, 35, 126, 0.2);
  --button-border-color-active: #1a237e;
  --button-border-color-focus: rgba(63, 81, 181, 0.1);
  --button-border-color-hover: #1a237e;
  --button-color: #1a237e;
  --button-color-active: #000;
  --button-color-focus: #000;
  --button-color-hover: #1a237e;
  --button-component-size: 2.5rem;
  --button-shadow-hover: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --button-shadow-active: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --font-body: PT Sans Narrow, Comic Sans MS, sans-serif;
  --font-nav: Antonio, Comic Sans MS, sans-serif;
  --font-serif: PT Serif, Comic Sans MS, serif;
  --font-title: Antonio, Comic Sans MS, sans-serif;
  --header-gradient-dark: linear-gradient(90deg, #664168 0%, #b8a8bd 100%);
  --icon-component-size: 1.5rem;
  --input-background-color: rgba(26, 35, 126, 0.2);
  --input-background-color-active: rgba(26, 35, 126, 0.2);
  --input-background-color-focus: rgba(63, 81, 181, 0.1);
  --input-background-color-hover: rgba(63, 81, 181, 0.1);
  --input-border-color: rgba(26, 35, 126, 0.2);
  --input-border-color-active: #1a237e;
  --input-border-color-focus: #1a237e;
  --input-border-color-hover: rgba(63, 81, 181, 0.1);
  --input-color: #1a237e;
  --input-color-active: #000;
  --input-color-focus: #000;
  --input-color-hover: #1a237e;
  --input-component-size: 2.5rem;
  --nav-color-focus: #664168;
  --repeating-empty-border-color: rgba(26, 35, 126, 0.2);
  --surface-container-lowest: #ffffff;
  --tertiary-gradient-light: linear-gradient(90deg, #33691e 0%, transparent 100%);
}
.bestiary--edit .defenses {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 4px;
}
.bestiary--edit .defenses__container {
  grid-column: span 2;
}
.bestiary--edit .defense {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
.bestiary--edit .defense__quick {
  grid-column: 1/-1;
  grid-template-columns: 1fr;
}
.bestiary--edit :root,
.bestiary--edit html {
  --background: #e2f3ee;
  --box-shadow-light: rgba(26, 28, 24, 0.2) 0px 2px 1px -1px, rgba(26, 28, 24, 0.14) 0px 1px 1px 0px, rgba(26, 28, 24, 0.12) 0px 1px 3px 0px;
  --button-background-color: rgba(26, 35, 126, 0.2);
  --button-background-color-active: rgba(26, 35, 126, 0.2);
  --button-background-color-focus: rgba(63, 81, 181, 0.1);
  --button-background-color-hover: rgba(63, 81, 181, 0.1);
  --button-border-color: rgba(26, 35, 126, 0.2);
  --button-border-color-active: #1a237e;
  --button-border-color-focus: rgba(63, 81, 181, 0.1);
  --button-border-color-hover: #1a237e;
  --button-color: #1a237e;
  --button-color-active: #000;
  --button-color-focus: #000;
  --button-color-hover: #1a237e;
  --button-component-size: 2.5rem;
  --button-shadow-hover: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --button-shadow-active: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --font-body: PT Sans Narrow, Comic Sans MS, sans-serif;
  --font-nav: Antonio, Comic Sans MS, sans-serif;
  --font-serif: PT Serif, Comic Sans MS, serif;
  --font-title: Antonio, Comic Sans MS, sans-serif;
  --header-gradient-dark: linear-gradient(90deg, #664168 0%, #b8a8bd 100%);
  --icon-component-size: 1.5rem;
  --input-background-color: rgba(26, 35, 126, 0.2);
  --input-background-color-active: rgba(26, 35, 126, 0.2);
  --input-background-color-focus: rgba(63, 81, 181, 0.1);
  --input-background-color-hover: rgba(63, 81, 181, 0.1);
  --input-border-color: rgba(26, 35, 126, 0.2);
  --input-border-color-active: #1a237e;
  --input-border-color-focus: #1a237e;
  --input-border-color-hover: rgba(63, 81, 181, 0.1);
  --input-color: #1a237e;
  --input-color-active: #000;
  --input-color-focus: #000;
  --input-color-hover: #1a237e;
  --input-component-size: 2.5rem;
  --nav-color-focus: #664168;
  --repeating-empty-border-color: rgba(26, 35, 126, 0.2);
  --surface-container-lowest: #ffffff;
  --tertiary-gradient-light: linear-gradient(90deg, #33691e 0%, transparent 100%);
}
.bestiary--edit .extras {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.bestiary--edit .extras__container {
  grid-column: span 2;
}
.bestiary--edit .extra.chimera-input {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
.bestiary--edit :root,
.bestiary--edit html {
  --background: #e2f3ee;
  --box-shadow-light: rgba(26, 28, 24, 0.2) 0px 2px 1px -1px, rgba(26, 28, 24, 0.14) 0px 1px 1px 0px, rgba(26, 28, 24, 0.12) 0px 1px 3px 0px;
  --button-background-color: rgba(26, 35, 126, 0.2);
  --button-background-color-active: rgba(26, 35, 126, 0.2);
  --button-background-color-focus: rgba(63, 81, 181, 0.1);
  --button-background-color-hover: rgba(63, 81, 181, 0.1);
  --button-border-color: rgba(26, 35, 126, 0.2);
  --button-border-color-active: #1a237e;
  --button-border-color-focus: rgba(63, 81, 181, 0.1);
  --button-border-color-hover: #1a237e;
  --button-color: #1a237e;
  --button-color-active: #000;
  --button-color-focus: #000;
  --button-color-hover: #1a237e;
  --button-component-size: 2.5rem;
  --button-shadow-hover: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --button-shadow-active: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --font-body: PT Sans Narrow, Comic Sans MS, sans-serif;
  --font-nav: Antonio, Comic Sans MS, sans-serif;
  --font-serif: PT Serif, Comic Sans MS, serif;
  --font-title: Antonio, Comic Sans MS, sans-serif;
  --header-gradient-dark: linear-gradient(90deg, #664168 0%, #b8a8bd 100%);
  --icon-component-size: 1.5rem;
  --input-background-color: rgba(26, 35, 126, 0.2);
  --input-background-color-active: rgba(26, 35, 126, 0.2);
  --input-background-color-focus: rgba(63, 81, 181, 0.1);
  --input-background-color-hover: rgba(63, 81, 181, 0.1);
  --input-border-color: rgba(26, 35, 126, 0.2);
  --input-border-color-active: #1a237e;
  --input-border-color-focus: #1a237e;
  --input-border-color-hover: rgba(63, 81, 181, 0.1);
  --input-color: #1a237e;
  --input-color-active: #000;
  --input-color-focus: #000;
  --input-color-hover: #1a237e;
  --input-component-size: 2.5rem;
  --nav-color-focus: #664168;
  --repeating-empty-border-color: rgba(26, 35, 126, 0.2);
  --surface-container-lowest: #ffffff;
  --tertiary-gradient-light: linear-gradient(90deg, #33691e 0%, transparent 100%);
}
.bestiary--edit .bio {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(3, auto);
  gap: 4px;
}
.bestiary--edit .bio input[name*=rank][value=companion] ~ .bio__villain {
  display: none;
}
.bestiary--edit .bio input[name*=rank]:not([value=companion]) ~ .bio__companion_skill_level, .bestiary--edit .bio input[name*=rank]:not([value=companion]) ~ .bio__pc_level {
  display: none;
}
.bestiary--edit .bio__traits {
  grid-column: span 3;
}
.bestiary--edit .bio__rank, .bestiary--edit .bio__villain, .bestiary--edit .bio__multipart, .bestiary--edit .bio__createdby {
  grid-column: span 2;
}
.bestiary--edit .bio__species, .bestiary--edit .bio__rank, .bestiary--edit .bio__villain, .bestiary--edit .bio__companion_skill_level, .bestiary--edit .bio__pc_level {
  grid-row: 2;
}
.bestiary--edit .bio__companion_skill_level {
  grid-column: 4;
}
.bestiary--edit .bio__pc_level {
  grid-column: 5;
}
.bestiary--edit .bio__phases, .bestiary--edit .bio__multipart, .bestiary--edit .bio__createdby {
  grid-row-start: 3;
}
.bestiary--edit .bio__description {
  grid-column: 1/-1;
}
.bestiary--edit :root,
.bestiary--edit html {
  --background: #e2f3ee;
  --box-shadow-light: rgba(26, 28, 24, 0.2) 0px 2px 1px -1px, rgba(26, 28, 24, 0.14) 0px 1px 1px 0px, rgba(26, 28, 24, 0.12) 0px 1px 3px 0px;
  --button-background-color: rgba(26, 35, 126, 0.2);
  --button-background-color-active: rgba(26, 35, 126, 0.2);
  --button-background-color-focus: rgba(63, 81, 181, 0.1);
  --button-background-color-hover: rgba(63, 81, 181, 0.1);
  --button-border-color: rgba(26, 35, 126, 0.2);
  --button-border-color-active: #1a237e;
  --button-border-color-focus: rgba(63, 81, 181, 0.1);
  --button-border-color-hover: #1a237e;
  --button-color: #1a237e;
  --button-color-active: #000;
  --button-color-focus: #000;
  --button-color-hover: #1a237e;
  --button-component-size: 2.5rem;
  --button-shadow-hover: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --button-shadow-active: inset 0 2px 4px rgba(26, 28, 24, 0.15), 0 1px 2px rgba(26, 28, 24, 0.05);
  --font-body: PT Sans Narrow, Comic Sans MS, sans-serif;
  --font-nav: Antonio, Comic Sans MS, sans-serif;
  --font-serif: PT Serif, Comic Sans MS, serif;
  --font-title: Antonio, Comic Sans MS, sans-serif;
  --header-gradient-dark: linear-gradient(90deg, #664168 0%, #b8a8bd 100%);
  --icon-component-size: 1.5rem;
  --input-background-color: rgba(26, 35, 126, 0.2);
  --input-background-color-active: rgba(26, 35, 126, 0.2);
  --input-background-color-focus: rgba(63, 81, 181, 0.1);
  --input-background-color-hover: rgba(63, 81, 181, 0.1);
  --input-border-color: rgba(26, 35, 126, 0.2);
  --input-border-color-active: #1a237e;
  --input-border-color-focus: #1a237e;
  --input-border-color-hover: rgba(63, 81, 181, 0.1);
  --input-color: #1a237e;
  --input-color-active: #000;
  --input-color-focus: #000;
  --input-color-hover: #1a237e;
  --input-component-size: 2.5rem;
  --nav-color-focus: #664168;
  --repeating-empty-border-color: rgba(26, 35, 126, 0.2);
  --surface-container-lowest: #ffffff;
  --tertiary-gradient-light: linear-gradient(90deg, #33691e 0%, transparent 100%);
}
.bestiary--edit .notes {
  grid-column: span 2;
}
.bestiary--edit .notes--heading {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-transform: uppercase;
  text-transform: capitalize;
}
.bestiary--edit .notes--delete .note {
  display: flex;
  gap: 4px;
}
.bestiary--edit .notes--edit .note {
  display: grid;
  gap: 4px;
}
.bestiary--edit .raregear {
  grid-column: span 2;
}
.bestiary--edit .raregear--heading {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-transform: uppercase;
  text-transform: capitalize;
}
.bestiary--edit .raregear--delete .gear {
  display: flex;
  gap: 4px;
}
.bestiary--edit .raregear--edit .gear {
  display: grid;
  gap: 4px;
}
.bestiary--edit .actions {
  grid-column: span 2;
}
.bestiary--edit .actions--heading {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-transform: uppercase;
  text-transform: capitalize;
}
.bestiary--edit .actions--delete .action {
  display: flex;
  gap: 4px;
}
.bestiary--edit .actions--edit .action {
  display: grid;
  gap: 4px;
}
.bestiary--edit .specials {
  grid-column: span 2;
}
.bestiary--edit .specials--heading {
  font-family: var(--font-title);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  text-transform: uppercase;
  text-transform: capitalize;
}
.bestiary--edit .specials--delete .special {
  display: flex;
  gap: 4px;
}
.bestiary--edit .specials--edit .special {
  display: grid;
  gap: 4px;
}
.bestiary--edit > div {
  height: -moz-min-content;
  height: min-content;
}
.bestiary--edit .bio {
  grid-column: 1/span 3;
}
.bestiary--edit .attributes {
  grid-column-start: 1;
}
.bestiary--edit .attributes__distribution {
  grid-column: span 3;
}
.bestiary--edit .affinities {
  grid-row: 3/span 2;
}
.bestiary--edit .affinities__skillcost {
  grid-column: span 2;
}
.bestiary--edit .defenses {
  grid-column: 2;
  align-self: flex-end;
}
.bestiary--edit .extras {
  grid-column: 3;
  align-self: flex-end;
}
.bestiary--edit .extra--checkboxes {
  grid-column: 4;
  align-self: flex-end;
}
.bestiary--edit .shield,
.bestiary--edit .weapons {
  grid-column: 3/span 2;
}
.bestiary--edit .armor,
.bestiary--edit .attacks {
  grid-column: 1/span 2;
}
.bestiary--edit .spells {
  grid-column: 1/-1;
}

html .character,
html .charsheet .character {
  display: none;
}
html input[name*=sheet_type][value=character] ~ * main.character,
html .charsheet input[name*=sheet_type][value=character] ~ * main.character {
  display: grid;
}
html .bestiary,
html .charsheet .bestiary {
  display: none;
}
html input[name*=sheet_type][value=bestiary] ~ * main.bestiary,
html .charsheet input[name*=sheet_type][value=bestiary] ~ * main.bestiary {
  display: grid;
}
html .gm,
html .charsheet .gm {
  display: none;
}
html input[name*=sheet_type][value=gm] ~ * main.gm,
html .charsheet input[name*=sheet_type][value=gm] ~ * main.gm {
  display: grid;
}
html .fabula-ultima,
html .charsheet .fabula-ultima {
  margin: 4px;
  margin-right: 12px;
}
