@use '../common/vars' as *;
@use '../common/mixins';

.fabula-ultima {
  input[type='number'],
  input[type='text'],
  select,
  textarea {
    width: 100%;
    width: stretch;

    min-height: var(--input-component-size);

    color: var(--input-color);
    background: transparent;
    background: var(--input-background-color);

    padding-inline: 4px;
    padding-block: 1px;

    border: 2px solid var(--input-border-color);
    border-radius: 4px;

    @include mixins.text-base-400;

    &:active,
    &:hover,
    &:focus {
      outline: transparent;
    }
    &:hover {
      color: var(--input-color-hover);
      border-color: var(--input-border-color-hover);
      background-color: var(--input-background-color-hover);
    }
    &:focus {
      color: var(--input-color-focus);
      border-color: var(--input-border-color-focus);
      background-color: var(--input-background-color-focus);
    }
    &:active {
      color: var(--input-color-active);
      box-shadow: var(--input-shadow-active);
      background-color: var(--input-background-color-active);
      border-color: var(--input-border-color-active);
    }

    &::placeholder {
      color: gray;
    }
  }

  input[type='checkbox'] {
    width: var(--input-component-size);
    height: var(--input-component-size);

    color: var(--input-color);
    background: transparent;

    padding-inline: 4px;
    padding-block: 1px;

    border: 2px solid var(--input-border-color);
    border-radius: 4px;

    align-self: normal;

    @include mixins.text-base-400;
  }

  input[type='number'] {
    text-align: center;
    &[disabled],
    &[readonly] {
      cursor: default;

      background: var(--input-background-disabled);
      color: var(--input-color-disabled);

      border-color: var(--input-border-disabled);
    }
  }

  textarea {
    max-height: 10rem;
    resize: vertical;

    scrollbar-width: thin;
    // scrollbar-color: var(--input-color-active transparent);

    @supports selector(::-webkit-scrollbar) {
      &::-webkit-scrollbar {
        width: 0.5rem;
        background: transparent;
      }

      &::-webkit-scrollbar-track {
        background: var(--input-color-active);
      }
    }
  }

  span[name] {
    white-space: pre-wrap;
    &:empty {
      text-align: center;
      &:before {
        display: inline;
        content: '—';
      }
    }
  }

  // label {
  //   input[type='checkbox'] + span {
  //     margin-inline-start: var(--m-sm);
  //     vertical-align: middle;
  //   }
  // }

  .fabula-check {
    // position: relative;
    display: flex;
    gap: 4px;

    &::before {
      content: '【';
      line-height: 160%;
    }
    &::after {
      content: '】';
      line-height: 160%;
    }

    input[value='0'] {
      ~ .fabula-attr__accuracy {
        display: none;
      }
    }
  }

  .fabula-diamond {
    @include mixins.text-base-400;
  }

  .send-to-chat {
    border: none;
    border-radius: 50%;
    aspect-ratio: 1;

    span {
      @include mixins.sr-only;
    }
  }

  select {
    align-self: normal;

    // appearance: none;
    // background-image: url('https://www.svgrepo.com/show/471164/chevron-down.svg');
    // background-position: 100% 50%;
    // background-repeat: no-repeat;
    // background-size: contain;

    option {
      background: var(--input-background);
      color: var(--input-color);

      @include text-base-400;
    }
  }
}

.fabula-translation {
  display: none;
}
