.ui-dialog .charsheet {
  .repcontainer {
    $this: '.repcontainer';

    display: grid;

    .chimera-repeater--delete {
      display: none;
    }

    &.editmode {
      + .repcontrol {
        display: block !important;
        button.repcontrol_edit::before {
          background-image: url('https://www.svgrepo.com/show/471631/lock-unlocked-01.svg');
          width: var(--icon-component-size);
          height: var(--icon-component-size);
        }
      }
      .chimera-repeater--delete {
        display: grid !important;
        left: var(--button-component-size);
        position: relative;
        width: calc(100% - 2 * var(--button-component-size));
      }
      .chimera-repeater--view,
      .chimera-repeater--edit {
        display: none !important;
      }
    }

    .repitem {
      @extend %itemcontrol;
    }
  }

  .repcontainer {
    .repitem {
      $this: '.repitem';

      margin-block-end: 4px;
      border-bottom: 1px solid var(--color-fabula1);
      border-image: var(--fabula-gradient-secondary-border);
    }
    .repitem {
      .itemcontrol {
        background-color: transparent;
      }
    }
  }

  .repcontrol {
    $this: '.repcontrol';

    &_add,
    &_edit,
    &_del,
    &_move {
      position: relative;
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      width: var(--button-component-size);
      height: var(--button-component-size);
      aspect-ratio: 1;
      color: var(--button-color);
      background: transparent;
      border: 2px solid var(--button-border-color);
      border-radius: 4px;

      font-size: 0;

      &::before {
        content: '';
        display: block;
        width: 1.5rem;
        aspect-ratio: 1;

        background-repeat: no-repeat;
        background-size: contain;
      }

      &:active,
      &:hover,
      &:focus {
        outline: transparent;
      }
      &:hover {
        color: var(--button-color-hover);
        border-color: var(--button-border-color-hover);
        background-color: var(--button-background-color-hover);
      }
      &:focus {
        color: var(--button-color-focus);
        border-color: var(--button-border-color-focus);
        background-color: var(--button-background-color-focus);
      }
      &:active {
        color: var(--button-color-active);
        box-shadow: var(--button-shadow-active);
        background-color: var(--button-background-color-active);
        border-color: var(--button-border-color-active);
      }
    }

    &_add,
    &_edit {
      &::before {
        width: 20px;
      }
    }

    &_add {
      &::before {
        background-image: url('https://raw.githubusercontent.com/morgdalaine/fabula-ultima/main/assets/feather.png');
        width: var(--icon-component-size);
        height: var(--icon-component-size);
      }
    }
    &_edit {
      &::before {
        background-image: url('https://www.svgrepo.com/show/471623/lock-01.svg');
        width: var(--icon-component-size);
        height: var(--icon-component-size);
      }
    }

    &_del,
    &_move {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &_del {
      right: 4px;
      &::before {
        background-image: url('https://www.svgrepo.com/show/471998/trash-01.svg');
        width: var(--icon-component-size);
        height: var(--icon-component-size);
      }
    }
    &_move {
      left: 4px;
      &::before {
        background-image: url('https://www.svgrepo.com/show/471721/move.svg');
        width: var(--icon-component-size);
        height: var(--icon-component-size);
      }
    }
  }
}

%itemcontrol {
  .itemcontrol {
    $this: '.itemcontrol';
    background-color: transparent;
    z-index: 1;

    &:active,
    &:hover,
    &:focus {
      outline: transparent;
    }
    &:hover {
      color: var(--button-color-hover);
      border-color: var(--button-border-color-hover);
      background-color: var(--button-background-color-hover);
    }
    &:focus {
      color: var(--button-color-focus);
      border-color: var(--button-border-color-focus);
      background-color: var(--button-background-color-focus);
    }
    &:active {
      color: var(--button-color-active);
      box-shadow: var(--button-shadow-active);
      background-color: var(--button-background-color-active);
      border-color: var(--button-border-color-active);
    }
  }
}
