@use '../../../common/vars' as mixins;

.fabula-ultima .character {
  .rituals {
    @include mixins.repeater-heading;

    &-known {
      display: grid;
      grid-template-columns: repeat(6, 1fr);

      .chimera-value {
        &__label {
          grid-column: 1/-1;
        }
      }
    }

    &--delete {
      .ritual {
        display: flex;
        gap: 4px;

        input[name*='ritual_is_offensive'] {
          &[value='0'],
          :not([value]) {
            ~ .ritual__offensive {
              display: none;
            }
          }
        }

        &__name {
          .chimera-value {
            &__value {
              @include mixins.text-xl-400;
            }
          }
        }

        &__offensive {
          display: flex;
          flex-wrap: nowrap;
          gap: 4px;
        }
      }

      .fabula-diamond {
        @include mixins.text-lg-700;
      }
    }

    &--view {
      .rituals-known {
        grid-column: 1/-1;
        padding: 4px 8px;
        display: flex;
        flex-direction: row;
        gap: 4px;
      }

      .ritual {
        display: grid;
        grid-template-columns: 1fr repeat(2, auto);
        gap: 4px;

        input[name*='ritual_is_offensive'] {
          &[value='0'],
          :not([value]) {
            ~ .ritual__offensive {
              display: none;
            }
          }
        }

        &__name {
          .chimera-value {
            &__value {
              @include mixins.text-lg-700;
            }
          }
        }

        &__difficulty,
        &__mp {
          .chimera-value {
            &__label {
              @include mixins.text-lg-700;
            }
            &__value {
              @include mixins.text-lg-400;
            }
          }
        }

        &__check {
          display: flex;
          flex-wrap: nowrap;
          gap: 4px;
        }

        &__potency-area {
          grid-column: 1/-1;
          grid-row-start: 2;
          display: flex;
          gap: 4px;
        }
        &__effect {
          grid-column: 1/-1;
          grid-row-start: 3;
        }
      }
    }

    &--edit {
      .ritual {
        display: grid;
        grid-template-columns: repeat(2, 1fr) repeat(2, auto) repeat(2, 1fr);
        gap: 4px;

        &__name,
        &__discipline {
          grid-column: span 2;
        }
        &__effect {
          grid-column: 1/-1;
        }
      }
    }
  }
}
