mixin points-view(spine)
  .points--view
    - const points = fieldDictionary(spine.points.view);
    each field in spine.points.hidden
      +chimera-hidden(field)

    .point__hp
      +chimera-value(points.hp)
      +fabula-diamond
      +chimera-value(points.hp_crisis)

    .point__mp
      +chimera-value(points.mp)

    if (spine.sheet === 'bestiary')
      .point__initiative
        +chimera-value(points.initiative)
    if (spine.sheet === 'character')
      .point__ip
        +chimera-value(points.ip)
