mixin points-view(spine)
  .points--view
    - const points = fieldDictionary(spine.points.fields);
    each field in spine.points.hidden
      +chimera-hidden(field)

    label.chimera-value__label(data-i18n='hp') HP
    .point__hp
      +chimera-value({...points.hp, label: null })
      +fabula-diamond
      +chimera-value({...points.hp_crisis, label: null })

    label.chimera-value__label(data-i18n='mp') MP
    .point__mp
      +chimera-value({...points.mp, label: null })

    if (spine.sheet === 'bestiary')
      .point__initiative
        label.chimera-value__label(data-i18n='init') Init.
        +chimera-value({...points.initiative, label: null })
    if (spine.sheet === 'character')
      .point__roll-initiative
        - const btn = spine.points.initiative;
        +chimera-action(btn)
          //- +chimera-icon(btn)
          +chimera-value(points.initiative)
