mixin rolls-view(spine)
  .rolls--view
    +fabula-heading-view('rolls', { name: 'frequently_used_checks', label: 'Frequently Used Checks' })
    .chimera-wrapper
      .roll__custom
        each field in spine.rolls.fields
          +chimera-input(field)
        +chimera-action({ name: 'check_custom', title: 'Roll Custom Check' }).roll__check--custom
          +chimera-icon({ icon: 'dice' })
          label.chimera-action__label(data-i18n='roll') Roll

      each action in spine.rolls.actions
        +chimera-action(action)
          label.chimera-action__label(data-i18n=action.name)= action.label

    +chimera-repeater-simple('rolls')
      - const [name, att1, att2] = spine.rolls.delete;
      +chimera-action({ name: 'check', title: 'Roll Custom Check' }).roll__check--repeating
        +chimera-value(name)
        +fabula-check(att1, att2)

mixin rolls-edit(spine)
  .rolls
    +fabula-heading-edit('rolls', { name: 'custom_checks', label: 'Custom Checks' })
    +chimera-repeater('rolls')
      +chimera-block('delete')
        .roll
          - const [name, att1, att2] = spine.rolls.delete;
          +chimera-value(name)
          .roll__offensive
            +fabula-diamond
            +fabula-check(att1, att2)
      +chimera-block('edit')
        .roll
          each field in spine.rolls.hidden
            +chimera-hidden(field)
          each field in spine.rolls.repeating
            +chimera-input(field)
