mixin settings(spine)
  .settings--edit
    h2.settings__heading--edit(data-i18n=spine.settings.heading.name)= spine.settings.heading.label
    // TODO Implement settings
    each field in spine.settings.fields
      .setting
        +chimera-input(field)
