mixin settings(spine)
  .settings--view
    +fabula-heading-view('settings', spine.settings.heading, false)
    // TODO Implement settings
    each field in spine.settings.fields
      .setting
        +chimera-input(field)
