@use '../../common/vars' as mixins;

.fabula-ultima .character {
  .attributes {
    $this: '.attributes';

    @include mixins.repeater-heading;

    &__distribution {
      grid-column: span 2;
    }

    &--edit {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4px;

      .attribute {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 4px;

        align-items: center;
        justify-content: center;

        .chimera-input {
          &__label {
            @include mixins.text-xl-400;
          }
          &__field {
            align-self: normal;
          }
        }
      }
    }
  }
}
