@use '../../common/vars' as mixins;

.fabula-ultima .character {
  .bonds {
    $this: '.bonds';

    @include mixins.repeater-heading;

    &--edit {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4px;

      .bond {
        display: grid;
        grid-template-columns: 1fr repeat(3, auto);
        gap: 4px;

        align-items: center;
        justify-content: center;

        &:nth-child(n + 3) {
          ~ * .chimera-input {
            &__label {
              @include mixins.sr-only;
              @include mixins.hide-text;
            }
          }
        }
        &:nth-child(2n) {
          padding-right: 4px;
          border-right: 2px dotted var(--color-fabula1);
        }

        // .chimera-input {
        //   &__label {
        //     @include mixins.text-xl-400;
        //   }
        //   &__field {
        //     align-self: normal;
        //   }
        // }
      }
    }
  }
}
