@use '../../common/vars' as mixins;

.fabula-ultima .character {
  .bonds {
    $this: '.bonds';

    @include mixins.fabula-heading;

    &--view {
      @each $bond in 1, 2, 3, 4, 5, 6 {
        input[name*='bond#{$bond}_level'] {
          &[value='0'],
          &[value=''],
          &:not([value]) {
            ~ .bond--#{$bond} {
              display: none;
            }
          }
        }
      }

      .chimera-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4px;
      }

      .bond {
        display: flex;
        gap: 4px;
        align-items: center;

        padding: 0 8px;

        &__name {
          flex: 1;
        }

        .chimera-value:has(span:empty) {
          display: none;
        }
      }
    }

    &--edit {
      .chimera-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4px;
      }

      .bond {
        display: grid;
        grid-template-columns: 1fr repeat(3, auto);
        grid-template-rows: auto 1fr;

        gap: 4px;

        align-items: flex-start;
        justify-content: center;

        padding: 8px;
        background-color: var(--character-edit-background-secondary);

        &__description {
          grid-column: 1/-1;
        }

        // &:nth-child(n + 2) {
        //   ~ * .chimera-input {
        //     &__label {
        //       @include mixins.sr-only;
        //       @include mixins.hide-text;
        //     }
        //   }
        // }
      }
    }
  }
}
