@use '../../common/vars' as mixins;

.fabula-ultima .character {
  .classes {
    $this: '.classes';

    @include mixins.repeater-heading;

    &--delete {
      .class {
        display: flex;
        gap: 4px;

        &__name,
        &__level {
          .chimera-value {
            &__value {
              @include mixins.text-xl-400;
            }
          }
        }
      }

      .fabula-diamond {
        @include mixins.text-base-400;
      }
    }

    &--view {
    }

    &--edit {
      display: grid;
      gap: 4px;

      // base class info
      .class {
        display: grid;
        grid-template-columns: auto 1fr auto repeat(2, auto);
        gap: 4px;

        &__hide {
          grid-column: 1;
          grid-row: 1;
          align-self: flex-start;
        }

        &__name,
        &__name--view {
          grid-column: 2;
          grid-row: 1;
        }
        &__name--view {
          display: none;
          justify-content: space-between;
          .chimera-input__field {
            @include mixins.text-xxl-400;
          }
        }
        &__level {
          grid-column: 3;
          grid-row: 1;
          align-self: flex-start;
          .chimera-input__field {
            @include mixins.text-xxl-400;
          }
        }
        &__special,
        &__skills_taken {
          grid-column: 2;
          grid-row: 2;
        }
        &__skills_taken {
          display: none;
          flex-direction: row;
          .chimera-input {
            &__label {
              @include mixins.text-base-700;
            }
            &__field {
              @include mixins.text-base-400;
            }
          }
        }

        &__martialmelee,
        &__martialranged {
          grid-row: 1;
        }
        &__benefit,
        &__martialarmor,
        &__martialshield {
          grid-row: 2;
        }

        &__benefit {
          grid-column: -4;
        }

        &__martialarmor,
        &__martialmelee {
          grid-column: -3;
        }
        &__martialranged,
        &__martialshield {
          grid-column: -2;
        }

        &__description {
          grid-column: 1/-1;
        }
      }

      input[name*='class_hide'] {
        &[value='on'] ~ {
          .class__name,
          .class__special,
          .class__martialmelee,
          .class__martialranged,
          .class__benefit,
          .class__martialarmor,
          .class__martialshield,
          .class__description,
          .class__skill {
            display: none;
          }
          .class__level,
          .class__hide {
            grid-row: span 2;
          }

          .class__name--view,
          .class__skills_taken {
            display: flex;
          }
        }
      }

      // class skills
      .class__skill {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 4px;

        padding: 8px;
        padding-top: 4px;

        border-top: none;
        border-radius: 0 0 4px 4px;

        background-color: var(--character-edit-background-secondary);

        &_modifiers,
        &_description {
          grid-column: 1/-1;
        }

        &_description {
          padding-bottom: 4px;
          border-bottom: 2px solid var(--color-fabula-light);
          border-image: var(--fabula-gradient-secondary-border);
        }
      }
    }
  }
}
