.header {
  $this: '.header';

  display: flex;
  flex-wrap: wrap;
  gap: $m-md;

  &-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: $m-lg;

    &__label {
      font-size: $font-h4;
      text-transform: uppercase;
      font-family: $header-font-stack;
      white-space: nowrap;
    }
  }

  &--text,
  &--number {
    font-size: $font-h4;
  }

  &__character_name,
  &__pronouns {
    flex: 1;
  }
}
