@use '../../common/vars' as mixins;

.fabula-ultima .character {
  .fabula-points,
  .inventory {
    @include mixins.fabula-heading;

    &--view {
      .chimera-wrapper {
        display: grid;
        gap: 4px;
        padding-inline: 4px;
      }

      .item {
        &__table {
          display: grid;
          grid-template-columns: 1fr auto 2fr;
          gap: 4px;
        }
      }
    }
  }
}
