@use '../../common/vars' as mixins;

.fabula-ultima {
  .character {
    .points {
      $this: '.points';

      @include mixins.repeater-heading;

      &--edit {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4px;
        align-items: flex-start;

        .point {
          &__hp,
          &__mp,
          &__ip,
          &__initiative {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: 1fr auto;
            // gap: 2px 4px;
            align-items: center;
            justify-content: center;

            &-extra {
              grid-row: span 2;
            }
          }

          &__values {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
          }

          &__helptext {
            grid-column: 1/-2;
            text-align: center;
            @include mixins.text-sm-400;
          }
        }
      }
    }
  }
}
