@use '../../common/vars' as mixins;

.fabula-ultima .character {
  .traits {
    $this: '.traits';

    @include mixins.repeater-heading;

    &--view {
      display: grid;
      grid-template-columns: calc(4 * var(--input-component-size)) 1fr repeat(2, auto);
      grid-template-rows: auto 1fr;
      gap: 4px;

      input[name*='character_avatar']:not([value='']) ~ {
        .trait__avatar {
          display: block;
          grid-row: span 2;
        }
        .trait__name {
          grid-column: span 2;
        }
        .trait__villain,
        .trait__description,
        .trait__traits {
          grid-column: 2 / span 3;
        }
      }

      .trait {
        &__avatar {
          display: none;

          border: 1px solid var(--color-fabula0);
          border-image: var(--fabula-gradient-dark-border);
          height: 10rem;

          img,
          svg {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }

        &__name {
          grid-column: span 3;
          background-image: var(--fabula-gradient-primary);
          color: var(--color-on-dark);
          padding-left: 16px;
          padding-right: 16px;

          display: flex;
          gap: 4px;

          span {
            display: flex;
            align-items: center;
            height: 100%;
            @include mixins.text-xxl-500-fabula;
          }
        }
        &__pronouns {
          &:is(span) {
            display: flex;
            align-items: center;
            height: 100%;
            @include mixins.text-base-500-fabula;
          }
        }

        &__level {
          display: flex;
          gap: 4px;

          padding: 4px 16px;
          border-left: 2px solid var(--color-fabula2);
          border-bottom: 2px solid var(--color-fabula2);
          border-image: var(--fabula-gradient-secondary-border);

          label,
          span {
            @include mixins.text-xl-500-fabula;
            white-space: nowrap;
          }

          input[value='soldier'] {
            ~ span[name*='rank'] {
              font-size: 0;
            }
          }
        }

        &__description {
          grid-column: 1/-1;
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          // border-bottom: 1px solid var(--color-fabula2);
          // border-image: var(--fabula-gradient-primary-border);
          padding: 4px;
        }

        &__identity {
          grid-column: 1/-1;
        }
      }
    }

    &--edit {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4px;

      .trait {
        &__name {
          grid-column: span 2;
        }
      }
    }
  }
}
