@use '../../common/vars' as mixins;

.fabula-ultima .character {
  .traits {
    $this: '.traits';

    @include mixins.repeater-heading;

    &--view {
    }

    &--edit {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4px;

      .trait {
        &__name {
          grid-column: span 2;
        }
      }
    }
  }
}
