@use '../common/vars' as *;
@use '../common/vars' as mixins;

.fabula-ultima {
  &__header {
    display: flex;
    gap: 4px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;

    margin-inline: 8px;

    max-width: 45rem;

    .sheet-type {
      grid-column: -1;
      justify-content: flex-end;
    }
  }
}
