-
  spine.character.controllers = {
    actions: [
      {
        name: 'rest',
        label: 'Rest & Recover',
        title: 'When a Player Character rests, they enjoy the following benefits: They recover all of their Hit Points and Mind Points. They recover from all status effects.',
        icon: 'magictent',
        type: 'action',
        css: {
          names: ['action__rest'],
          modifiers: [],
        }
      }
    ]
  }
