-
  spine.character.controllers = {
    actions: [
      {
        name: 'rest',
        label: 'Rest & Recover',
        title: 'When a Player Character rests, they enjoy the following benefits: They recover all of their Hit Points and Mind Points. They recover from all status effects.',
        icon: 'magictent',
        type: 'action',
        css: {
          names: ['action__rest'],
          modifiers: [],
        }
      },
      {
        name: 'initiative',
        label: 'Initiative',
        title: 'Player Characters perform a【DEX+INS】 Initiative Group Check to determine which side acts first. The Difficulty Level for this Check equals the highest Initiative among their adversaries.',
        type: 'action',
        icon: 'sword',
        css: {
          names: ['action__initative'],
          modifiers: [],
        }
      }
    ]
  }
