-
  spine.character.quirks = {
    heading: { name: 'quirks', label: 'Quirks' },
    hidden: [],
    view: [
      {
        name: 'quirk_name',
        css: { names: ['quirk__name'], modifiers: ['no-label-bold'] },
      },
      {
        name: 'quirk_type',
        css: { names: ['quirk__type'] },
      },
      {
        name: 'quirk_description',
        css: { names: ['quirk__description'] },
      },
      {
        name: 'quirk_effect',
        css: { names: ['quirk__effect'] },
      },
    ],
    fields: [
      {
        name: 'quirk_name',
        label: 'Quirk',
        type: 'text',
        css: { names: ['quirk__name'] },
      },
      {
        name: 'quirk_type',
        label: 'Quirk Type',
        type: 'text',
        css: { names: ['quirk__type'] },
      },
      {
        name: 'quirk_description',
        label: 'Description',
        type: 'textarea',
        css: { names: ['quirk__description'] },
      },
      {
        name: 'quirk_effect',
        label: 'Effect',
        type: 'textarea',
        css: { names: ['quirk__effect'] },
      },
    ]
  };

  spine.character.zeropowers = {
    heading: { name: 'zero_powers', label: 'Zero Powers' },
    hidden: [],
    view: [
      {
        name: 'zero_trigger',
        label: 'Trigger',
        css: {
          names: ['zero-power__trigger'],
          modifiers: []
        }
      },
      {
        name: 'zero_clock',
        label: 'Clock',
        css: {
          names: ['zero-power__clock'],
          modifiers: []
        }
      },
      {
        name: 'zero_clock_max',
        label: 'Clock_Max',
        css: {
          names: ['zero-power__clock_max'],
          modifiers: []
        }
      },
      {
        name: 'zero_trigger_fill',
        label: 'Trigger_Fill',
        css: {
          names: ['zero-power__trigger_fill'],
          modifiers: []
        }
      },
      {
        name: 'zero_description',
        label: 'Description',
        css: {
          names: ['zero-power__description'],
          modifiers: []
        }
      },
    ],
    fields: [
      {
        name: 'zero_trigger',
        label: 'Trigger',
        type: 'text',
        css: {
          names: ['zero-power__trigger'],
          modifiers: []
        }
      },
      {
        name: 'zero_clock',
        label: 'Clock',
        type: 'text',
        css: {
          names: ['zero-power__clock'],
          modifiers: []
        }
      },
      {
        name: 'zero_clock_max',
        label: 'Clock_Max',
        type: 'text',
        css: {
          names: ['zero-power__clock_max'],
          modifiers: []
        }
      },
      {
        name: 'zero_trigger_fill',
        label: 'Trigger_Fill',
        type: 'text',
        css: {
          names: ['zero-power__trigger_fill'],
          modifiers: []
        }
      },
      {
        name: 'zero_description',
        label: 'Description',
        type: 'text',
        css: {
          names: ['zero-power__description'],
          modifiers: []
        }
      },
    ]
  }
