-
  spine.character.quirks = {
    heading: { name: 'quirks', label: 'Quirks' },
    hidden: [],
    view: [
      {
        name: 'quirk_name',
        css: { names: ['quirk__name'], modifiers: ['no-label-bold'] },
      },
      {
        name: 'quirk_type',
        css: { names: ['quirk__type'] },
      },
      {
        name: 'quirk_description',
        css: { names: ['quirk__description'] },
      },
      {
        name: 'quirk_effect',
        css: { names: ['quirk__effect'] },
      },
    ],
    fields: [
      {
        name: 'quirk_name',
        label: 'Quirk',
        type: 'text',
        css: { names: ['quirk__name'] },
      },
      {
        name: 'quirk_type',
        label: 'Quirk Type',
        type: 'text',
        css: { names: ['quirk__type'] },
      },
      {
        name: 'quirk_description',
        label: 'Description',
        type: 'textarea',
        css: { names: ['quirk__description'] },
      },
      {
        name: 'quirk_effect',
        label: 'Effect',
        type: 'textarea',
        css: { names: ['quirk__effect'] },
      },
    ]
  };

  spine.character.zeropowers = {
    heading: { name: 'zero_powers', label: 'Zero Powers' },
    hidden: [],
    view: [
      {
        name: 'zero_hide',
        label: 'Hide Zero Power',
        type: 'toggle',
        icon: 'expand',
        iconOff: 'collapse',
        css: { names: ['zero-power_hide'], modifiers: ['hide-label', 'tiny'] },
      },
      {
        name: 'zero_name',
        css: {
          names: ['zero-power__name'],
          modifiers: []
        }
      },
      {
        name: 'zero_description',
        css: {
          names: ['zero-power__description'],
          modifiers: []
        }
      },
      {
        name: 'zero_effect',
        label: 'Zero Effect',
        css: {
          names: ['zero-power__effect'],
          modifiers: []
        }
      },
      {
        name: 'zero_effect_description',
        css: {
          names: ['zero-power__effect_description'],
          modifiers: []
        }
      },
      {
        name: 'zero_trigger',
        label: 'Zero Trigger',
        css: {
          names: ['zero-power__trigger'],
          modifiers: []
        }
      },
      {
        name: 'zero_clock',
        type: 'arithmetic',
        css: {
          names: ['zero-power__clock'],
          modifiers: ['small', 'center'],
        }
      },
      {
        name: 'zero_clock_max',
        css: {
          names: ['zero-power__clock_max'],
          modifiers: [],
        }
      },
      {
        name: 'zero_trigger_step',
        labelOverride: { key: 'per_trigger', label: 'per Trigger' },
        title: 'Fill Clock Per Trigger',
        css: {
          names: ['zero-power__trigger_step'],
          modifiers: [],
        }
      },
      {
        name: 'zero_trigger_effect',
        css: {
          names: ['zero-power__trigger_effect'],
          modifiers: []
        }
      },
    ],
    delete: [
      {
        name: 'zero_name',
        css: { names: ['zero__name'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'zero_name',
        label: 'Zero Power',
        type: 'text',
        css: {
          names: ['zero-power__name'],
          modifiers: []
        }
      },
      {
        name: 'zero_description',
        label: 'Zero Power Description',
        type: 'textarea',
        css: {
          names: ['zero-power__description'],
          modifiers: []
        }
      },
      {
        name: 'zero_trigger',
        label: 'Zero Trigger',
        type: 'text',
        css: {
          names: ['zero-power__trigger'],
          modifiers: []
        }
      },
      {
        name: 'zero_clock',
        label: 'Clock',
        type: 'number',
        css: {
          names: ['zero-power__clock'],
          modifiers: ['small', 'center'],
        }
      },
      {
        name: 'zero_clock_max',
        label: 'Clock Max',
        type: 'number',
        css: {
          names: ['zero-power__clock_max'],
          modifiers: ['small', 'center'],
        }
      },
      {
        name: 'zero_trigger_step',
        label: 'Filled Sections',
        title: 'Zero Power Clock Sections Filled Per Trigger',
        type: 'number',
        css: {
          names: ['zero-power__trigger_step'],
          modifiers: ['small', 'center'],
        }
      },
      {
        name: 'zero_trigger_effect',
        label: 'Zero Trigger Effect',
        type: 'textarea',
        css: {
          names: ['zero-power__trigger_effect'],
          modifiers: []
        }
      },
      {
        name: 'zero_effect',
        label: 'Zero Effect',
        type: 'text',
        css: {
          names: ['zero-power__effect'],
          modifiers: []
        }
      },
      {
        name: 'zero_effect_description',
        label: 'Zero Effect Description',
        type: 'textarea',
        css: {
          names: ['zero-power__effect_description'],
          modifiers: []
        }
      },
    ]
  }
