-
  spine.character.notes = {
    fields: [
      {
        name: 'note_name',
        label: 'Note',
        type: 'text',
        css: { names: ['note__name'] },
      },
      {
        name: 'note_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['note__effect'] },
      },
    ],
  }

  spine.character.quests = {
    fields: [
      {
        name: 'quest_name',
        label: 'Quest',
        type: 'text',
        css: { names: ['quest__name'] },
      },
      {
        name: 'quest_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['quest__effect'] },
      },
    ],
  }

  spine.character.projects = {
    fields: [
      {
        name: 'project_name',
        label: 'Project',
        type: 'text',
        css: { names: ['project__name'] },
      },
      {
        name: 'project_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['project__effect'] },
      },
    ],
  }

  spine.character.characters = {
    fields: [
      {
        name: 'character_name',
        label: 'Character',
        type: 'text',
        css: { names: ['character__name'] },
      },
      {
        name: 'character_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['character__effect'] },
      },
    ],
  }

  spine.character.creatures = {
    fields: [
      {
        name: 'creature_name',
        label: 'Creature',
        type: 'text',
        css: { names: ['creature__name'] },
      },
      {
        name: 'creature_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['creature__effect'] },
      },
    ],
  }

  spine.character.locations = {
    fields: [
      {
        name: 'location_name',
        label: 'Location',
        type: 'text',
        css: { names: ['location__name'] },
      },
      {
        name: 'location_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['location__effect'] },
      },
    ],
  }

  spine.character.artifacts = {
    fields: [
      {
        name: 'artifact_name',
        label: 'Artifact',
        type: 'text',
        css: { names: ['artifact__name'] },
      },
      {
        name: 'artifact_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['artifact__effect'] },
      },
    ],
  }

  spine.character.discoveries = {
    fields: [
      {
        name: 'discoverie_name',
        label: 'Discoverie',
        type: 'text',
        css: { names: ['discoverie__name'] },
      },
      {
        name: 'discoverie_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['discoverie__effect'] },
      },
    ],
  }

  spine.character.items = {
    fields: [
      {
        name: 'item_name',
        label: 'Item',
        type: 'text',
        css: { names: ['item__name'] },
      },
      {
        name: 'item_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['item__effect'] },
      },
    ],
  }
