-
  spine.character.notes = {
    heading: {
      name: 'notes',
      label: 'Notes',
    },
    hidden: [],
    view: [
      {
        name: 'note_name',
        css: { names: ['note__name'], modifiers:  ['no-label-bold'] },
      },
      {
        name: 'note_effect',
        css: { names: ['note__effect'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'note_name',
        css: { names: ['note__name'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'note_name',
        label: 'Note',
        type: 'text',
        css: { names: ['note__name'] },
      },
      {
        name: 'note_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['note__effect'] },
      },
    ],
  }

  spine.character.quests = {
    heading: {
      name: 'quests',
      label: 'Quests',
    },
    hidden: [],
    view: [
      {
        name: 'quest_name',
        css: { names: ['quest__name'], modifiers:  ['no-label-bold'] },
      },
      {
        name: 'quest_effect',
        css: { names: ['quest__effect'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'quest_name',
        css: { names: ['quest__name'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'quest_name',
        label: 'Quest',
        type: 'text',
        css: { names: ['quest__name'] },
      },
      {
        name: 'quest_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['quest__effect'] },
      },
    ],
  }

  spine.character.projects = {
    heading: {
      name: 'projects',
      label: 'Projects',
    },
    hidden: [],
    view: [
      {
        name: 'project_name',
        css: { names: ['project__name'], modifiers:  ['no-label-bold'] },
      },
      {
        name: 'project_effect',
        css: { names: ['project__effect'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'project_name',
        css: { names: ['project__name'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'project_name',
        label: 'Project',
        type: 'text',
        css: { names: ['project__name'] },
      },
      {
        name: 'project_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['project__effect'] },
      },
    ],
  }

  spine.character.friends = {
    heading: {
      name: 'friends',
      label: 'Friends',
    },
    hidden: [],
    view: [
      {
        name: 'friend_name',
        css: { names: ['friend__name'], modifiers:  ['no-label-bold'] },
      },
      {
        name: 'friend_effect',
        css: { names: ['friend__effect'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'friend_name',
        css: { names: ['friend__name'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'friend_name',
        label: 'Character',
        type: 'text',
        css: { names: ['friend__name'] },
      },
      {
        name: 'friend_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['friend__effect'] },
      },
    ],
  }

  spine.character.creatures = {
    heading: {
      name: 'creatures',
      label: 'Creatures',
    },
    hidden: [],
    view: [
      {
        name: 'creature_name',
        css: { names: ['creature__name'], modifiers:  ['no-label-bold'] },
      },
      {
        name: 'creature_effect',
        css: { names: ['creature__effect'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'creature_name',
        css: { names: ['creature__name'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'creature_name',
        label: 'Creature',
        type: 'text',
        css: { names: ['creature__name'] },
      },
      {
        name: 'creature_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['creature__effect'] },
      },
    ],
  }

  spine.character.locations = {
    heading: {
      name: 'locations',
      label: 'Locations',
    },
    hidden: [],
    view: [
      {
        name: 'location_name',
        css: { names: ['location__name'], modifiers:  ['no-label-bold'] },
      },
      {
        name: 'location_effect',
        css: { names: ['location__effect'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'location_name',
        css: { names: ['location__name'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'location_name',
        label: 'Location',
        type: 'text',
        css: { names: ['location__name'] },
      },
      {
        name: 'location_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['location__effect'] },
      },
    ],
  }

  spine.character.artifacts = {
    heading: {
      name: 'artifacts',
      label: 'Artifacts',
    },
    hidden: [],
    view: [
      {
        name: 'artifact_name',
        css: { names: ['artifact__name'], modifiers:  ['no-label-bold'] },
      },
      {
        name: 'artifact_effect',
        css: { names: ['artifact__effect'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'artifact_name',
        css: { names: ['artifact__name'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'artifact_name',
        label: 'Artifact',
        type: 'text',
        css: { names: ['artifact__name'] },
      },
      {
        name: 'artifact_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['artifact__effect'] },
      },
    ],
  }

  spine.character.discoveries = {
    heading: {
      name: 'discoveries',
      label: 'Discoveries',
    },
    hidden: [],
    view: [
      {
        name: 'discovery_name',
        css: { names: ['discovery__name'], modifiers:  ['no-label-bold'] },
      },
      {
        name: 'discovery_effect',
        css: { names: ['discovery__effect'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'discovery_name',
        css: { names: ['discovery__name'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'discovery_name',
        label: 'Discovery',
        type: 'text',
        css: { names: ['discovery__name'] },
      },
      {
        name: 'discovery_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['discovery__effect'] },
      },
    ],
  }

  spine.character.items = {
    heading: {
      name: 'items',
      label: 'Items',
    },
    hidden: [],
    view: [
      {
        name: 'item_name',
        css: { names: ['item__name'], modifiers:  ['no-label-bold'] },
      },
      {
        name: 'item_effect',
        css: { names: ['item__effect'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'item_name',
        css: { names: ['item__name'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'item_name',
        label: 'Item',
        type: 'text',
        css: { names: ['item__name'] },
      },
      {
        name: 'item_effect',
        label: 'Details',
        type: 'textarea',
        css: { names: ['item__effect'] },
      },
    ],
  }
