-
  spine.character.nav = [
    {
      name: 'stats', label: 'Stats', title: 'Stats'
    },
    {
      name: 'bonds', label: 'Bonds', title: 'Bonds'
    },
    {
      name: 'classes', label: 'Classes', title: 'Classes'
    },
    {
      name: 'spells', label: 'Spells', title: 'Spells'
    }
  ]
