-
  spine.character.nav = {
    view: [
      {
        name: 'meta', label: 'Meta', title: 'Meta'
      },
      {
        name: 'conflict', label: 'Conflict', title: 'Conflict'
      },
      {
        name: 'backpack', label: 'Backpack', title: 'Backpack'
      },
      {
        name: 'classes', label: 'Classes', title: 'Classes'
      },
      {
        name: 'journal', label: 'Journal', title: 'Journal'
      },
      {
        name: 'settings', label: 'Settings', title: 'Settings'
      }
    ],
    edit: [
      {
        name: 'stats', label: 'Stats', title: 'Stats'
      },
      {
        name: 'bonds', label: 'Bonds', title: 'Bonds'
      },
      {
        name: 'classes', label: 'Classes', title: 'Classes'
      },
      {
        name: 'equipment', label: 'Equipment', title: 'Equipment'
      },
      {
        name: 'backpack', label: 'Backpack', title: 'Backpack'
      },
      {
        name: 'magic', label: 'Magic', title: 'Magic'
      },
      {
        name: 'journal', label: 'Journal', title: 'Journal'
      },
      {
        name: 'settings', label: 'Settings', title: 'Settings'
      }
    ]
  }
