-
  spine.character.points = {
    hidden: ['hp_crisis', 'initiative_total'],
    view : [
      {
        name: 'hp',
        label: 'HP',
        title: 'Hit Points',
        css: { names: ['point--hp'], modifiers: [] },
      },
      {
        name: 'hp_crisis',
        label: 'HP Crisis',
        title: `If your current HP is at or below this number, your are considered "in Crisis", which means you're not looking good — you're having a bad day and it shows.`,
        css: { names: ['point--hp_crisis'], modifiers: ['nowrap', 'hide-label'] },
      },
      {
        name: 'mp',
        label: 'MP',
        title: 'Mind Points',
        css: { names: ['point--mp'], modifiers: [] },
      },
      {
        name: 'ip',
        label: 'Inventory Points',
        title: 'Inventory Points',
        css: { names: ['point--ip'], modifiers: [] },
      },
      {
        name: 'initiative',
        label: 'Initiative',
        title: 'Player Characters perform a【DEX+INS】 Initiative Group Check to determine which side acts first. The Difficulty Level for this Check equals the highest Initiative among their adversaries.',
        css: { names: ['point--initiative'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'hp',
        label: 'HP',
        title: 'Hit Points',
        type: 'number',
        css: { names: ['point--hp'] },
      },
      {
        name: 'hp_max',
        label: 'HP Max',
        title: 'Hit Points',
        type: 'number',
        css: { names: ['point--hp'] },
      },
      {
        name: 'hp_crisis',
        label: 'HP Crisis',
        title: `If your current HP is at or below this number, your are considered "in Crisis", which means you're not looking good — you're having a bad day and it shows.`,
        type: 'number',
        css: { names: ['point--hp_crisis'], modifiers: ['nowrap'] },
      },
      {
        name: 'hp_extra',
        label: 'Extra HP',
        type: 'number',
        step: 5,
        css: { names: ['point--hp-extra'], modifiers: ['small', 'center'] },
      },
      {
        name: 'mp',
        label: 'MP',
        title: 'Mind Points',
        type: 'number',
        css: { names: ['point--mp'] },
      },
      {
        name: 'mp_max',
        label: 'MP Max',
        title: 'Mind Points',
        type: 'number',
        css: { names: ['point--mp'] },
      },
      {
        name: 'mp_extra',
        label: 'Extra MP',
        type: 'number',
        step: 5,
        css: { names: ['point--mp-extra'], modifiers: ['small', 'center'] },
      },
      {
        name: 'ip',
        label: 'Inventory Points',
        title: 'Inventory Points',
        type: 'number',
        css: { names: ['point--ip'] },
      },
      {
        name: 'ip_max',
        label: 'IP Max',
        title: 'Inventory Points Max',
        type: 'number',
        css: { names: ['point--ip'] },
      },
      {
        name: 'ip_extra',
        label: 'Extra IP',
        type: 'number',
        step: 2,
        css: { names: ['point--mp-extra'], modifiers: ['small', 'center'] },
      },
      {
        name: 'initiative',
        label: 'Initiative',
        title: 'Player Characters perform a【DEX+INS】 Initiative Group Check to determine which side acts first. The Difficulty Level for this Check equals the highest Initiative among their adversaries.',
        type: 'number',
        css: { names: ['point--initiative'] },
      },
      {
        name: 'initiative_extra',
        label: 'Extra Init.',
        title: 'Extra Initiative',
        type: 'number',
        css: { names: ['point--init-extra'], modifiers: ['small', 'center'] },
      },
      {
        name: 'fabula_points',
        label: 'Fabula Points',
        title: 'Fabula Points',
        type: 'number',
        value: 0,
        min: 0,
        css: { names: ['point--fabula'], modifiers: ['small', 'center', 'column-reverse'] },
      },
      {
        name: 'spend_fabula_points',
        label: 'Declare and Spend Fabula Point',
        title: 'Spend Fabula Points',
        placeholder: 'Declare to chat how you wish to spend Fabula Point',
        type: 'text',
        css: { names: ['point--spend-fabula'], modifiers: [] },
      },
      {
        name: 'experience_points',
        label: 'Experience Points',
        title: 'Experience Points',
        type: 'number',
        value: 0,
        min: 0,
        css: { names: ['point--xp'], modifiers: ['small', 'center', 'column-reverse'] },
      },
    ],
    fabula: [
      [
        {
          name: 'fabula_gain_on_session_start',
          content: '+1 Fabula Point if you have none at the start of the session.',
          css: { names : ['gaining-fabula'], modifiers: ['bullet', 'helptext'] },
        },
        {
          name: 'fabula_gain_on_fumble_check',
          content: '+1 Fabula Point when you fumble a check.',
          css: { names : ['gaining-fabula'], modifiers: ['bullet', 'helptext'] },
        },
        {
          name: 'fabula_gain_on_villain_entrance',
          content: '+1 Fabula Point when a Villain makes an entrance.',
          css: { names : ['gaining-fabula'], modifiers: ['bullet', 'helptext'] },
        },
        {
          name: 'fabula_gain_on_surrender',
          content: '+2 Fabula Point if you surrender at zero HP.',
          css: { names : ['gaining-fabula'], modifiers: ['bullet', 'helptext'] },
        },
      ],
      [
        {
          name: 'fabula_spend_to_reroll_dice',
          content: 'Spend 1 Fabula Point after performing a Check to invoke a trait to reroll one or both dice (not a fumble).',
          css: { names : ['spending-fabula'], modifiers: ['bullet', 'helptext'] },
        },
        {
          name: 'fabula_spend_to_invoke_bond',
          content: 'Spend 1 Fabula Point after performing a Check to invoke a bond and add its strength to the result (once per check).',
          css: { names : ['spending-fabula'], modifiers: ['bullet', 'helptext'] },
        },
        {
          name: 'fabula_spend_to_alter_the_story',
          content: 'Spend 1 Fabula Point to alter the story. If you alter an existing element, you need permission from whoever introduced it.',
          css: { names : ['spending-fabula'], modifiers: ['bullet', 'helptext'] },
        },
      ],
    ],
    experience: [
      {
        name: 'experience_automatic_five',
        content: 'At the end of each session, you automatically gain 5 XP. Then:',
        css: { names : ['gaining-experience'], modifiers: ['helptext'] },
      },
      {
        name: 'experience_fabula_spent',
        content: 'Gain XP equal to (Fabula Points spent by the group / number of Player Characters)',
        css: { names : ['gaining-experience'], modifiers: ['bullet', 'helptext'] },
      },
      {
        name: 'experience_ultima_spent',
        content: 'Gain XP equal to Ultima Points spent by Villains',
        css: { names : ['gaining-experience'], modifiers: ['bullet', 'helptext'] },
      },
      {
        name: 'experience_level_up',
        content: 'Finally, if you have 10 or more Experience Points, you must spend ten of those points and increase your character level by one—you keep any Experience Points in excess.',
        css: { names : ['gaining-experience'], modifiers: ['helptext'] },
      },
    ]
  };
