-
  spine.character.traits = {
    heading: { name: 'traits', label: 'Traits' },
    hidden:[],
    view:[],
    delete:[],
    fields: [
      {
        name: 'character_name',
        label: 'Name',
        type: 'text',
        css: { names: ['trait__name'], modifiers:[] },
      },
      {
        name: 'pronouns',
        label: 'Pronouns',
        type: 'text',
        css: { names: ['trait__pronouns'], modifiers:[] },
      },
      {
        name: 'identity',
        label: 'Identity',
        type: 'text',
        css: { names: ['trait__identity'], modifiers:[] },
      },
      {
        name: 'theme',
        label: 'Theme',
        type: 'text',
        css: { names: ['trait__theme'], modifiers:[] },
      },
      {
        name: 'origin',
        label: 'Origin',
        type: 'text',
        css: { names: ['trait__origin'], modifiers:[] },
      },
    ],
  };
