@mixin layout-gaps {
  $gaps: 4, 8, 12, 16;
  @each $gap in $gaps {
    &--gap-#{$gap} {
      gap: #{$gap};
    }
  }
}

@mixin sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  // position: absolute;
  width: 1px;
}

@mixin hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}
