//-【INS + WLP】
mixin fabula-check(att1, att2, precision)
  .fabula-check
    +chimera-span(att1)
    span +
    +chimera-span(att2)
    if precision
      input(name=`attr_${precision.name}`, type='hidden')
      span.fabula-check__precision +
      +chimera-span(precision).fabula-check__precision
