include ../chimera/pug/chimera
include layout/spine
include components/mixins

+chimera-hidden('sheet_version', '')
+chimera-hidden('sheet_migrations', '')
+chimera-hidden('sheet_type', 'character')
+chimera-hidden(spine.shared.modes.name, 'on')
+chimera-hidden('show_settings')
.fabula-ultima
  header.fabula-ultima__header
    +chimera-input(spine.shared.modes, 0)
    +chimera-input(spine.gm.sheet)
    +chimera-input(spine.shared.settings.button)

  main.character
    include pages/character
    +chimera-hidden('nav', 'stats')
    +character-view(spine.character)
    +character-edit(spine.character)
  main.bestiary
    include pages/bestiary
    +chimera-hidden('nav', 'stats')
    +bestiary-view(spine.bestiary)
    +bestiary-edit(spine.bestiary)
  main.gm
    span [GM]

  aside.settings
    +settings(spine.shared)

  footer
    +chimera-value({ name: 'sheet_version', label: 'Version' })

include templates/rolltemplates

script(type='text/worker')
  include ../fabula-ultima.js
