@use '../../common/vars' as *;
@use '../../common/vars' as mixins;

.fabula-ultima .bestiary {
  .affinities {
    &--edit {
      display: grid;
      gap: 4px;

      @media (min-width: $breakpoint-xs) {
        grid-row: span 2;
      }
    }
  }
}
