@use '../../common/vars' as mixins;

.fabula-ultima .bestiary {
  .attributes {
    $this: '.attributes';

    &__distribution {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &--edit {
      display: grid;
      gap: 4px;

      .attribute {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 4px;

        align-items: center;
        justify-content: center;

        .chimera-input {
          &__label {
            @include mixins.text-xl-400;
          }
          &__field {
            align-self: normal;
          }
        }
      }
    }
  }
}
