@use '../../common/vars' as *;
@use '../../common/vars' as mixins;

.bio {
  $this: '.bio';

  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(3, auto);
  gap: 4px;

  input[name*='rank'] {
    &[value='companion'] ~ #{$this} {
      &__villain {
        display: none;
      }
    }
    &:not([value='companion']) ~ #{$this} {
      &__companion_skill_level,
      &__pc_level {
        display: none;
      }
    }
  }

  &__name {
    // grid-column: span 2;
  }

  &__traits {
    grid-column: span 3;
  }

  &__rank,
  &__villain,
  &__multipart,
  &__createdby {
    grid-column: span 2;
  }

  &__species,
  &__rank,
  &__villain,
  &__companion_skill_level,
  &__pc_level {
    grid-row: 2;
  }

  &__companion_skill_level {
    grid-column: 4;
  }
  &__pc_level {
    grid-column: 5;
  }

  &__phases,
  &__multipart,
  &__createdby {
    grid-row-start: 3;
  }

  &__description {
    grid-column: 1/-1;
  }
}
