@use '../../common/vars' as *;
@use '../../common/vars' as mixins;

.defenses {
  $this: '.defenses';

  display: flex;
  flex-direction: column;
  gap: 4px;

  &__container {
    grid-column: span 2;
  }
}

.defense {
  display: grid;
  grid-template-columns: 1fr auto;

  gap: 4px;
  align-items: center;
  justify-content: center;
}
