@use '../../common/vars' as mixins;

.fabula-ultima .bestiary {
  .defenses {
    $this: '.defenses';

    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 4px;

    &__container {
      grid-column: span 2;
    }
  }

  .defense {
    display: grid;
    grid-template-columns: 1fr auto;

    gap: 4px;
    align-items: center;
    justify-content: center;

    &__quick {
      grid-column: 1/-1;
      grid-template-columns: 1fr;
    }
  }
}
