@use '../../common/vars' as mixins;

.fabula-ultima .bestiary {
  .defenses {
    $this: '.defenses';

    &--view {
    }
    &--edit {
      display: grid;
      gap: 4px;

      .defense {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 4px;

        &__quick {
          grid-column: 1/-1;
          grid-template-columns: 1fr;

          .chimera-input {
            &__label {
              @include mixins.text-xl-400-fabula;
            }
          }
        }
      }
    }
  }
}
