@use '../../common/vars' as *;
@use '../../common/vars' as mixins;

.fabula-ultima .bestiary {
  .ultima-points {
    $this: '.ultima-points';

    &--view {
      grid-column: 1/-1;

      display: grid;
      grid-template-columns: 5rem 1fr;
      gap: 4px;

      align-items: center;
      justify-content: center;

      padding: 0 4px;

      input[name*='villain'] {
        &[value=''],
        &[value='0'],
        &[value='none'],
        &:not([value]) {
          ~ .point--ultima,
          ~ .point__spending-ultima {
            display: none;
          }
        }
      }
      .point {
        &--ultima {
          .chimera-input__field {
            font-size: 2.5rem;
            align-self: center;
            border-radius: 50%;
            height: 4rem;
            width: 4rem;
            text-align: center;
            padding: 0;
          }
        }
        &__spending-ultima {
          padding: 4px;
          .spending-ultima {
            .chimera-value__label {
              @include mixins.text-lg-700;
            }
          }
        }
      }
    }
  }

  .points {
    $this: '.points';

    @include mixins.fabula-heading;

    &__heading--edit {
      justify-content: center;
    }

    &--edit {
      display: grid;
      gap: 4px;
      align-items: flex-start;
      grid-template-columns: repeat(2, 1fr);

      @media (min-width: $breakpoint-sm) {
        grid-template-columns: repeat(4, 1fr);
      }

      .point {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr auto;
        gap: 4px;
        align-items: flex-start;
        justify-content: center;

        &-extra {
          grid-row: span 2;
        }

        .chimera-value {
          display: grid;
          grid-template-columns: minmax(5rem, 1fr) 1fr;
        }

        &__values {
          display: grid;
          align-items: center;
          gap: 4px;

          &--crisis {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 4px;
          }
        }

        &__helptext {
          grid-column: 1/-1;
          @include mixins.text-sm-400;
        }
      }
    }
  }
}
