@use '../../common/vars' as mixins;

.fabula-ultima .bestiary {
  .points {
    $this: '.point';

    &--view {
      display: grid;
      gap: 4px;
      padding-inline: 4px;

      input[name*='villain'] {
        &[value=''],
        &[value='0'],
        &[value='none'],
        &:not([value]) {
          ~ .points__ultima {
            display: none;
          }
        }
      }

      .points {
        &__ultima {
          display: grid;
          grid-template-columns: auto 1fr;
          gap: 4px;

          align-items: center;
          justify-content: center;
        }
      }
      .point {
        &__ultima {
          .chimera-input__field {
            font-size: 2.5rem;
            align-self: center;
          }
        }
        &__spending-ultima {
          padding: 4px;
          .spending-ultima {
            .chimera-value__label {
              @include mixins.text-lg-700;
            }
            &:first-of-type {
              .chimera-value__value {
                @include mixins.text-xl-400-fabula;
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }

    &--edit {
      .point {
      }
    }
  }
  .points-controller {
    display: flex;
    gap: 4px;

    .chimera-arithmetic {
      &__label {
        width: var(--input-component-size);
        padding: 4px;
      }
      &__field {
        background-color: var(--color-on-dark);
      }
    }

    &__hp {
      .chimera-arithmetic {
        &__label {
          background-color: var(--color-hp);
          color: var(--color-on-dark);
        }
      }
    }
    &__mp {
      .chimera-arithmetic {
        &__label {
          background-color: var(--color-mp);
          color: var(--color-on-dark);
        }
      }
    }
    &__up {
      .chimera-arithmetic {
        &__label {
          background-color: var(--color-up);
          color: var(--color-on-dark);
        }
      }
    }
  }

  .study {
    display: flex;
    align-items: center;
    gap: 4px;

    &__label {
      @include mixins.text-lg-400;
      text-transform: uppercase;
    }
    .chimera-value__label {
      margin-left: 4px;
    }
  }
}
