mixin weapons-view(spine)
  +chimera-hidden('weapons_empty').chimera-repeater--empty-hide-next
  .weapons
    +fabula-heading-view('weapons', spine.weapons.heading)
    +chimera-repeater('weapons')
      +chimera-block('view')
        .weapon
          - const weapon = fieldDictionary(spine.weapons.view, 'weapon');
          each field in spine.weapons.hidden
            +chimera-hidden(field)

          +chimera-action({ name: 'weaponattack', title: 'Weapon Attack' }).weapon__roll
            each range in rangeOptions
              +chimera-icon(range)(class=`weapon__range--${range.name}`)
            .weapon__attack
              +chimera-span(weapon.name).weapon__name

          .weapon__check
            +fabula-check(weapon.attr1, weapon.attr2, weapon.accuracy_total, weapon.damage_total)

          +chimera-value(weapon.type)

          +chimera-value(weapon.special)

mixin weapons-edit(spine)
  .weapons
    +fabula-heading-edit('weapons', spine.weapons.heading)
    .weapons__accuracy
      +fabula-subheading-edit('accuracy', { name: 'weapon_mastery', label: 'Weapon Mastery' })
      each field in spine.accuracy.fields
        - console.log(field);
        +chimera-input(field)
    +chimera-repeater('weapons')
      +chimera-block('delete')
        .weapon
          - const [name, att1, att2, accuracy] = spine.weapons.delete;
          +chimera-value(name)
          +fabula-diamond
          +fabula-check(att1, att2, accuracy)
      +chimera-block('edit')
        .weapon
          each field in spine.weapons.hidden
            +chimera-hidden(field)
          each field in spine.weapons.fields
            +chimera-input(field)
