mixin notes-view(spine)
  +chimera-hidden('notes_empty').chimera-repeater--empty-hide-next
  .notes
    +fabula-heading-view('notes', spine.notes.heading)
    +chimera-repeater('notes')
      +chimera-block('view')
        .note
          - const note = fieldDictionary(spine.notes.view, 'note');
          +chimera-value(note.name)
          +send-to-chat('note')
          +chimera-value(note.effect)

mixin quests-view(spine)
  +chimera-hidden('quests_empty').chimera-repeater--empty-hide-next
  .quests
    +fabula-heading-view('quests', spine.quests.heading)
    +chimera-repeater('quests')
      +chimera-block('view')
        .quest
          - const quest = fieldDictionary(spine.quests.view, 'quest');
          +chimera-value(quest.name)
          +send-to-chat('quest')
          +chimera-value(quest.effect)

mixin friends-view(spine)
  +chimera-hidden('friends_empty').chimera-repeater--empty-hide-next
  .friends
    +fabula-heading-view('friends', spine.friends.heading)
    +chimera-repeater('friends')
      +chimera-block('view')
        .friend
          - const friend = fieldDictionary(spine.friends.view, 'friend');
          +chimera-value(friend.name)
          +send-to-chat('friend')
          +chimera-value(friend.effect)

mixin creatures-view(spine)
  +chimera-hidden('creatures_empty').chimera-repeater--empty-hide-next
  .creatures
    +fabula-heading-view('creatures', spine.creatures.heading)
    +chimera-repeater('creatures')
      +chimera-block('view')
        .creature
          - const creature = fieldDictionary(spine.creatures.view, 'creature');
          +chimera-value(creature.name)
          +send-to-chat('creature')
          +chimera-value(creature.effect)

mixin locations-view(spine)
  +chimera-hidden('locations_empty').chimera-repeater--empty-hide-next
  .locations
    +fabula-heading-view('locations', spine.locations.heading)
    +chimera-repeater('locations')
      +chimera-block('view')
        .location
          - const location = fieldDictionary(spine.locations.view, 'location');
          +chimera-value(location.name)
          +send-to-chat('location')
          +chimera-value(location.effect)

mixin artifacts-view(spine)
  +chimera-hidden('artifacts_empty').chimera-repeater--empty-hide-next
  .artifacts
    +fabula-heading-view('artifacts', spine.artifacts.heading)
    +chimera-repeater('artifacts')
      +chimera-block('view')
        .artifact
          - const artifact = fieldDictionary(spine.artifacts.view, 'artifact');
          +chimera-value(artifact.name)
          +send-to-chat('artifact')
          +chimera-value(artifact.effect)

mixin discoveries-view(spine)
  +chimera-hidden('discoveries_empty').chimera-repeater--empty-hide-next
  .discoveries
    +fabula-heading-view('discoveries', spine.discoveries.heading)
    +chimera-repeater('discoveries')
      +chimera-block('view')
        .discovery
          - const discovery = fieldDictionary(spine.discoveries.view, 'discovery');
          +chimera-value(discovery.name)
          +send-to-chat('discovery')
          +chimera-value(discovery.effect)

mixin notes-edit(spine)
  .notes
    +fabula-heading-edit('notes', spine.notes.heading)
    +chimera-repeater('notes')
      +chimera-block('delete')
        .note
          - const [name] = spine.notes.delete;
          +chimera-value(name)
      +chimera-block('edit')
        .note
          each field in spine.notes.hidden
            +chimera-hidden(field)
          each field in spine.notes.fields
            +chimera-input(field)

mixin quests-edit(spine)
  .quests
    +fabula-heading-edit('quests', spine.quests.heading)
    +chimera-repeater('quests')
      +chimera-block('delete')
        .quest
          - const [name] = spine.quests.delete;
          +chimera-value(name)
      +chimera-block('edit')
        .quest
          each field in spine.quests.hidden
            +chimera-hidden(field)
          each field in spine.quests.fields
            +chimera-input(field)

mixin friends-edit(spine)
  .friends
    +fabula-heading-edit('friends', spine.friends.heading)
    +chimera-repeater('friends')
      +chimera-block('delete')
        .friend
          - const [name] = spine.friends.delete;
          +chimera-value(name)
      +chimera-block('edit')
        .friend
          each field in spine.friends.hidden
            +chimera-hidden(field)
          each field in spine.friends.fields
            +chimera-input(field)

mixin creatures-edit(spine)
  .creatures
    +fabula-heading-edit('creatures', spine.creatures.heading)
    +chimera-repeater('creatures')
      +chimera-block('delete')
        .creature
          - const [name] = spine.creatures.delete;
          +chimera-value(name)
      +chimera-block('edit')
        .creature
          each field in spine.creatures.hidden
            +chimera-hidden(field)
          each field in spine.creatures.fields
            +chimera-input(field)

mixin locations-edit(spine)
  .locations
    +fabula-heading-edit('locations', spine.locations.heading)
    +chimera-repeater('locations')
      +chimera-block('delete')
        .location
          - const [name] = spine.locations.delete;
          +chimera-value(name)
      +chimera-block('edit')
        .location
          each field in spine.locations.hidden
            +chimera-hidden(field)
          each field in spine.locations.fields
            +chimera-input(field)

mixin artifacts-edit(spine)
  .artifacts
    +fabula-heading-edit('artifacts', spine.artifacts.heading)
    +chimera-repeater('artifacts')
      +chimera-block('delete')
        .artifact
          - const [name] = spine.artifacts.delete;
          +chimera-value(name)
      +chimera-block('edit')
        .artifact
          each field in spine.artifacts.hidden
            +chimera-hidden(field)
          each field in spine.artifacts.fields
            +chimera-input(field)

mixin discoveries-edit(spine)
  .discoveries
    +fabula-heading-edit('discoveries', spine.discoveries.heading)
    +chimera-repeater('discoveries')
      +chimera-block('delete')
        .discovery
          - const [name] = spine.discoveries.delete;
          +chimera-value(name)
      +chimera-block('edit')
        .discovery
          each field in spine.discoveries.hidden
            +chimera-hidden(field)
          each field in spine.discoveries.fields
            +chimera-input(field)
