include bestiary/basic-attacks
include bestiary/bio
include bestiary/defenses
include bestiary/equipment
include bestiary/notes
include bestiary/other-actions
include bestiary/rare-gear
include bestiary/special-rules
include bestiary/spells
include bestiary/weapons
include bestiary/points
include shared/shared

mixin bestiary-view(spine)
  section.bestiary--view
    +bio-view(spine)

    +statistics-view(spine)

    .bestiary__controls
      +status-effects-view(spine)
      +study-rolls
      +controllers-view(spine)
      +ultima-points-view(spine)

    +basic-attacks-view(spine)
    +weapons-view(spine)
    +spells-view(spine)
    +other-actions-view(spine)
    +special-rules-view(spine)
    +equipment-view(spine)
    +rare-gear-view(spine)
    +notes-view(spine)

mixin bestiary-edit(spine)
  section.bestiary--edit
    // TODO Nav bar to settings
    +bio-edit(spine)

    .attributes--edit
      each field in spine.attributes.fields
        +chimera-input(field)

    .attributes__distribution.chimera-shadow
      each field in spine.attributes.distribution
        +chimera-value(field)

    .affinities--edit
      each field in spine.affinities.fields
        +chimera-input(field)

    .affinities__skillcost.chimera-shadow
      each field in spine.affinities.skillcost
        +chimera-value(field)

    +defenses-edit(spine)

    .extras
      each field in spine.extras.fields
        +chimera-input(field)

    .extras.extra--checkboxes
      each field in spine.extras.checkboxes
        +chimera-input(field)

    +armor-edit(spine)
    +shield-edit(spine)

    +basic-attacks-edit(spine)
    +weapons-edit(spine)
    +spells-edit(spine)
    +other-actions-edit(spine)
    +special-rules-edit(spine)
    +rare-gear-edit(spine)
    +notes-edit(spine)
