include bestiary/attributes
include bestiary/basic-attacks
include bestiary/bio
include bestiary/defenses
include bestiary/equipment
include bestiary/notes
include bestiary/other-actions
include bestiary/rare-gear
include bestiary/special-rules
include bestiary/spells
include bestiary/weapons
include bestiary/points
include shared/shared

mixin bestiary-view(spine)
  section.bestiary--view
    +bio-view(spine)

    +statistics-view(spine)

    .bestiary__controls
      +status-effects-view(spine)
      +study-rolls
      +controllers-view(spine)
      +ultima-points-view(spine)

    +rolls-view(spine)
    +basic-attacks-view(spine)
    +weapons-view(spine)
    +spells-view(spine)
    +other-actions-view(spine)
    +special-rules-view(spine)
    +equipment-view(spine)
    +rare-gear-view(spine)
    +notes-view(spine)

mixin bestiary-edit(spine)
  section.bestiary--edit
    +bio-edit(spine)
    +attributes-edit(spine)

    +navbar-edit(spine)

    .bestiary__stats
      +points-edit(spine)
      +defenses-edit(spine)
      .status-immunity--edit
        +status-immunity-edit(spine)
      .affinities--edit
        each field in spine.affinities.fields
          +chimera-input(field)
      .affinities__skillcost.chimera-shadow
        each field in spine.affinities.skillcost
          +chimera-value(field)

    .bestiary__conflict
      +basic-attacks-edit(spine)
      +spells-edit(spine)
      +other-actions-edit(spine)

    .bestiary__equipment
      +weapons-edit(spine)
      +armor-edit(spine)
      +shield-edit(spine)

    .bestiary__other
      +special-rules-edit(spine)
      +rare-gear-edit(spine)
      +notes-edit(spine)
