include bestiary/basic-attacks
include bestiary/bio
include bestiary/defenses
include bestiary/equipment
include bestiary/notes
include bestiary/other-actions
include bestiary/rare-gear
include bestiary/special-rules
include bestiary/spells
include bestiary/weapons
include bestiary/points

// TODO Study Roll
mixin bestiary-view(spine)
  section.bestiary--view
    +bio-view(spine)

    // TODO Move to mixin
    .statistics
      .attributes
        each field in spine.attributes.view
          +chimera-value(field).attribute

      +points-view(spine)

      +defenses-view(spine)

      .affinities
        each field in spine.affinities.fields
          .affinity--cell(class=`affinity--${field.name}`)
            +chimera-hidden(field.name)
            +chimera-icon({ icon: field.name, title: field.text })
            +chimera-value(field)

    .status-effects
      each field in spine.statuses.fields
        +chimera-input(field)

    +hp-mp-controller(spine)

    +basic-attacks-view(spine)
    +weapons-view(spine)
    +spells-view(spine)
    +other-actions-view(spine)
    +special-rules-view(spine)
    +equipment-view(spine)
    +rare-gear-view(spine)
    +notes-view(spine)

mixin bestiary-edit(spine)
  section.bestiary--edit
    +bio-edit(spine)

    // TODO NPC Builder

    .attributes
      each field in spine.attributes.fields
        +chimera-input(field)

    .attributes__distribution.chimera-container--shadow
      each field in spine.attributes.distribution
        +chimera-value(field)

    .affinities
      each field in spine.affinities.fields
        +chimera-input(field)

    .affinities__skillcost.chimera-container--shadow
      each field in spine.affinities.skillcost
        +chimera-value(field)

    +defenses-edit(spine)

    .extras
      each field in spine.extras.fields
        +chimera-input(field)

    .extras.extra--checkboxes
      each field in spine.extras.checkboxes
        +chimera-input(field)

    +armor-edit(spine)
    +shield-edit(spine)

    +basic-attacks-edit(spine)
    +weapons-edit(spine)
    +spells-edit(spine)
    +other-actions-edit(spine)
    +special-rules-edit(spine)
    +rare-gear-edit(spine)
    +notes-edit(spine)
