include character/attributes
include character/bonds
include character/classes
include character/equipment/equipment
include character/equipment/weapons
include character/inventory
include character/journal/journal
include character/magic
include character/nav
include character/points
include character/statistics
include character/traits
include shared/shared

mixin character-view(spine)
  section.character--view
    +traits-view(spine)
    +statistics-view(spine)

    .character__controls
      +status-effects-view(spine)
      +controllers-view(spine)

    +navbar-view(spine)

    .character__meta
      +bonds-view(spine)
      +fabula-points-view(spine)
      +experience-points-view(spine)

    .character__conflict
      +rolls-view(spine)
      +weapons-view(spine)
      +spells-view(spine)
      +rituals-view(spine)

    .character__backpack
      +inventory-view(spine)
      +equipment-view(spine)
      +projects-view(spine)
      +items-view(spine)

    .character__classes
      +classes-view(spine)

    .character__journal
      +notes-view(spine)
      +quests-view(spine)
      +friends-view(spine)
      +creatures-view(spine)
      +locations-view(spine)
      +artifacts-view(spine)
      +discoveries-view(spine)

    .character__settings
      +settings(spine)

mixin character-edit(spine)
  section.character--edit
    +traits-edit(spine)
    +attributes-edit(spine)
    +navbar-edit(spine)

    //- pages
    .character__stats
      +statistics-edit(spine)
      +status-immunity-edit(spine)
      +rolls-edit(spine)

    .character__bonds
      +bonds-edit(spine)

    .character__classes
      +classes-edit(spine)

    .character__equipment
      +weapons-edit(spine)
      +armors-edit(spine)
      +shields-edit(spine)
      +accessories-edit(spine)

    .character__backpack
      +inventory-edit(spine)
      +projects-edit(spine)
      +items-edit(spine)

    .character__magic
      +spells-edit(spine)
      +rituals-edit(spine)

    .character__journal
      +notes-edit(spine)
      +quests-edit(spine)
      +friends-edit(spine)
      +creatures-edit(spine)
      +locations-edit(spine)
      +artifacts-edit(spine)
      +discoveries-edit(spine)

    .character__settings
      +settings(spine)
