include character/attributes
include character/bonds
include character/classes
include character/equipment/equipment
include character/equipment/weapons
include character/magic
include character/nav
include character/points
include character/statistics
include character/traits
include shared/shared

mixin character-view(spine)
  section.character--view
    +traits-view(spine)
    +statistics-view(spine)
    +bonds-view(spine)
    .traits--view
      h2.traits__heading--view FABULA POINTS & EXPERIENCE

    +weapons-view(spine)
    +spells-view(spine)
    +rituals-view(spine)

    .traits--view
      h2.traits__heading--view BACKPACK
      .chimera-value(
        style='grid-column: 1/-1; display: flex; gap: 4px; padding: 8px; padding-top: 0px'
      )
        label.chimera-value__label May Equip:
        span.chimera-value__value ✦ Martial Armor ✦ Martial Weapons

    +classes-view(spine)

    .traits--view
      h2.points__heading--view JOURNAL

mixin character-edit(spine)
  section.character--edit
    +traits-edit(spine)
    +attributes-edit(spine)
    +navbar-edit(spine)

    //- pages
    .character__stats
      +statistics-edit(spine)

    .character__bonds
      +bonds-edit(spine)

    .character__classes
      +classes-edit(spine)

    .character__equipment
      +weapons-edit(spine)
      +shields-edit(spine)
      +armors-edit(spine)
      +accessories-edit(spine)

    .character__magic
      +spells-edit(spine)
      +rituals-edit(spine)

    .character__journal
      span journal

    .character__settings
      +settings(spine)
