include character/attributes
include character/bonds
include character/classes
include character/equipment/equipment
include character/equipment/weapons
include character/magic
include character/nav
include character/points
include character/statistics
include character/traits
include shared/shared

mixin character-view(spine)
  section.character--view
    +traits-view(spine)
    +statistics-view(spine)

    .character__controls
      +status-effects-view(spine)
      +controllers-view(spine)

    +bonds-view(spine)
    +fabula-points-view(spine)
    +experience-points-view(spine)

    +weapons-view(spine)
    +spells-view(spine)
    +rituals-view(spine)

    // TODO Backpack
    // TODO Collapse sections
    // TODO Equipment
    // TODO Journal
    +backpack-view(spine)

    +classes-view(spine)

    .traits--view
      h2.points__heading--view JOURNAL

mixin character-edit(spine)
  section.character--edit
    +traits-edit(spine)
    +attributes-edit(spine)
    +navbar-edit(spine)

    //- pages
    .character__stats
      +statistics-edit(spine)
      +status-immunity-edit(spine)

    .character__bonds
      +bonds-edit(spine)

    .character__classes
      +classes-edit(spine)

    .character__equipment
      +weapons-edit(spine)
      +armors-edit(spine)
      +shields-edit(spine)
      +accessories-edit(spine)

    .character__magic
      +spells-edit(spine)
      +rituals-edit(spine)

    .character__journal
      span journal

    .character__settings
      +settings(spine)
