include character/attributes
include character/bonds
include character/classes
include character/nav
include character/points
include character/spells
include character/statistics
include character/traits
include shared/shared

mixin character-view(spine)
  section.character--view
    +traits-view(spine)
    +statistics-view(spine)
    +bonds-view(spine)

mixin character-edit(spine)
  section.character--edit
    +traits-edit(spine)
    +attributes-edit(spine)
    +navbar-edit(spine)

    //- pages
    .character__stats
      +statistics-edit(spine)

    .character__bonds
      +bonds-edit(spine)

    .character__classes
      +classes-edit(spine)

    .character__spells
      +spells-edit(spine)
