// -----------------------------------------------------------------------------
// This file contains all styles related to the characterviewer of the site/application.
// -----------------------------------------------------------------------------

div#tab-content.tab-content .attributesabilities {
  min-width: 525px;

  .divider {
    border: none;
  }
}

html {
  .characterviewer {
    display: grid !important;
    grid-template-rows: auto 1fr;

    .content {
      margin-bottom: 0;
    }

    .charsheet {
      padding: 0;
    }

    .nav-tabs {
      padding-block-start: 8px;
      margin-block-end: 8px;
      border: none;
      // border-bottom: $nav-tab-border;

      > li {
        margin-bottom: 0;

        &.active {
          > a {
            opacity: 1 !important;
            color: hotpink; //$nav-tab-color;
            background: yellow; // $nav-tab-background;
          }
        }

        > a {
          border: none !important;
          padding-block: 4px;
          padding-inline: 12px;

          font-family: var(--font-title);
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.8;
          text-transform: uppercase;

          &:hover,
          &:active {
            color: hotpink; //$nav-tab-color;
          }
          &:hover {
            background: lime; // $nav-tab-background-hover;
          }
          &:active {
            background: purple; //$nav-tab-background-active;
          }
        }

        &.active,
        &:not(.active) {
          > a,
          > a:hover,
          > a:focus {
            text-decoration: none;
          }
        }
      }

      // Decrease opacity of Attributes & Abilities tab
      > li:nth-child(4) > a:nth-child(1) {
        opacity: 0.3;
        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    }
  }
}
