-
  spine.shared.affinities = {
    fields: [
      {
        name: 'physical',
        label: 'Physical',
        title: 'Physical Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'physical',
        css: { names: ['affinity'], modifiers: [] },
      },
      {
        name: 'air',
        label: 'Air',
        title: 'Air Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'air',
        css: { names: ['affinity'], modifiers: [] },
      },
      {
        name: 'bolt',
        label: 'Bolt',
        title: 'Bolt Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'bolt',
        css: { names: ['affinity'], modifiers: [] },
      },
      {
        name: 'dark',
        label: 'Dark',
        title: 'Dark Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'dark',
        css: { names: ['affinity'], modifiers: [] },
      },
      {
        name: 'earth',
        label: 'Earth',
        title: 'Earth Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'earth',
        css: { names: ['affinity'], modifiers: [] },
      },
      {
        name: 'fire',
        label: 'Fire',
        title: 'Fire Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'fire',
        css: { names: ['affinity'], modifiers: [] },
      },
      {
        name: 'ice',
        label: 'Ice',
        title: 'Ice Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'ice',
        css: { names: ['affinity'], modifiers: [] },
      },
      {
        name: 'light',
        label: 'Light',
        title: 'Light Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'light',
        css: { names: ['affinity'], modifiers: [] },
      },
      {
        name: 'poison',
        label: 'Poison',
        title: 'Poison Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'poison',
        css: { names: ['affinity'], modifiers: [] },
      },
    ],
    help: [
      {
        name: 'affinity_vu',
        content: 'A Vulnerable target loses twice the normal amount of Hit Points.',
        css: { names: ['affinity_vu'], modifiers: ['helptext'] }
      },
      {
        name: 'affinity_rs',
        content: 'A Resistant target loses half the normal amount of Hit Points.',
        css: { names: ['affinity_rs'], modifiers: ['helptext'] }
      },
      {
        name: 'affinity_im',
        content: 'An Immune target loses no Hit Points.',
        css: { names: ['affinity_im'], modifiers: ['helptext'] }
      },
      {
        name: 'affinity_ab',
        content: 'An Absorbing target recovers Hit Points equal to the damage suffered.',
        css: { names: ['affinity_ab'], modifiers: ['helptext'] }
      },
    ]
  }
