-
  spine.shared.controllers = {
    fields: [
      {
        name: 'hp-control',
        label: 'HP',
        title: 'Health Points',
        type: 'arithmetic',
        value: 1,
        css: { names: ['controller__hp'] },
      },
      {
        name: 'mp-control',
        label: 'MP',
        title: 'Mind Points',
        type: 'arithmetic',
        value: 1,
        css: { names: ['controller__mp'] },
      },
      {
        name: 'ip-control',
        label: 'IP',
        title: 'Inventory Points',
        type: 'arithmetic',
        value: 1,
        css: { names: ['controller__ip'] },
      },
    ]
  }
