-
  spine.shared.settings = {
    heading: {
      name: 'settings',
      label: 'Settings',
    },
    fields: [
      {
        name: 'roll_mods',
        label: 'Ask for Accuracy Check modifiers',
        type: 'toggle',
        css: { names: ['settings__roll_mods'], modifiers: [] },
      },
      {
        name: 'high_fantasy_atlas',
        label: 'Enable High Fantasy Atlas',
        type: 'toggle',
        css: { names: ['settings__high_fantasy_atlas'], modifiers: [] },
      },
      {
        name: 'automatic_mp',
        label: 'Automatic MP Use',
        title: 'Automatically subtract MP when casting spells and rituals',
        type: 'toggle',
        css: { names: ['settings__automatic_mp'], modifiers: [] },
      },
      {
        name: 'dual_shieldbearer',
        label: 'Dual Shieldbearer',
        title: 'You can equip two shields',
        type: 'toggle',
        css: { names: ['settings__money_name'], modifiers: [] },
      },
      {
        name: 'money_name',
        label: 'Currency Name',
        type: 'text',
        value: 'zenit',
        css: { names: ['settings__money_name'], modifiers: ['flex-row', 'small'] },
      },
    ]
  }
