-
  spine.shared.settings = {
    heading: {
      name: 'settings',
      label: 'Settings',
    },
    button: {
      name: 'show_settings',
      label: 'Settings',
      title: 'Settings',
      type: 'checkbox',
      icon: 'toolbox',
      css: { names: ['sheet-settings'], modifiers: ['hide-label'] },
    },
    fields: [
      {
        name: 'roll_mods',
        label: 'Ask for Accuracy Check Modifiers',
        type: 'toggle',
        css: { names: ['settings__roll_mods'], modifiers: [] },
      },
      {
        name: 'money_name',
        label: 'Currency Name',
        type: 'text',
        value: 'zenit',
        css: { names: ['settings__money_name'], modifiers: ['row-reverse', 'small'] },
      },
      {
        name: 'show_global_accuracy',
        label: 'Show Global Accuracy Modifier',
        title: 'Set global modifier for accuracy checks',
        type: 'toggle',
        css: { names: ['settings__global_accuracy', 'setting--disabled'], modifiers: [] },
      },
      {
        name: 'show_global_damage',
        label: 'Show Global Damage Modifier',
        title: 'Set global modifier for damage',
        type: 'toggle',
        css: { names: ['settings__global_damage', 'setting--disabled'], modifiers: [] },
      },
      {
        name: 'enable_quirks',
        label: 'Enable Quirks',
        type: 'toggle',
        css: { names: ['settings__quirk'], modifiers: [] },
      },
      {
        name: 'enable_zero_powers',
        label: 'Enable Zero Powers',
        type: 'toggle',
        css: { names: ['settings__zero_powers'], modifiers: [] },
      },
      {
        name: 'automatic_mp',
        label: 'Automatic MP Use',
        title: 'Automatically subtract MP when casting spells and rituals',
        type: 'toggle',
        css: { names: ['settings__automatic_mp', 'setting--disabled'], modifiers: [] },
      },
      {
        name: 'dual_shieldbearer',
        label: 'Dual Shieldbearer',
        title: 'You can equip two shields',
        type: 'toggle',
        css: { names: ['settings__money_name', 'setting--disabled'], modifiers: [] },
      },
      {
        name: 'disable_initiative',
        label: 'Disable Initiative',
        title: 'Remove initiative from the game',
        type: 'toggle',
        css: { names: ['settings__initiative', 'setting--disabled'], modifiers: [] },
      },
    ]
  }
