-
  spine.shared.settings = {
    fields: [
      {
        name: 'high_fantasy_atlas',
        label: 'Enable High Fantasy Atlas',
        type: 'checkbox',
        css: { names: ['settings_high_fantasy_atlas'], modifiers: [] },
      },
      {
        name: 'automatic_mp',
        label: 'Automatic MP Use',
        title: 'Automatically subtract MP when casting spells and rituals',
        type: 'checkbox',
        css: { names: ['settings_automatic_mp'], modifiers: [] },
      },
    ]
  }
