-
  spine.shared.settings = {
    fields: [
      {
        name: 'high_fantasy_atlas',
        label: 'Enable High Fantasy Atlas',
        type: 'checkbox',
        css: { names: ['settings_high_fantasy_atlas'], modifiers: [] },
      },
    ]
  }
