-
  spine.shared.statuses = {
    fields: [
      {
        name: 'slow',
        label: 'Slow',
        title: 'Slow temporarily reduces your Dexterity die size by one.',
        type: 'checkbox',
        icon: 'slow',
        css: { names: ['status-effect', 'status-effect--slow' ], modifiers: ['column'] },
      },
      {
        name: 'dazed',
        label: 'Dazed',
        title: 'Dazed temporarily reduces your Insight die size by one.',
        type: 'checkbox',
        icon: 'dazed',
        css: { names: ['status-effect', 'status-effect--dazed' ], modifiers: ['column'] },
      },
      {
        name: 'enraged',
        label: 'Enraged',
        title: 'Enraged temporarily reduces your Dexterity and Insight die sizes by one.',
        type: 'checkbox',
        icon: 'enraged',
        css: { names: ['status-effect', 'status-effect--enraged' ], modifiers: ['column'] },
      },
      {
        name: 'weak',
        label: 'Weak',
        title: 'Weak temporarily reduces your Might die size by one.',
        type: 'checkbox',
        icon: 'weak',
        css: { names: ['status-effect', 'status-effect--weak' ], modifiers: ['column'] },
      },
      {
        name: 'shaken',
        label: 'Shaken',
        title: 'Shaken temporarily reduces your Willpower die size by one.',
        type: 'checkbox',
        icon: 'shaken',
        css: { names: ['status-effect', 'status-effect--shaken' ], modifiers: ['column'] },
      },
      {
        name: 'poisoned',
        label: 'Poisoned',
        title: 'Poisoned temporarily reduces your Might and Willpower die sizes by one.',
        type: 'checkbox',
        icon: 'poisoned',
        css: { names: ['status-effect', 'status-effect--poisoned' ], modifiers: ['column'] },
      },
    ],
    immunity: [
      {
        name: 'slow_immunity',
        label: 'Slow',
        title: 'Slow temporarily reduces your Dexterity die size by one.',
        type: 'checkbox',
        icon: 'slow',
        css: { names: ['status-immunity', 'status-immunity--slow' ], modifiers: ['column'] },
      },
      {
        name: 'dazed_immunity',
        label: 'Dazed',
        title: 'Dazed temporarily reduces your Insight die size by one.',
        type: 'checkbox',
        icon: 'dazed',
        css: { names: ['status-immunity', 'status-immunity--dazed' ], modifiers: ['column'] },
      },
      {
        name: 'enraged_immunity',
        label: 'Enraged',
        title: 'Enraged temporarily reduces your Dexterity and Insight die sizes by one.',
        type: 'checkbox',
        icon: 'enraged',
        css: { names: ['status-immunity', 'status-immunity--enraged' ], modifiers: ['column'] },
      },
      {
        name: 'weak_immunity',
        label: 'Weak',
        title: 'Weak temporarily reduces your Might die size by one.',
        type: 'checkbox',
        icon: 'weak',
        css: { names: ['status-immunity', 'status-immunity--weak' ], modifiers: ['column'] },
      },
      {
        name: 'shaken_immunity',
        label: 'Shaken',
        title: 'Shaken temporarily reduces your Willpower die size by one.',
        type: 'checkbox',
        icon: 'shaken',
        css: { names: ['status-immunity', 'status-immunity--shaken' ], modifiers: ['column'] },
      },
      {
        name: 'poisoned_immunity',
        label: 'Poisoned',
        title: 'Poisoned temporarily reduces your Might and Willpower die sizes by one.',
        type: 'checkbox',
        icon: 'poisoned',
        css: { names: ['status-immunity', 'status-immunity--poisoned' ], modifiers: ['column'] },
      },
    ],
    buffs: [
      {
        name: 'dexterity_boost',
        label: 'DEX+',
        title: 'Temporarily increases your Dexterity die size by one.',
        type: 'checkbox',
        //- icon: 'slow',
        css: { names: ['status-boost', 'status-boost--dexterity' ], modifiers: ['column'] },
      },
      {
        name: 'insight_boost',
        label: 'INS+',
        title: 'Temporarily increases your Insight die size by one.',
        type: 'checkbox',
        //- icon: 'dazed',
        css: { names: ['status-boost', 'status-boost--insight' ], modifiers: ['column'] },
      },

      {
        name: 'might_boost',
        label: 'MIG+',
        title: 'Temporarily increases your Might die size by one.',
        type: 'checkbox',
        //- icon: 'weak',
        css: { names: ['status-boost', 'status-boost--might' ], modifiers: ['column'] },
      },
      {
        name: 'willpower_boost',
        label: 'WLP+',
        title: 'Temporarily increases your Willpower die size by one.',
        type: 'checkbox',
        //- icon: 'shaken',
        css: { names: ['status-boost', 'status-boost--willpower' ], modifiers: ['column'] },
      },

    ]
  };
