-
  spine.shared.statuses = {
    fields: [
      {
        name: 'slow',
        label: 'Slow',
        title: 'Slow temporarily reduces your Dexterity die size by one.',
        type: 'checkbox',
        icon: 'slow',
        css: { names: ['status-effect', 'status-effect--slow' ], modifiers: ['hide-label', 'column'] },
      },
      {
        name: 'dazed',
        label: 'Dazed',
        title: 'Dazed temporarily reduces your Insight die size by one.',
        type: 'checkbox',
        icon: 'dazed',
        css: { names: ['status-effect', 'status-effect--dazed' ], modifiers: ['hide-label', 'column'] },
      },
      {
        name: 'enraged',
        label: 'Enraged',
        title: 'Enraged temporarily reduces your Dexterity and Insight die sizes by one.',
        type: 'checkbox',
        icon: 'enraged',
        css: { names: ['status-effect', 'status-effect--enraged' ], modifiers: ['hide-label', 'column'] },
      },
      {
        name: 'weak',
        label: 'Weak',
        title: 'Weak temporarily reduces your Might die size by one.',
        type: 'checkbox',
        icon: 'weak',
        css: { names: ['status-effect', 'status-effect--weak' ], modifiers: ['hide-label', 'column'] },
      },
      {
        name: 'shaken',
        label: 'Shaken',
        title: 'Shaken temporarily reduces your Willpower die size by one.',
        type: 'checkbox',
        icon: 'shaken',
        css: { names: ['status-effect', 'status-effect--shaken' ], modifiers: ['hide-label', 'column'] },
      },
      {
        name: 'poisoned',
        label: 'Poisoned',
        title: 'Poisoned temporarily reduces your Might and Willpower die sizes by one.',
        type: 'checkbox',
        icon: 'poisoned',
        css: { names: ['status-effect', 'status-effect--poisoned' ], modifiers: ['hide-label', 'column'] },
      },
    ],
    immunity: [
      {
        name: 'slow_immunity',
        label: 'Slow',
        title: 'Slow temporarily reduces your Dexterity die size by one.',
        type: 'checkbox',
        icon: 'slow',
        css: { names: ['status-immunity', 'status-immunity--slow' ], modifiers: ['hide-label', 'column'] },
      },
      {
        name: 'dazed_immunity',
        label: 'Dazed',
        title: 'Dazed temporarily reduces your Insight die size by one.',
        type: 'checkbox',
        icon: 'dazed',
        css: { names: ['status-immunity', 'status-immunity--dazed' ], modifiers: ['hide-label', 'column'] },
      },
      {
        name: 'enraged_immunity',
        label: 'Enraged',
        title: 'Enraged temporarily reduces your Dexterity and Insight die sizes by one.',
        type: 'checkbox',
        icon: 'enraged',
        css: { names: ['status-immunity', 'status-immunity--enraged' ], modifiers: ['hide-label', 'column'] },
      },
      {
        name: 'weak_immunity',
        label: 'Weak',
        title: 'Weak temporarily reduces your Might die size by one.',
        type: 'checkbox',
        icon: 'weak',
        css: { names: ['status-immunity', 'status-immunity--weak' ], modifiers: ['hide-label', 'column'] },
      },
      {
        name: 'shaken_immunity',
        label: 'Shaken',
        title: 'Shaken temporarily reduces your Willpower die size by one.',
        type: 'checkbox',
        icon: 'shaken',
        css: { names: ['status-immunity', 'status-immunity--shaken' ], modifiers: ['hide-label', 'column'] },
      },
      {
        name: 'poisoned_immunity',
        label: 'Poisoned',
        title: 'Poisoned temporarily reduces your Might and Willpower die sizes by one.',
        type: 'checkbox',
        icon: 'poisoned',
        css: { names: ['status-immunity', 'status-immunity--poisoned' ], modifiers: ['hide-label', 'column'] },
      },
    ],
    buffs: [
      {
        name: 'dexterity_boost',
        label: 'DEX Up',
        title: 'Temporarily increases your Dexterity die size by one.',
        type: 'checkbox',
        icon: 'dexup',
        css: { names: ['status-boost', 'status-boost--dexterity' ], modifiers: ['hide-label', 'column'] },
      },
      {
        name: 'insight_boost',
        label: 'INS Up',
        title: 'Temporarily increases your Insight die size by one.',
        type: 'checkbox',
        icon: 'insup',
        css: { names: ['status-boost', 'status-boost--insight' ], modifiers: ['hide-label', 'column'] },
      },
      {
        name: 'might_boost',
        label: 'MIG Up',
        title: 'Temporarily increases your Might die size by one.',
        type: 'checkbox',
        icon: 'migup',
        css: { names: ['status-boost', 'status-boost--might' ], modifiers: ['hide-label', 'column'] },
      },
      {
        name: 'willpower_boost',
        label: 'WLP Up',
        title: 'Temporarily increases your Willpower die size by one.',
        type: 'checkbox',
        icon: 'wlpup',
        css: { names: ['status-boost', 'status-boost--willpower' ], modifiers: ['hide-label', 'column'] },
      },
      {
        name: 'dexterity_down',
        label: 'DEX Down',
        title: 'Temporarily decreases your Dexterity die size by one.',
        type: 'checkbox',
        icon: 'dexdown',
        css: { names: ['status-down', 'status-down--dexterity' ], modifiers: ['hide-label', 'column'] },
      },
      {
        name: 'insight_down',
        label: 'INS Down',
        title: 'Temporarily decreases your Insight die size by one.',
        type: 'checkbox',
        icon: 'insdown',
        css: { names: ['status-down', 'status-down--insight' ], modifiers: ['hide-label', 'column'] },
      },
      {
        name: 'might_down',
        label: 'MIG Down',
        title: 'Temporarily decreases your Might die size by one.',
        type: 'checkbox',
        icon: 'migdown',
        css: { names: ['status-down', 'status-down--might' ], modifiers: ['hide-label', 'column'] },
      },
      {
        name: 'willpower_down',
        label: 'WLP Down',
        title: 'Temporarily decreases your Willpower die size by one.',
        type: 'checkbox',
        icon: 'wlpdown',
        css: { names: ['status-down', 'status-down--willpower' ], modifiers: ['hide-label', 'column'] },
      },
    ]
  };
