-
  spine.shared.statuses = {
    fields: [
      {
        name: 'slow',
        label: 'Slow',
        title: 'Slow temporarily reduces your Dexterity die size by one.',
        type: 'checkbox',
        icon: 'slow',
        css: { names: ['status-effect', 'status-effect--slow' ], modifiers: ['column'] },
      },
      {
        name: 'dazed',
        label: 'Dazed',
        title: 'Dazed temporarily reduces your Insight die size by one.',
        type: 'checkbox',
        icon: 'dazed',
        css: { names: ['status-effect', 'status-effect--dazed' ], modifiers: ['column'] },
      },
      {
        name: 'enraged',
        label: 'Enraged',
        title: 'Enraged temporarily reduces your Dexterity and Insight die sizes by one.',
        type: 'checkbox',
        icon: 'enraged',
        css: { names: ['status-effect', 'status-effect--enraged' ], modifiers: ['column'] },
      },
      {
        name: 'weak',
        label: 'Weak',
        title: 'Weak temporarily reduces your Might die size by one.',
        type: 'checkbox',
        icon: 'weak',
        css: { names: ['status-effect', 'status-effect--weak' ], modifiers: ['column'] },
      },
      {
        name: 'shaken',
        label: 'Shaken',
        title: 'Shaken temporarily reduces your Willpower die size by one.',
        type: 'checkbox',
        icon: 'shaken',
        css: { names: ['status-effect', 'status-effect--shaken' ], modifiers: ['column'] },
      },
      {
        name: 'poisoned',
        label: 'Poisoned',
        title: 'Poisoned temporarily reduces your Might and Willpower die sizes by one.',
        type: 'checkbox',
        icon: 'poisoned',
        css: { names: ['status-effect', 'status-effect--poisoned' ], modifiers: ['column'] },
      },
    ],
  };
