-
  spine.bestiary.attacks = {
    heading: {
      name: 'basic_attacks',
      label: 'Basic Attacks',
    },
    hidden: ['attack_range', 'attack_accuracy_total', 'attack_damage_total'],
    view: [
      {
        name: 'attack_name',
        css: { names: ['basic-attack__name'], modifiers: ['no-label-bold'] },
      },
      {
        name: 'attack_attr1',
        dynamic: true,
        css: { names: ['basic-attack__attr1'], modifiers: ['small', 'center'] },
      },
      {
        name: 'attack_attr2',
        dynamic: true,
        css: { names: ['basic-attack__attr2'], modifiers: ['small', 'center'] },
      },
      {
        name: 'attack_accuracy_total',
        css: { names: ['basic-attack__accuracy'], modifiers: ['center'] },
      },
      {
        name: 'attack_damage_total',
        css: { names: ['basic-attack__damage_total'], modifiers: ['center'] },
      },
      {
        name: 'attack_type',
        title: 'Damage Type',
        dynamic: true,
        css: { names: ['basic-attack__type'], modifiers: ['center'] },
      },
      {
        name: 'attack_special',
        css: { names: ['basic-attack__special'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'attack_name',
        css: { names: ['basic-attack__name'], modifiers: ['no-label-bold'] },
      },
      {
        name: 'attack_attr1',
        dynamic: true,
        css: { names: ['basic-attack__attr1'], modifiers: [] },
      },
      {
        name: 'attack_attr2',
        dynamic: true,
        css: { names: ['basic-attack__attr2'], modifiers: [] },
      },
      {
        name: 'attack_accuracy_total',
        css: { names: ['basic-attack__accuracy_total'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'attack_name',
        label: 'Attack Name',
        type: 'text',
        css: { names: ['basic-attack__name'], modifiers: [] },
      },
      {
        name: 'attack_range',
        label: 'Range',
        type: 'switch',
        options: rangeOptions,
        value: rangeOptions.at(0),
        css: { names: ['basic-attack__range'], modifiers: ['small', 'center'] },
      },
      {
        name: 'attack_attr1',
        label: 'Attr 1',
        type: 'select',
        options: attributeOptions,
        value: attributeOptions.at(0),
        css: { names: ['basic-attack__attr1'], modifiers: ['small', 'center'] },
      },
      {
        name: 'attack_attr2',
        label: 'Attr 2',
        type: 'select',
        options: attributeOptions,
        value: attributeOptions.at(0),
        css: { names: ['basic-attack__attr2'], modifiers: ['small', 'center'] },
      },
      {
        name: 'attack_type',
        label: 'Damage Type',
        type: 'select',
        options: damageTypeOptions,
        css: { names: ['basic-attack__type'], modifiers: ['center'] },
      },
      {
        name: 'attack_extra_damage',
        label: 'Extra Damage',
        type: 'checkbox',
        value: 5,
        css: { names: ['basic-attack__extra_damage'], modifiers: ['column-reverse'] },
      },
      {
        name: 'attack_special',
        label: 'Special',
        type: 'textarea',
        css: { names: ['basic-attack__special'], modifiers: [] },
      },
    ],
  };

  spine.bestiary.weapons = {
    heading: {
      name: 'weapons',
      label: 'Weapons',
    },
    hidden: ['weapon_range'],
    view: [
      {
        name: 'weapon_attack_name',
        css: { names: ['weapon__attack_name'], modifiers: ['no-label-bold'] },
      },
      {
        name: 'weapon_name',
        labelOverride: { key: 'weapon', label: 'Weapon' },
        css: { names: ['weapon__name'], modifiers: ['colon'] },
      },
      {
        name: 'weapon_attr1',
        dynamic: true,
        css: { names: ['weapon__attr1'], modifiers: [] },
      },
      {
        name: 'weapon_attr2',
        dynamic: true,
        css: { names: ['weapon__attr2'], modifiers: [] },
      },
      {
        name: 'weapon_accuracy',
        title: 'Accuracy',
        css: { names: ['weapon__accuracy'], modifiers: [] },
      },
      {
        name: 'weapon_damage',
        title: 'Damage',
        css: { names: ['weapon__damage'], modifiers: [] },
      },
      {
        name: 'weapon_accuracy_total',
        title: 'Accuracy',
        css: { names: ['weapon__accuracy'], modifiers: [] },
      },
      {
        name: 'weapon_damage_total',
        title: 'Damage',
        css: { names: ['weapon__damage'], modifiers: [] },
      },
      {
        name: 'weapon_type',
        title: 'Damage Type',
        dynamic: true,
        css: { names: ['weapon__type'], modifiers: [] },
      },
      {
        name: 'weapon_cost',
        css: { names: ['weapon__cost'], modifiers: [] },
      },
      {
        name: 'weapon_special',
        css: { names: ['weapon__special'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'weapon_name',
        css: { names: ['weapon__name'], modifiers: [] },
      },
      {
        name: 'weapon_attr1',
        dynamic: true,
        css: { names: ['weapon__attr1'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_attr2',
        dynamic: true,
        css: { names: ['weapon__attr2'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_accuracy',
        css: { names: ['weapon__accuracy'], modifiers: ['small', 'center'] },
      },
    ],
    fields: [
      {
        name: 'weapon_name',
        label: 'Weapon Name',
        type: 'text',
        css: { names: ['weapon__name'], modifiers: [] },
      },
      {
        name: 'weapon_is_martial',
        label: 'Martial',
        title: 'Martial',
        type: 'checkbox',
        css: { names: ['weapon__martial'], modifiers: ['column-reverse'] },
      },
      {
        name: 'weapon_range',
        label: 'Range',
        type: 'switch',
        options: rangeOptions,
        value: rangeOptions.at(0),
        css: { names: ['weapon__range'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_category',
        label: 'Category',
        type: 'select',
        options: weaponCategoryOptions,
        value: weaponCategoryOptions.at(0),
        css: { names: ['weapon__category'], modifiers: ['center'] },
      },
      {
        name: 'weapon_attr1',
        label: 'Attr 1',
        type: 'select',
        options: attributeOptions,
        value: attributeOptions.at(0),
        css: { names: ['weapon__attr1'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_attr2',
        label: 'Attr 2',
        type: 'select',
        options: attributeOptions,
        value: attributeOptions.at(0),
        css: { names: ['weapon__attr2'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_accuracy',
        label: 'Accuracy',
        type: 'number',
        min: 0,
        css: { names: ['weapon__accuracy'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_type',
        label: 'Damage Type',
        type: 'select',
        options: damageTypeOptions,
        value: damageTypeOptions.at(0),
        css: { names: ['weapon__type'], modifiers: ['center'] },
      },
      {
        name: 'weapon_hands',
        label: 'Hands',
        type: 'number',
        min: 1,
        max: 2,
        css: { names: ['weapon__hands'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_damage',
        label: 'Damage',
        type: 'number',
        min: 0,
        css: { names: ['weapon__damage'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_cost',
        label: 'Cost',
        type: 'number',
        min: 0,
        step: 50,
        css: { names: ['weapon__cost'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_attack_name',
        label: 'Attack Name',
        type: 'text',
        css: { names: ['weapon__attack_name'] },
      },
      {
        name: 'weapon_attack_accuracy',
        label: 'Attack Accuracy',
        type: 'number',
        min: 0,
        css: { names: ['weapon__attack_accuracy'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_attack_damage',
        label: 'Attack Damage',
        type: 'number',
        min: 0,
        css: { names: ['weapon__attack_damage'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_extra_damage',
        label: 'Extra Damage',
        type: 'checkbox',
        value: 5,
        css: { names: ['weapon__extra_damage'], modifiers: ['column-reverse'] },
      },
      {
        name: 'weapon_special',
        label: 'Special',
        type: 'textarea',
        css: { names: ['weapon__special'], modifiers: [] },
      },
    ],
  };

  spine.bestiary.spells = {
    heading: {
      name: 'spells',
      label: 'Spells',
    },
    hidden: ['spell_is_offensive', 'spell_accuracy_total', 'spell_damage_total'],
    view: [
      {
        name: 'spell_name',
        css: { names: ['spell__name'], modifiers:  ['no-label-bold'] },
      },
      {
        name: 'spell_attr1',
        dynamic: true,
        css: { names: ['spell__attr1'], modifiers: ['small', 'center'] },
      },
      {
        name: 'spell_attr2',
        dynamic: true,
        css: { names: ['spell__attr2'], modifiers: ['small', 'center'] },
      },
      {
        name: 'spell_mp',
        label: 'MP',
        css: { names: ['spell__mp'], modifiers: ['reverse'] },
      },
      {
        name: 'spell_accuracy_total',
        title: 'Accuracy',
        css: { names: ['spell__accuracy_total'], modifiers: ['center'] },
      },
      {
        name: 'spell_damage_total',
        title: 'Damage',
        css: { names: ['spell__damage_total'], modifiers: ['center'] },
      },
      {
        name: 'spell_type',
        dynamic: true,
        css: { names: ['spell__type'], modifiers: ['no-label-bold'] },
      },
      {
        name: 'spell_target',
        css: { names: ['spell__target'], modifiers: ['center'] },
      },
      {
        name: 'spell_duration',
        css: { names: ['spell__duration'], modifiers: ['center'] },
      },
      {
        name: 'spell_effect',
        css: { names: ['spell__effect'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'spell_name',
        css: { names: ['spell__name'], modifiers: [] },
      },
      {
        name: 'spell_attr1',
        dynamic: true,
        css: { names: ['spell__attr1'], modifiers: [] },
      },
      {
        name: 'spell_attr2',
        dynamic: true,
        css: { names: ['spell__attr2'], modifiers: [] },
      },
      {
        name: 'spell_accuracy',
        css: { names: ['spell__accuracy'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'spell_name',
        label: 'Spell Name',
        type: 'text',
        css: { names: ['spell__name'], modifiers: [] },
      },
      {
        name: 'spell_mp',
        label: 'MP',
        type: 'text',
        css: { names: ['spell__mp'], modifiers: ['center', 'small'] },
      },
      {
        name: 'spell_is_offensive',
        label: 'Is Offensive',
        type: 'checkbox',
        css: { names: ['spell__offensive'], modifiers: ['column-reverse'] },
      },
      {
        name: 'spell_attr1',
        label: 'Attr 1',
        type: 'select',
        options: attributeOptions,
        value: attributeOptions.at(0),
        css: { names: ['spell__attr1'], modifiers: ['center'] },
      },
      {
        name: 'spell_attr2',
        label: 'Attr 2',
        type: 'select',
        options: attributeOptions,
        value: attributeOptions.at(0),
        css: { names: ['spell__attr2'], modifiers: ['center'] },
      },
      {
        name: 'spell_accuracy',
        label: 'Accuracy',
        type: 'number',
        min: 0,
        css: { names: ['spell__accuracy'], modifiers: ['small', 'center'] },
      },
      {
        name: 'spell_type',
        label: 'Damage Type',
        type: 'select',
        options: damageTypeOptions,
        value: damageTypeOptions.at(0),
        css: { names: ['spell__type'], modifiers: ['center'] },
      },
      {
        name: 'spell_damage',
        label: 'Damage',
        type: 'number',
        min: 0,
        css: { names: ['spell__damage'], modifiers: ['small', 'center'] },
      },
      {
        name: 'spell_target',
        label: 'Target',
        type: 'text',
        css: { names: ['spell__target'], modifiers: [] },
      },
      {
        name: 'spell_duration',
        label: 'Duration',
        type: 'text',
        css: { names: ['spell__duration'], modifiers: [] },
      },
      {
        name: 'spell_effect',
        label: 'Effect',
        type: 'textarea',
        css: { names: ['spell__effect'], modifiers: [] },
      },
      //- {
      //-   name: 'spell_special',
      //-   label: 'Special',
      //-   type: 'textarea',
      //-   css: { names: ['spell__special'], modifiers: [] },
      //- },
    ],
  };
