-
  spine.bestiary.attacks = {
    heading: {
      name: 'basic_attacks',
      label: 'Basic Attacks',
    },
    hidden: ['attack_range'],
    view: [
      {
        name: 'attack_name',
        css: { names: ['basic-attack__name'], modifiers: [] },
      },
      {
        name: 'attack_check_1',
        dynamic: true,
        css: { names: ['basic-attack__check_1'], modifiers: ['small', 'center'] },
      },
      {
        name: 'attack_check_2',
        dynamic: true,
        css: { names: ['basic-attack__check_2'], modifiers: ['small', 'center'] },
      },
      {
        name: 'attack_damage',
        title: 'Damage',
        css: { names: ['basic-attack__type'], modifiers: ['center'] },
      },
      {
        name: 'attack_type',
        title: 'Damage Type',
        dynamic: true,
        css: { names: ['basic-attack__type'], modifiers: ['center'] },
      },
      {
        name: 'attack_special',
        css: { names: ['basic-attack__special'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'attack_name',
        label: 'Attack Name',
        css: { names: ['basic-attack__name'], modifiers: [] },
      },
      {
        name: 'attack_check_1',
        dynamic: true,
        css: { names: ['basic-attack__check_1'], modifiers: ['small', 'center'] },
      },
      {
        name: 'attack_check_2',
        dynamic: true,
        css: { names: ['basic-attack__check_2'], modifiers: ['small', 'center'] },
      },
    ],
    fields: [
      {
        name: 'attack_name',
        label: 'Attack Name',
        type: 'text',
        css: { names: ['basic-attack__name'], modifiers: [] },
      },
      {
        name: 'attack_range',
        label: 'Range',
        type: 'switch',
        options: rangeOptions,
        css: { names: ['basic-attack__range'], modifiers: ['small', 'center'] },
      },
      {
        name: 'attack_check_1',
        label: 'Attr 1',
        type: 'select',
        options: attributeOptions,
        css: { names: ['basic-attack__check_1'], modifiers: ['small', 'center'] },
      },
      {
        name: 'attack_check_2',
        label: 'Attr 2',
        type: 'select',
        options: attributeOptions,
        css: { names: ['basic-attack__check_2'], modifiers: ['small', 'center'] },
      },
      {
        name: 'attack_type',
        label: 'Damage Type',
        type: 'select',
        options: damageTypeOptions,
        css: { names: ['basic-attack__type'], modifiers: ['center'] },
      },
      {
        name: 'attack_extra_damage',
        label: 'Extra Damage',
        type: 'checkbox',
        css: { names: ['basic-attack__extra_damage'], modifiers: ['column'] },
      },
      {
        name: 'attack_special',
        label: 'Special',
        type: 'textarea',
        css: { names: ['basic-attack__special'], modifiers: [] },
      },
    ],
  };

  spine.bestiary.weapons = {
    heading: {
      name: 'weapons',
      label: 'Weapons',
    },
    hidden: ['weapon_range'],
    view: [
      {
        name: 'weapon_attack_name',
        css: { names: ['weapon__attack_name'], modifiers: [] },
      },
      {
        name: 'weapon_name',
        css: { names: ['weapon__name'], modifiers: [] },
      },
      {
        name: 'weapon_check_1',
        dynamic: true,
        css: { names: ['weapon__check_1'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_check_2',
        dynamic: true,
        css: { names: ['weapon__check_2'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_precision_total',
        title: 'Accuracy',
        css: { names: ['weapon__type'], modifiers: ['center'] },
      },
      {
        name: 'weapon_damage_total',
        title: 'Damage',
        css: { names: ['weapon__type'], modifiers: ['center'] },
      },
      {
        name: 'weapon_type',
        title: 'Damage Type',
        dynamic: true,
        css: { names: ['weapon__type'], modifiers: ['center'] },
      },
      {
        name: 'weapon_special',
        css: { names: ['weapon__special'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'weapon_name',
        label: 'Weapon Name',
        css: { names: ['weapon__name'], modifiers: [] },
      },
      {
        name: 'weapon_check_1',
        dynamic: true,
        css: { names: ['weapon__check_1'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_check_2',
        dynamic: true,
        css: { names: ['weapon__check_2'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_precision',
        css: { names: ['weapon__precision'], modifiers: ['small', 'center'] },
      },
    ],
    fields: [
      {
        name: 'weapon_name',
        label: 'Weapon Name',
        type: 'text',
        css: { names: ['weapon__name'], modifiers: [] },
      },
      {
        name: 'weapon_range',
        label: 'Range',
        type: 'switch',
        options: rangeOptions,
        css: { names: ['weapon__range'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_category',
        label: 'Category',
        type: 'select',
        options: weaponCategoryOptions,
        css: { names: ['weapon__category'], modifiers: ['center'] },
      },
      {
        name: 'weapon_check_1',
        label: 'Attr 1',
        type: 'select',
        options: attributeOptions,
        css: { names: ['weapon__check_1'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_check_2',
        label: 'Attr 2',
        type: 'select',
        options: attributeOptions,
        css: { names: ['weapon__check_2'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_precision',
        label: 'Accuracy',
        type: 'number',
        min: 0,
        css: { names: ['weapon__precision'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_type',
        label: 'Damage Type',
        type: 'select',
        options: damageTypeOptions,
        css: { names: ['weapon__type'], modifiers: ['center'] },
      },
      {
        name: 'weapon_hands',
        label: 'Hands',
        type: 'number',
        min: 1,
        max: 2,
        css: { names: ['weapon__hands'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_damage',
        label: 'Damage',
        type: 'number',
        min: 0,
        css: { names: ['weapon__damage'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_cost',
        label: 'Cost',
        type: 'number',
        min: 0,
        step: 50,
        css: { names: ['weapon__cost'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_attack_name',
        label: 'Attack Name',
        type: 'text',
        css: { names: ['weapon__attack_name'] },
      },
      {
        name: 'weapon_attack_precision',
        label: 'Attack Accuracy',
        type: 'number',
        min: 0,
        css: { names: ['weapon__attack_precision'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_attack_damage',
        label: 'Attack Damage',
        type: 'number',
        min: 0,
        css: { names: ['weapon__attack_damage'], modifiers: ['small', 'center'] },
      },
      {
        name: 'weapon_extra_damage',
        label: 'Extra Damage',
        type: 'checkbox',
        css: { names: ['weapon__extra_damage'], modifiers: ['column'] },
      },
      {
        name: 'weapon_special',
        label: 'Special',
        type: 'textarea',
        css: { names: ['weapon__special'], modifiers: [] },
      },
    ],
  };

  spine.bestiary.spells = {
    heading: {
      name: 'spells',
      label: 'Spells',
    },
    hidden: ['spell_is_offensive'],
    view: [
      {
        name: 'spell_attack_name',
        css: { names: ['spell__attack_name'], modifiers: [] },
      },
      {
        name: 'spell_name',
        css: { names: ['spell__name'], modifiers: [] },
      },
      {
        name: 'spell_check_1',
        dynamic: true,
        css: { names: ['spell__check_1'], modifiers: ['small', 'center'] },
      },
      {
        name: 'spell_check_2',
        dynamic: true,
        css: { names: ['spell__check_2'], modifiers: ['small', 'center'] },
      },
      {
        name: 'spell_mp',
        label: 'MP',
        css: { names: ['spell__mp'], modifiers: ['reverse'] },
      },
      {
        name: 'spell_precision_total',
        title: 'Accuracy',
        css: { names: ['spell__precision_total'], modifiers: ['center'] },
      },
      {
        name: 'spell_damage_total',
        title: 'Damage',
        css: { names: ['spell__damage_total'], modifiers: ['center'] },
      },
      {
        name: 'spell_target',
        title: 'Target',
        css: { names: ['spell__target'], modifiers: ['center'] },
      },
      {
        name: 'spell_duration',
        title: 'Duration',
        css: { names: ['spell__duration'], modifiers: ['center'] },
      },
      {
        name: 'spell_effect',
        css: { names: ['spell__effect'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'spell_name',
        label: 'spell Name',
        css: { names: ['spell__name'], modifiers: [] },
      },
      {
        name: 'spell_check_1',
        dynamic: true,
        css: { names: ['spell__check_1'], modifiers: ['small', 'center'] },
      },
      {
        name: 'spell_check_2',
        dynamic: true,
        css: { names: ['spell__check_2'], modifiers: ['small', 'center'] },
      },
    ],
    fields: [
      {
        name: 'spell_name',
        label: 'Spell Name',
        type: 'text',
        css: { names: ['spell__name'], modifiers: [] },
      },
      {
        name: 'spell_check_1',
        label: 'Attr 1',
        type: 'select',
        options: attributeOptions,
        css: { names: ['spell__check_1'], modifiers: ['small', 'center'] },
      },
      {
        name: 'spell_check_2',
        label: 'Attr 2',
        type: 'select',
        options: attributeOptions,
        css: { names: ['spell__check_2'], modifiers: ['small', 'center'] },
      },
      {
        name: 'spell_is_offensive',
        label: 'Is Offensive',
        type: 'checkbox',
        css: { names: ['spell__offensive'], modifiers: ['column'] },
      },
      {
        name: 'spell_target',
        label: 'Target',
        type: 'text',
        css: { names: ['spell__target'], modifiers: [] },
      },
      {
        name: 'spell_duration',
        label: 'Duration',
        type: 'text',
        css: { names: ['spell__duration'], modifiers: [] },
      },
      {
        name: 'spell_mp',
        label: 'MP',
        type: 'text',
        css: { names: ['spell__mp'], modifiers: ['center', 'small'] },
      },
      {
        name: 'spell_precision',
        label: 'Accuracy',
        type: 'number',
        min: 0,
        css: { names: ['spell__precision'], modifiers: ['small', 'center'] },
      },
      {
        name: 'spell_damage',
        label: 'Damage',
        type: 'number',
        min: 0,
        css: { names: ['spell__damage'], modifiers: ['small', 'center'] },
      },
      {
        name: 'spell_effect',
        label: 'Effect',
        type: 'textarea',
        css: { names: ['spell__effect'], modifiers: [] },
      },
      //- {
      //-   name: 'spell_special',
      //-   label: 'Special',
      //-   type: 'textarea',
      //-   css: { names: ['spell__special'], modifiers: [] },
      //- },
    ],
  };
