-
  spine.bestiary.affinities = {
    skillcost: [
      {
        name: 'affinity_skill_gain_general_vulnerability',
        content: 'Gain 1 skill per vulnerability',
        css: { names: ['skillcost'], modifiers: ['helptext'] }
      },
      {
        name: 'affinity_skill_gain_physical_vulnerability',
        content: 'Gain 2 skills per physical vulnerability',
        css: { names: ['skillcost'], modifiers: ['helptext'] }
      },
      {
        name: 'affinity_skill_gain_resistance',
        content: 'Use 0.5 skill per Resistance',
        css: { names: ['skillcost'], modifiers: ['helptext'] }
      },
      {
        name: 'affinity_skill_gain_immunity',
        content: 'Use 1 skill per Immunity',
        css: { names: ['skillcost'], modifiers: ['helptext'] }
      },
      {
        name: 'affinity_skill_gain_absorption',
        content: 'Use 2 skill per Absorption',
        css: { names: ['skillcost'], modifiers: ['helptext'] }
      },
    ]
  };
