-
  spine.bestiary.affinities = {
    fields: [
      {
        name: 'physical',
        label: 'Physical',
        title: 'Physical Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'physical',
        css: { names: ['affinity','affinity--physical'], modifiers: ['center'] },
      },
      {
        name: 'air',
        label: 'Air',
        title: 'Air Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'air',
        css: { names: ['affinity','affinity--air'], modifiers: ['center'] },
      },
      {
        name: 'bolt',
        label: 'Bolt',
        title: 'Bolt Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'bolt',
        css: { names: ['affinity','affinity--bolt'], modifiers: ['center'] },
      },
      {
        name: 'dark',
        label: 'Dark',
        title: 'Dark Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'dark',
        css: { names: ['affinity','affinity--dark'], modifiers: ['center'] },
      },
      {
        name: 'earth',
        label: 'Earth',
        title: 'Earth Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'earth',
        css: { names: ['affinity','affinity--earth'], modifiers: ['center'] },
      },
      {
        name: 'fire',
        label: 'Fire',
        title: 'Fire Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'fire',
        css: { names: ['affinity','affinity--fire'], modifiers: ['center'] },
      },
      {
        name: 'ice',
        label: 'Ice',
        title: 'Ice Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'ice',
        css: { names: ['affinity','affinity--ice'], modifiers: ['center'] },
      },
      {
        name: 'light',
        label: 'Light',
        title: 'Light Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'light',
        css: { names: ['affinity','affinity--light'], modifiers: ['center'] },
      },
      {
        name: 'poison',
        label: 'Poison',
        title: 'Poison Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'poison',
        css: { names: ['affinity','affinity--poison'], modifiers: ['center'] },
      },
    ],
    skillcost: [
      {
        name: 'affinity_vulnerability',
        content: 'Gain 1 skill per vulnerability',
        css: { names: ['skillcost'], modifiers: ['helptext'] }
      },
      {
        name: 'affinity_physical_vulnerability',
        content: 'Gain 2 skills per physical vulnerability',
        css: { names: ['skillcost'], modifiers: ['helptext'] }
      },
      {
        name: 'affinity_resistance',
        content: 'Use 0.5 skill per Resistance',
        css: { names: ['skillcost'], modifiers: ['helptext'] }
      },
      {
        name: 'affinity_immunity',
        content: 'Use 1 skill per Immunity',
        css: { names: ['skillcost'], modifiers: ['helptext'] }
      },
      {
        name: 'affinity_absorption',
        content: 'Use 2 skill per Absorption',
        css: { names: ['skillcost'], modifiers: ['helptext'] }
      },
    ]
  };
