-
  spine.bestiary.bio = {
    hidden: ['rank'],
    fields: [
      {
        name: 'character_name',
        label: 'Name',
        type: 'text',
        css: { names: ['bio__name'] },
      },
      {
        name: 'traits',
        label: 'Traits',
        type: 'text',
        css: { names: ['bio__traits'] }
      },
      {
        name: 'level',
        label: 'Level',
        type: 'number',
        min: 5,
        step: 5,
        max: 50,
        css: { names: ['bio__level'], modifiers: ['center', 'small'] },
      },
      {
        name: 'species',
        label: 'Species',
        type: 'select',
        options: speciesOptions,
        css: { names: ['bio__species'] },
      },
      {
        name: 'rank',
        label: 'Rank',
        type: 'select',
        options: rankOptions,
        css: { names: ['bio__rank'] },
      },
      {
        name: 'villain',
        label: 'Villain',
        type: 'select',
        options: villainOptions,
        css: { names: ['bio__villain'] },
      },
      {
        name: 'companion_skill_level',
        label: 'Skill Level',
        min: 1,
        max: 5,
        type: 'number',
        css: { names: ['bio__companion_skill_level'], modifiers: ['center', 'small'] },
      },
      {
        name: 'pc_level',
        label: 'PC Level',
        min: 5,
        max: 50,
        type: 'number',
        css: { names: ['bio__pc_level'], modifiers: ['center', 'small'] },
      },
      {
        name: 'multipart',
        label: 'Multi-Part',
        type: 'text',
        css: { names: ['bio__multipart'] },
      },
      {
        name: 'phases',
        label: 'Phases',
        type: 'number',
        min: 0,
        css: { names: ['bio__phases'], modifiers: ['center', 'small'] },
      },
      {
        name: 'createdby',
        label: 'Created By',
        type: 'text',
        css: { names: ['bio__createdby'] },
      },
      {
        name: 'description',
        label: 'Description',
        type: 'textarea',
        css: { names: ['bio__description'] },
      },
    ],
  };

  spine.bestiary.points = {
    hp: {
      name: 'hp',
      label: 'HP',
      title: 'Hit Points',
      type: 'number',
      css: { names: ['points__hp'] },
    },
    crisis: {
      name: 'hp_crisis',
      label: 'Crisis',
      css: { names: ['points__hp_crisis'] },
      type: 'number',
    },
    mp: {
      name: 'mp',
      label: 'MP',
      title: 'Mind Points',
      type: 'number',
      css: { names: ['points__mp'] },
    },
    initiative: {
      name: 'initiative',
      label: 'Init.',
      title: 'Initiative',
      type: 'number',
      css: { names: ['points__initiative'] },
    },
  };

  spine.bestiary.armor = {
    heading: { name: 'armor', label: 'Armor' },
    fields: [
      {
        name: 'armor_name',
        label: 'Name',
        title: 'Name',
        type: 'text',
        css: { names: ['armor__name'] },
      },
      {
        name: 'armor_initiative',
        label: 'Initiative',
        title: 'Initiative',
        type: 'number',
        css: { names: ['armor__initiative'], modifiers: ['center', 'small'] },
      },
      {
        name: 'armor_cost',
        label: 'Cost',
        title: 'Cost',
        min: 0,
        step: 50,
        type: 'number',
        css: { names: ['armor__cost'], modifiers: ['center', 'small'] },
      },
      {
        name: 'armor_defense',
        label: 'DEF',
        title: 'Defense',
        type: 'number',
        css: { names: ['armor__defense'], modifiers: ['center', 'small'] },
      },
      {
        name: 'armor_defense_bonus',
        label: 'DEF Bonus',
        title: 'Defense Bonus',
        type: 'number',
        css: { names: ['armor__defense_bonus'], modifiers: ['center', 'small'] },
      },
      {
        name: 'armor_magic_defense',
        label: 'M.DEF',
        title: 'Magic Defense',
        type: 'number',
        css: { names: ['armor__magic_defense'], modifiers: ['center', 'small'] },
      },
      {
        name: 'armor_magic_defense_bonus',
        label: 'M.DEF Bonus',
        title: 'Magic Defense Bonus',
        type: 'number',
        css: { names: ['armor__magic_defense_bonus'], modifiers: ['center', 'small'] },
      },
    ],
  };

  spine.bestiary.shield = {
    heading: { name: 'shield', label: 'Shield' },
    fields: [
      {
        name: 'shield_name',
        label: 'Name',
        title: 'Name',
        type: 'text',
        css: { names: ['shield__name'] },
      },
      {
        name: 'shield_initiative',
        label: 'Initiative',
        title: 'Initiative',
        type: 'number',
        css: { names: ['shield__initiative'], modifiers: ['center', 'small'] },
      },
      {
        name: 'shield_cost',
        label: 'Cost',
        title: 'Cost',
        type: 'number',
        min: 0,
        step: 50,
        css: { names: ['shield__cost'], modifiers: ['center', 'small'] },
      },
      {
        name: 'shield_defense',
        label: 'DEF',
        title: 'Defense',
        type: 'number',
        css: { names: ['shield__defense'], modifiers: ['center', 'small'] },
      },
      {
        name: 'shield_defense_bonus',
        label: 'DEF Bonus',
        title: 'Defense Bonus',
        type: 'number',
        css: { names: ['shield__defense_bonus'], modifiers: ['center', 'small'] },
      },
      {
        name: 'shield_magic_defense',
        label: 'M.DEF',
        title: 'Magic Defense',
        type: 'number',
        css: { names: ['shield__magic_defense'], modifiers: ['center', 'small'] },
      },
      {
        name: 'shield_magic_defense_bonus',
        label: 'M.DEF Bonus',
        title: 'Magic Defense Bonus',
        type: 'number',
        css: { names: ['shield__magic_defense_bonus'], modifiers: ['center', 'small'] },
      },
    ],
  };
