-
  spine.bestiary.bio = {
    hidden: ['rank'],
    view: [
      {
        name: 'character_name',
        css: { names: ['bio__name'] },
      },
      {
        name: 'traits',
        labelOverride: { key: 'typical_traits', label: 'Typical Traits'},
        type: 'text',
        css: { names: ['bio__traits'] }
      },
      {
        name: 'level',
        css: { names: ['bio__level'], modifiers: ['center', 'small'] },
      },
      {
        name: 'species',
        dynamic: true,
        css: { names: ['bio__species'] },
      },
      {
        name: 'rank',
        dynamic: true,
        css: { names: ['bio__rank'] },
      },
      {
        name: 'villainous',
        css: { names: ['bio__villainous'] },
      },
      {
        name: 'companion_skill_level',
        css: { names: ['bio__companion_skill_level'], modifiers: ['center', 'small'] },
      },
      {
        name: 'createdby',
        label: 'Created By',
        css: { names: ['bio__createdby'] },
      },
      {
        name: 'description',
        css: { names: ['bio__description'] },
      },

    ],
    fields: [
      {
        name: 'character_name',
        label: 'Name',
        type: 'text',
        css: { names: ['bio__name'] },
      },
      {
        name: 'traits',
        label: 'Traits',
        type: 'text',
        css: { names: ['bio__traits'] }
      },
      {
        name: 'level',
        label: 'Level',
        type: 'number',
        min: 5,
        step: 5,
        max: 60,
        css: { names: ['bio__level'], modifiers: ['center', 'small'] },
      },
      {
        name: 'species',
        label: 'Species',
        type: 'select',
        options: speciesOptions,
        css: { names: ['bio__species'] },
      },
      {
        name: 'rank',
        label: 'Rank',
        type: 'select',
        options: rankOptions,
        dynamic: true,
        css: { names: ['bio__rank'] },
      },
      {
        name: 'villain',
        label: 'Villain',
        type: 'select',
        dynamic: true,
        options: villainOptions,
        css: { names: ['bio__villain'] },
      },
      {
        name: 'companion_skill_level',
        label: 'Skill Level',
        min: 1,
        max: 5,
        type: 'number',
        css: { names: ['bio__companion_skill_level'], modifiers: ['center', 'small'] },
      },
      {
        name: 'pc_level',
        label: 'PC Level',
        min: 5,
        max: 50,
        type: 'number',
        css: { names: ['bio__pc_level'], modifiers: ['center', 'small'] },
      },
      {
        name: 'multipart',
        label: 'Multi-Part',
        type: 'text',
        css: { names: ['bio__multipart'] },
      },
      {
        name: 'phases',
        label: 'Phases',
        type: 'number',
        min: 0,
        css: { names: ['bio__phases'], modifiers: ['center', 'small'] },
      },
      {
        name: 'createdby',
        label: 'Created By',
        type: 'text',
        css: { names: ['bio__createdby'] },
      },
      {
        name: 'description',
        label: 'Description',
        type: 'textarea',
        css: { names: ['bio__description'] },
      },
    ],
  };
