-
  spine.bestiary.affinities = {
    fields: [
      {
        name: 'physical',
        label: 'Physical',
        title: 'Physical Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'physical',
        css: { names: ['affinity','affinity--physical'], modifiers: ['center'] },
      },
      {
        name: 'air',
        label: 'Air',
        title: 'Air Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'air',
        css: { names: ['affinity','affinity--air'], modifiers: ['center'] },
      },
      {
        name: 'bolt',
        label: 'Bolt',
        title: 'Bolt Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'bolt',
        css: { names: ['affinity','affinity--bolt'], modifiers: ['center'] },
      },
      {
        name: 'dark',
        label: 'Dark',
        title: 'Dark Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'dark',
        css: { names: ['affinity','affinity--dark'], modifiers: ['center'] },
      },
      {
        name: 'earth',
        label: 'Earth',
        title: 'Earth Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'earth',
        css: { names: ['affinity','affinity--earth'], modifiers: ['center'] },
      },
      {
        name: 'fire',
        label: 'Fire',
        title: 'Fire Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'fire',
        css: { names: ['affinity','affinity--fire'], modifiers: ['center'] },
      },
      {
        name: 'ice',
        label: 'Ice',
        title: 'Ice Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'ice',
        css: { names: ['affinity','affinity--ice'], modifiers: ['center'] },
      },
      {
        name: 'light',
        label: 'Light',
        title: 'Light Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'light',
        css: { names: ['affinity','affinity--light'], modifiers: ['center'] },
      },
      {
        name: 'poison',
        label: 'Poison',
        title: 'Poison Affinity',
        type: 'select',
        options: damageAffinityOptions,
        icon: 'poison',
        css: { names: ['affinity','affinity--poison'], modifiers: ['center'] },
      },
    ],
    skillcost: [
      { name: 'affinity_vulnerability', content: 'Gain 1 skill per vulnerability', },
      { name: 'affinity_physical_vulnerability', content: 'Gain 2 skills per physical vulnerability', },
      { name: 'affinity_resistance', content: 'Use 0.5 skill per Resistance', },
      { name: 'affinity_immunity', content: 'Use 1 skill per Immunity', },
      { name: 'affinity_absorption', content: 'Use 2 skill per Absorption', },
    ]
  };

  spine.bestiary.defenses = {
    view: [
      {
        name: 'defense',
        label: 'DEF',
      },
      {
        name: 'magic_defense',
        label: 'M.DEF',
      },
    ],
    fields: [
      {
        name: 'defense_quick',
        label: 'Defenses',
        title: 'Defense Quick Select',
        type: 'select',
        options: extraDefenseOptions,
        css: {
          names: ['defense', 'defense__quick'],
          modifiers: ['center']
        },
      },
      {
        name: 'defense_extra',
        label: '+DEF',
        type: 'number',
        css: {
          names: ['defense', 'defense__def'],
          modifiers: ['flex-row', 'small', 'center'],
        },
      },
      {
        name: 'magic_defense_extra',
        label: '+M.DEF',
        type: 'number',
        css: {
          names: ['defense', 'defense__mdef'],
          modifiers: ['flex-row', 'small', 'center'],
        },
      },
    ]
  };

  spine.bestiary.extras = {
    fields: [
      {
        name: 'hp_extra',
        label: 'Extra HP',
        type: 'number',
        step: 10,
        css: {
          names: ['extra', 'extra__hp_extra'],
          modifiers: ['flex-row', 'small'],
        },
      },
      {
        name: 'mp_extra',
        label: 'Extra MP',
        type: 'number',
        step: 10,
        css: {
          names: ['extra', 'extra__mp_extra'],
          modifiers: ['flex-row', 'small'],
        },
      },
      {
        name: 'initiative_extra',
        label: 'Extra Initiative',
        type: 'number',
        css: {
          names: ['extra', 'extra__initiative_extra'],
          modifiers: ['flex-row', 'small'],
        },
      },
    ],
    checkboxes: [
      {
        name: 'initiative_bonus',
        label: '+4 Initiative',
        value: 4,
        type: 'checkbox',
        css: {
          names: ['extra', 'extra__initiative_bonus'],
        },
      },
      {
        name: 'accuracy_bonus',
        label: '+3 bonus to all Accuracy checks',
        value: 3,
        type: 'checkbox',
        css: {
          names: ['extra', 'extra__accuracy_bonus'],
        },
      },
      {
        name: 'magic_bonus',
        label: '+3 bonus to all Magic checks',
        value: 3,
        type: 'checkbox',
        css: {
          names: ['extra', 'extra__magic_bonus'],
        },
      },
    ],
  };


  spine.bestiary.armor = {
    heading: { name: 'armor', label: 'Armor' },
    hidden: [ 'armor_is_martial' ],
    fields: [
      {
        name: 'armor_name',
        label: 'Name',
        title: 'Name',
        type: 'text',
        css: { names: ['armor__name'] },
      },
      {
        name: 'armor_is_martial',
        label: 'Martial',
        title: 'Martial',
        type: 'checkbox',
        css: { names: ['armor__martial'], modifiers: ['column'] },
      },
      {
        name: 'armor_defense',
        label: 'DEF',
        title: 'Defense',
        type: 'number',
        css: { names: ['armor__defense'], modifiers: ['center', 'small'] },
      },
      {
        name: 'armor_defense_bonus',
        label: '+DEF',
        title: 'Defense Bonus',
        type: 'number',
        css: { names: ['armor__defense_bonus'], modifiers: ['center', 'small'] },
      },
      //- {
      //-   name: 'armor_magic_defense',
      //-   label: 'M.DEF',
      //-   title: 'Magic Defense',
      //-   type: 'number',
      //-   css: { names: ['armor__magic_defense'], modifiers: ['center', 'small'] },
      //- },
      {
        name: 'armor_magic_defense_bonus',
        label: '+M.DEF',
        title: 'Magic Defense Bonus',
        type: 'number',
        css: { names: ['armor__magic_defense_bonus'], modifiers: ['center', 'small'] },
      },
      {
        name: 'armor_initiative',
        label: 'Initiative',
        title: 'Initiative',
        type: 'number',
        css: { names: ['armor__initiative'], modifiers: ['center', 'small'] },
      },
      {
        name: 'armor_cost',
        label: 'Cost',
        title: 'Cost',
        min: 0,
        step: 50,
        type: 'number',
        css: { names: ['armor__cost'], modifiers: ['center', 'small'] },
      },
    ],
  };

  spine.bestiary.shield = {
    heading: { name: 'shield', label: 'Shield' },
    fields: [
      {
        name: 'shield_name',
        label: 'Name',
        title: 'Name',
        type: 'text',
        css: { names: ['shield__name'] },
      },
      {
        name: 'shield_is_martial',
        label: 'Martial',
        title: 'Martial',
        type: 'checkbox',
        css: { names: ['shield__martial'], modifiers: ['column'] },
      },
      //- {
      //-   name: 'shield_defense',
      //-   label: 'DEF',
      //-   title: 'Defense',
      //-   type: 'number',
      //-   css: { names: ['shield__defense'], modifiers: ['center', 'small'] },
      //- },
      {
        name: 'shield_defense_bonus',
        label: '+DEF',
        title: 'Defense Bonus',
        type: 'number',
        css: { names: ['shield__defense_bonus'], modifiers: ['center', 'small'] },
      },
      //- {
      //-   name: 'shield_magic_defense',
      //-   label: 'M.DEF',
      //-   title: 'Magic Defense',
      //-   type: 'number',
      //-   css: { names: ['shield__magic_defense'], modifiers: ['center', 'small'] },
      //- },
      {
        name: 'shield_magic_defense_bonus',
        label: '+M.DEF',
        title: 'Magic Defense Bonus',
        type: 'number',
        css: { names: ['shield__magic_defense_bonus'], modifiers: ['center', 'small'] },
      },
      {
        name: 'shield_initiative',
        label: 'Initiative',
        title: 'Initiative',
        type: 'number',
        css: { names: ['shield__initiative'], modifiers: ['center', 'small'] },
      },
      {
        name: 'shield_cost',
        label: 'Cost',
        title: 'Cost',
        type: 'number',
        min: 0,
        step: 50,
        css: { names: ['shield__cost'], modifiers: ['center', 'small'] },
      },
    ],
  };
