-
  spine.bestiary.defenses = {
    hidden: [ 'armor_is_martial' ],
    view: [
      {
        name: 'defense',
        label: 'DEF',
        css: { names: ['defense'], modifiers: [] },
      },
      {
        name: 'magic_defense',
        label: 'M.DEF',
        css: { names: ['defense'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'defense_extra',
        label: '+DEF',
        type: 'number',
        css: {
          names: ['defense', 'defense__def'],
          modifiers: ['small', 'center'],
        },
      },
      {
        name: 'magic_defense_extra',
        label: '+M.DEF',
        type: 'number',
        css: {
          names: ['defense', 'defense__mdef'],
          modifiers: ['small', 'center'],
        },
      },
      {
        name: 'defense_quick',
        label: 'Defense Quick Set',
        title: 'Defense Quick Set',
        type: 'select',
        options: extraDefenseOptions,
        css: {
          names: ['defense', 'defense__quick'],
          modifiers: ['center', ]
        },
      },
    ]
  };
