-
  spine.bestiary.armor = {
    heading: { name: 'armor', label: 'Armor' },
    hidden: ['armor_is_martial'],
    view: [
      {
        name: 'armor_name',
        labelOverride: { key: 'armor', label: 'Armor' },
        css: { names: ['armor__name'], modifiers: ['colon'] },
      },
      {
        name: 'armor_defense',
        label: 'DEF',
        css: { names: ['armor__defense'] },
      },
      {
        name: 'armor_defense_bonus',
        label: '+DEF',
        css: { names: ['armor__defense_bonus'] },
      },
      {
        name: 'armor_magic_defense_bonus',
        label: '+M.DEF',
      },
      {
        name: 'armor_initiative',
        labelOverride: { key: 'init', label: 'Init.' },
      },
      {
        name: 'armor_cost',
        css: { names: ['armor__cost'] },
      },
    ],
    fields: [
      {
        name: 'armor_name',
        label: 'Name',
        title: 'Name',
        type: 'text',
        css: { names: ['armor__name'] },
      },
      {
        name: 'armor_is_martial',
        label: 'Martial',
        title: 'Martial',
        type: 'toggle',
        icon: 'martial',
        css: { names: ['armor__martial'], modifiers: ['column-reverse'] },
      },
      {
        name: 'armor_defense',
        label: 'DEF',
        title: 'Defense',
        type: 'number',
        css: { names: ['armor__defense'], modifiers: ['center', 'small'] },
      },
      {
        name: 'armor_defense_bonus',
        label: '+DEF',
        title: 'Defense Bonus',
        type: 'number',
        css: { names: ['armor__defense_bonus'], modifiers: ['center', 'small'] },
      },
      //- {
      //-   name: 'armor_magic_defense',
      //-   label: 'M.DEF',
      //-   title: 'Magic Defense',
      //-   type: 'number',
      //-   css: { names: ['armor__magic_defense'], modifiers: ['center', 'small'] },
      //- },
      {
        name: 'armor_magic_defense_bonus',
        label: '+M.DEF',
        title: 'Magic Defense Bonus',
        type: 'number',
        css: {
          names: ['armor__magic_defense_bonus'],
          modifiers: ['center', 'small'],
        },
      },
      {
        name: 'armor_initiative',
        label: 'Initiative',
        title: 'Initiative',
        type: 'number',
        css: { names: ['armor__initiative'], modifiers: ['center', 'small'] },
      },
      {
        name: 'armor_cost',
        label: 'Cost',
        title: 'Cost',
        min: 0,
        step: 50,
        value: 0,
        type: 'number',
        css: { names: ['armor__cost'], modifiers: ['center', 'small'] },
      },
    ],
  };

  spine.bestiary.shield = {
    heading: { name: 'shield', label: 'Shield' },
    hidden: [],
    view: [
      {
        name: 'shield_name',
        labelOverride: { key: 'shield', label: 'Shield' },
        css: { names: ['shield__name'], modifiers: ['colon'] },
      },
      {
        name: 'shield_defense',
        label: 'DEF',
        css: { names: ['shield__defense'] },
      },
      {
        name: 'shield_defense_bonus',
        label: '+DEF',
        css: { names: ['shield__defense_bonus'] },
      },
      {
        name: 'shield_magic_defense_bonus',
        label: '+M.DEF',
      },
      {
        name: 'shield_initiative',
        labelOverride: { key: 'init', label: 'Init.' },
      },
      {
        name: 'shield_cost',
        css: { names: ['armor__cost'] },
      },
    ],
    fields: [
      {
        name: 'shield_name',
        label: 'Name',
        title: 'Name',
        type: 'text',
        css: { names: ['shield__name'] },
      },
      {
        name: 'shield_is_martial',
        label: 'Martial',
        title: 'Martial',
        type: 'toggle',
        icon: 'martial',
        css: { names: ['shield__martial'], modifiers: ['column-reverse'] },
      },
      //- {
      //-   name: 'shield_defense',
      //-   label: 'DEF',
      //-   title: 'Defense',
      //-   type: 'number',
      //-   css: { names: ['shield__defense'], modifiers: ['center', 'small'] },
      //- },
      {
        name: 'shield_defense_bonus',
        label: '+DEF',
        title: 'Defense Bonus',
        type: 'number',
        css: { names: ['shield__defense_bonus'], modifiers: ['center', 'small'] },
      },
      //- {
      //-   name: 'shield_magic_defense',
      //-   label: 'M.DEF',
      //-   title: 'Magic Defense',
      //-   type: 'number',
      //-   css: { names: ['shield__magic_defense'], modifiers: ['center', 'small'] },
      //- },
      {
        name: 'shield_magic_defense_bonus',
        label: '+M.DEF',
        title: 'Magic Defense Bonus',
        type: 'number',
        css: {
          names: ['shield__magic_defense_bonus'],
          modifiers: ['center', 'small'],
        },
      },
      {
        name: 'shield_initiative',
        label: 'Initiative',
        title: 'Initiative',
        type: 'number',
        css: { names: ['shield__initiative'], modifiers: ['center', 'small'] },
      },
      {
        name: 'shield_cost',
        label: 'Cost',
        title: 'Cost',
        type: 'number',
        min: 0,
        step: 50,
        value: 0,
        css: { names: ['shield__cost'], modifiers: ['center', 'small'] },
      },
    ],
  };

  spine.bestiary.raregear = {
    heading: {
      name: 'rare_gear',
      label: 'rare gear',
    },
    hidden: [],
    view: [
      {
        name: 'raregear_name',
        css: { names: ['rare-gear__name'], modifiers:  ['no-label-bold'] },
      },
      {
        name: 'raregear_effect',
        css: { names: ['rare-gear__effect'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'raregear_name',
        css: { names: ['rare-gear__name'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'raregear_name',
        label: 'Equipment',
        type: 'text',
        css: { names: ['rare-gear__name'], modifiers: [] },
      },
      {
        name: 'raregear_effect',
        label: 'Effect',
        type: 'textarea',
        css: { names: ['rare-gear__effect'], modifiers: [] },
      },
    ],
  };
