-
  spine.bestiary.nav = {
    edit: [
      {
        name: 'stats', label: 'Stats', title: 'Stats'
      },
      {
        name: 'conflict', label: 'Conflict', title: 'Conflict'
      },
      {
        name: 'equipment', label: 'Equipment', title: 'Equipment'
      },
      {
        name: 'extra', label: 'Extra', title: 'Extra'
      },
    ]
  }
