-
  spine.bestiary.nav = {
    edit: [
      {
        name: 'stats', label: 'Stats', title: 'Stats'
      },
      {
        name: 'defenses', label: 'Defenses', title: 'Defenses'
      },
      {
        name: 'conflict', label: 'Conflict', title: 'Conflict'
      },
      {
        name: 'other', label: 'Other', title: 'Other'
      },
    ]
  }
