-
  spine.bestiary.specials = {
    heading: {
      name: 'special_rules',
      label: 'Special Rules',
    },
    hidden: [],
    view: [
      {
        name: 'special_name',
        css: { names: ['special-rule__name'], modifiers:  ['no-label-bold'] },
      },
      {
        name: 'special_effect',
        css: { names: ['special-rule__effect'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'special_name',
        css: { names: ['special-rule__name'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'special_name',
        label: 'Special',
        type: 'text',
        css: { names: ['special-rule__name'], modifiers: [] },
      },
      {
        name: 'special_effect',
        label: 'Effect',
        type: 'textarea',
        css: { names: ['special-rule__effect'], modifiers: [] },
      },
    ],
  };

  spine.bestiary.actions = {
    heading: {
      name: "other_actions",
      label: "Other Actions",
    },
    hidden: [],
    view: [
      {
        name: 'action_name',
        css: { names: ['other-action__name'], modifiers:  ['no-label-bold'] },
      },
      {
        name: 'action_effect',
        css: { names: ['other-action__effect'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: "action_name",
        css: { names: ["other-action__name"], modifiers: [] },
      },
    ],
    fields: [
      {
        name: "action_name",
        label: "Action",
        type: "text",
        css: { names: ["other-action__name"], modifiers: [] },
      },
      {
        name: "action_effect",
        label: "Effect",
        type: "textarea",
        css: { names: ["other-action__effect"], modifiers: [] },
      },
    ],
  };

  spine.bestiary.notes = {
    heading: {
      name: 'notes',
      label: 'Notes',
    },
    hidden: [],
    view: [
      {
        name: 'note_name',
        css: { names: ['note__name'], modifiers:  ['no-label-bold'] },
      },
      {
        name: 'note_effect',
        css: { names: ['note__effect'], modifiers: [] },
      },
    ],
    delete: [
      {
        name: 'note_name',
        css: { names: ['note__name'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'note_name',
        label: 'Note',
        type: 'text',
        css: { names: ['note__name'], modifiers: [] },
      },
      {
        name: 'note_effect',
        label: 'Effect',
        type: 'textarea',
        css: { names: ['note__effect'], modifiers: [] },
      },
    ],
  };
