-

  spine.bestiary.notes = {
    heading: {
      name: 'notes',
      label: 'Notes',
    },
    hidden: [
    ],
    delete: [
      {
        name: 'note_name',
        label: 'Note',
        css: { names: ['note__name'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'note_name',
        label: 'Note',
        type: 'text',
        css: { names: ['note__name'], modifiers: [] },
      },
      {
        name: 'note_effect',
        label: 'Effect',
        type: 'textarea',
        css: { names: ['note__effect'], modifiers: [] },
      },
    ],
  };

  spine.bestiary.specials = {
    heading: {
      name: 'special_rules',
      label: 'Special Rules',
    },
    hidden: [
    ],
    delete: [
      {
        name: 'special_name',
        label: 'Special',
        css: { names: ['special__name'], modifiers: [] },
      },
    ],
    fields: [
      {
        name: 'special_name',
        label: 'Special',
        type: 'text',
        css: { names: ['special__name'], modifiers: [] },
      },
      {
        name: 'special_effect',
        label: 'Effect',
        type: 'textarea',
        css: { names: ['special__effect'], modifiers: [] },
      },
    ],
  };

  spine.bestiary.actions = {
    heading: {
      name: "other_actions",
      label: "Other Actions",
    },
    hidden: [],
    delete: [
      {
        name: "action_name",
        label: "Action",
        css: { names: ["action__name"], modifiers: [] },
      },
    ],
    fields: [
      {
        name: "action_name",
        label: "Action",
        type: "text",
        css: { names: ["action__name"], modifiers: [] },
      },
      {
        name: "action_effect",
        label: "Effect",
        type: "textarea",
        css: { names: ["action__effect"], modifiers: [] },
      },
    ],
  };

  spine.bestiary.raregear = {
    heading: {
      name: "raregear",
      label: "Rare Equipment",
    },
    hidden: [],
    delete: [
      {
        name: "gear_name",
        label: "Gear",
        css: { names: ["gear__name"], modifiers: [] },
      },
    ],
    fields: [
      {
        name: "gear_name",
        label: "Gear",
        type: "text",
        css: { names: ["gear__name"], modifiers: [] },
      },
      {
        name: "gear_effect",
        label: "Effect",
        type: "textarea",
        css: { names: ["gear__effect"], modifiers: [] },
      },
    ],
  };
