-
  spine.bestiary.points = {
    fields: [
      {
        name: 'hp',
        label: 'HP',
        title: 'Hit Points',
        type: 'number',
        css: { names: ['points__hp'] },
      },
      {
        name: 'hp_crisis',
        label: 'Crisis',
        css: { names: ['points__hp_crisis'] },
        type: 'number',
      },
      {
        name: 'mp',
        label: 'MP',
        title: 'Mind Points',
        type: 'number',
        css: { names: ['points__mp'] },
      },
      {
        name: 'initiative',
        label: 'Init.',
        title: 'Initiative',
        type: 'number',
        css: { names: ['points__initiative'] },
      },
    ]
  };
