@use '../../../common/vars' as *;
@use '../../../common/vars' as mixins;

.attacks {
  $this: '.attacks';

  &--heading {
    @include mixins.text-xl-400-fabula;
    text-transform: capitalize;
  }

  &--delete {
    .attack {
      @include fabula-check;
    }
  }

  &--edit {
    .attack {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
      gap: 4px;

      &__special {
        grid-column: 1/-1;
      }

      &__name {
        grid-column: span 3;
      }
    }
  }
}
