@use '../../../common/vars' as mixins;

.fabula-ultima {
  .basic-attacks {
    $this: '.basic-attacks';

    @include mixins.repeater-heading;

    &--view {
      input[name*='attack_range'] {
        &[value='melee'] {
          ~ .basic-attack__range--melee {
            display: block;
          }
        }
        &[value='distance'] {
          ~ .basic-attack__range--distance {
            display: block;
          }
        }
      }

      .basic-attack {
        display: grid;
        grid-template-columns: var(--icon-component-size) 1fr repeat(4, auto);
        gap: 4px;

        .fabula-check span {
          @include mixins.text-lg-700;
        }

        &__range {
          &--melee,
          &--distance {
            display: none;
            grid-row: span 2;
          }
        }

        &__name,
        &__type {
          @include mixins.text-lg-700;
        }

        &__special {
          grid-column: span 5;
          @include mixins.text-lg-400;
        }
      }
    }

    &--edit {
      .basic-attack {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4px;

        &__special {
          grid-column: 1/-1;
        }

        &__name {
          grid-column: span 3;
        }
      }
    }
  }
}
