@use '../../../common/vars' as mixins;

.fabula-ultima {
  .spells {
    $this: '.spells';

    @include mixins.repeater-heading;

    &--edit {
      .spell {
        display: grid;
        grid-template-columns: repeat(2, 1fr) repeat(3, auto);
        // grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
        gap: 4px;

        &__special,
        &__effect {
          grid-column: 1/-1;
        }

        &__name {
          grid-column: span 2;
        }
      }
    }
  }
}
