@use '../../../common/vars' as mixins;

.fabula-ultima {
  .weapons {
    $this: '.weapons';

    @include mixins.repeater-heading;

    &--edit {
      .weapon {
        display: grid;
        grid-template-columns: 1fr repeat(3, auto);
        // grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
        gap: 4px;

        &__special {
          grid-column: 1/-1;
        }

        &__name {
          grid-column: span 3;
        }
        &__category {
        }
      }
    }
  }
}
