-
  spine.gm = {
    sheet: {
      name: 'sheet_type',
      label: 'Sheet Type',
      type: 'select',
      options: sheetOptions,
      css: { names: ['sheet-type'], modifiers: ['flex-row', 'nowrap', 'small'] }
    },
  };
