@use '../../../common/vars' as mixins;

.fabula-ultima .character {
  .creatures {
    $this: '.creatures';

    @include mixins.fabula-heading;

    &--delete {
      .creature {
        display: flex;
        gap: 4px;

        &__name {
          .chimera-value {
            &__value {
              @include mixins.text-xl-400;
            }
          }
        }
      }
    }

    &--view {
      .creature {
        display: grid;
        grid-template-columns: 1fr var(--button-component-size);
        align-items: center;
        gap: 4px;

        &__name {
          .chimera-value {
            &__value {
              @include mixins.text-lg-700;
            }
          }
        }

        &__special,
        &__effect {
          grid-column: 1/-1;
          @include mixins.text-lg-400;
        }
      }
    }

    &--edit {
      .creature {
        display: grid;
        gap: 4px;
      }
    }
  }
}
