@use '../../../common/vars' as mixins;

.fabula-ultima .character {
  .projects {
    $this: '.projects';

    @include mixins.fabula-heading;

    &--delete {
      .project {
        display: flex;
        gap: 4px;

        &__name {
          .chimera-value {
            &__value {
              @include mixins.text-xl-400;
            }
          }
        }
      }
    }

    &--view {
      .project {
        display: grid;
        grid-template-columns: 1fr 1fr auto var(--button-component-size);
        align-items: center;
        gap: 4px;

        &__name {
          .chimera-value {
            &__value {
              @include mixins.text-lg-700;
            }
          }
        }

        &__cost {
          .chimera-value {
            &__value {
              &::after {
                content: ' z';
              }
            }
          }
        }

        &__special,
        &__effect {
          grid-column: 1/-1;
          @include mixins.text-lg-400;
        }
      }
    }

    &--edit {
      .project {
        display: grid;
        grid-template-columns: 1fr auto auto;
        gap: 4px;

        &__special {
          grid-column: 1/-1;
        }
      }
    }
  }
}
