@use '../../../common/vars' as mixins;

.fabula-ultima .character {
  .accessories {
    $this: '.accessories';

    @include mixins.fabula-heading;

    // &--view {
    // }

    &--delete {
      .accessory {
        display: flex;
        gap: 4px;

        &__name {
          .chimera-value {
            &__value {
              @include mixins.text-xl-400;
            }
          }
        }
      }

      .fabula-diamond {
        @include mixins.text-lg-700;
      }
    }

    &--edit {
      .accessory {
        $this: '.accessory';

        display: grid;
        grid-template-columns: auto 1fr repeat(2, auto);
        gap: 4px;

        input[name*='is_martial'] {
          &[value='on'] ~ {
            #{$this}__defense_bonus {
              display: none;
            }
          }
          &[value='0'] ~ {
            #{$this}__defense {
              display: none;
            }
          }
        }

        &__special {
          grid-column: 1/-1;
        }
      }
    }
  }
}
