@use '../../../common/vars' as mixins;

.fabula-ultima .character {
  .armors {
    $this: '.armors';

    @include mixins.fabula-heading;

    // &--view {
    // }

    &--delete {
      .armor {
        display: flex;
        gap: 4px;

        &__name {
          .chimera-value {
            &__value {
              @include mixins.text-xl-400;
            }
          }
        }
      }

      .fabula-diamond {
        @include mixins.text-lg-700;
      }
    }

    &--edit {
      .armor {
        $this: '.armor';

        display: grid;
        grid-template-columns: auto 1fr repeat(5, auto);
        gap: 4px;

        input[name*='is_martial'] {
          &[value='on'] ~ {
            #{$this}__defense_bonus {
              display: none;
            }
          }
          &[value='0'] ~ {
            #{$this}__defense {
              display: none;
            }
          }
        }

        // &__name,
        // &__initiative,
        // &__cost,
        // &__defense,
        // &__defense_bonus,
        // &__magic_defense,
        // &__magic_defense_bonus,
        &__special {
          grid-column: 1/-1;
        }
      }
    }
  }
}
