@use '../../../common/vars' as mixins;

.fabula-ultima .character {
  .equipment {
    $this: '.equipment';

    @include mixins.repeater-heading;

    &--view {
      input[name*='backpack_range'] {
        &[value='melee'] {
          ~ * .equipment__range--melee {
            display: block;
          }
        }
        &[value='distance'] {
          ~ * .equipment__range--distance {
            display: block;
          }
        }
      }

      // universal styles
      .equipment {
        &__weapon,
        &__armor,
        &__shield,
        &__accessory {
          display: flex;
          align-items: center;
          gap: 4px;

          .send-to-chat {
            margin-left: auto;
          }
        }

        input[name*='is_martial'] {
          &[value='on'] ~ {
            .armor__defense_bonus {
              display: none;
            }
          }
          &[value='0'] ~ {
            .armor__defense {
              display: none;
            }
          }
        }
      }

      .armor,
      .shield,
      .accessory,
      .weapon {
        &__name {
          .chimera-value {
            &__label {
              @include mixins.text-lg-700;
            }
            &__value {
              @include mixins.text-lg-400;
            }
          }
        }
        &__cost {
          .chimera-value {
            &__value {
              &::after {
                content: ' z';
              }
            }
          }
        }
      }

      .equipment {
        display: grid;
        grid-template-columns: 1fr auto 0.5fr;
        gap: 4px;

        align-items: center;

        &__range {
          &--melee,
          &--distance {
            display: none;
          }
        }

        &__name {
          display: flex;
          @include mixins.text-lg-700;
        }

        &__check {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
        }

        &__type {
          text-align: end;
          .chimera-value {
            &__value {
              @include mixins.text-lg-400;
            }
          }
        }

        &__special {
          grid-column: 1/-1;
          @include mixins.text-lg-400;
        }
      }
    }
  }
}
