.chimera-repeater {
  $this: '.chimera-repeater';

  &--is-empty {
    &[value='0'] {
      ~ #{$this}__empty {
        display: grid;
      }
    }
  }

  &--empty-hide-next {
    &[value='0'],
    &[value=''],
    &:not([value]) {
      + div,
      + section,
      + article {
        display: none !important;
      }
    }
  }

  &__empty {
    display: none;
  }

  &__header {
    padding: 8px;
    span {
      display: block;
      text-align: center;
    }
  }

  &--view,
  &--edit,
  &--delete {
    &:empty {
      display: none;
      transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
    }
    &:not(:has(div)) {
      display: none;
    }
  }

  &__content {
    display: grid;
  }

  &--edit,
  &--delete {
    padding: 8px;
  }
  &--view {
    padding: 4px;
  }
}
