@use '../../common/vars' as mixins;

.fabula-ultima {
  .bestiary,
  .character {
    .affinities {
      $this: '.affinities';

      @include mixins.repeater-heading;

      &--view {
        display: grid;
        grid-template-columns: repeat(9, minmax(3rem, auto));
        gap: 2px;

        text-align: center;

        border: 1px solid var(--color-fabula-darkest);
        border-right: none;
        border-image: var(--fabula-gradient-primary-border);

        .affinity {
          &__wrapper {
            display: grid;
            grid-template-columns: var(--icon-component-size) 1fr;
            align-items: center;
            padding: 4px;

            input:not([value]),
            input[value=''] {
              + img {
                opacity: 0.25;
                filter: grayscale(1);
              }
            }

            @each $aff in vu, rs, im, ab {
              .affinity_#{$aff} {
                display: none;
                @include mixins.hide-text;
                @include mixins.sr-only;
              }
              input {
                &[value='#{$aff}'] {
                  ~ .affinity_#{$aff} {
                    display: block;
                  }
                }
              }
            }

            @each $attr in 1, 2, 3, 4, 5, 6, 7, 8 {
              &:nth-of-type(#{$attr}) {
                border-right: 1px
                  solid
                  color-mix(in srgb, white #{$attr * 12%}, var(--color-fabula-dark));
              }
            }
          }

          .chimera-value {
            &__label {
              display: block;
              @include mixins.sr-only;
              @include mixins.hide-text;
            }
            &__value {
              @include mixins.text-lg-500-fabula;
              text-align: center;
              white-space: nowrap;
              color: var(--color-hp);
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  .bestiary,
  .character {
    .affinities {
      &--edit {
        .affinity {
          display: grid;
          grid-template-columns: auto 1fr auto;
          gap: 4px;
          align-items: center;

          .chimera-input {
            &__label {
              @include mixins.text-lg-400;
              align-self: center;
            }
          }
        }
      }
    }
  }

  .character {
    .affinities {
      &--edit {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4px;
      }
    }
    .statuses {
      @include mixins.repeater-heading;
      &--edit {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 4px;
      }
    }
  }
}
