@use '../../common/vars' as mixins;

.fabula-ultima {
  .bestiary,
  .character {
    .controllers {
      $this: '.controllers';

      @include mixins.fabula-heading;

      &--view {
        display: flex;
        gap: 4px;
        flex-direction: column;

        .controller {
          &__hp {
            label {
              width: var(--input-component-size);
              padding: 4px;
              background-color: var(--color-hp);
              color: var(--color-on-dark);
            }
          }
          &__mp {
            label {
              width: var(--input-component-size);
              padding: 4px;
              background-color: var(--color-mp);
              color: var(--color-on-dark);
            }
          }
        }
      }
    }
  }
}
