@use '../../common/vars' as mixins;

.fabula-ultima {
  .bestiary,
  .character {
    .controllers,
    .actions {
      @include mixins.fabula-heading;

      &--view {
        display: flex;
        align-items: center;
        gap: 4px;
        height: max-content;
      }
    }

    .actions {
      &--view {
        .chimera-action {
          width: 100%;
        }

        .action {
          &__rest {
            .chimera-value__value {
              display: none;
            }
          }
        }
      }
    }

    .controllers {
      &--view {
        grid-column: 1/-1;

        .controller {
          &__hp {
            label {
              width: var(--input-component-size);
              padding: 4px;
              background-color: var(--color-hp);
              color: var(--color-on-dark);
            }
          }
          &__mp {
            label {
              width: var(--input-component-size);
              padding: 4px;
              background-color: var(--color-mp);
              color: var(--color-on-dark);
            }
          }
          &__ip {
            label {
              width: var(--input-component-size);
              padding: 4px;
              background-color: var(--color-up);
              color: var(--color-on-dark);
            }
          }
        }
      }
    }
  }
}
