@use '../../common/vars' as mixins;

.fabula-ultima {
  .bestiary,
  .character {
    .controllers {
      $this: '.controllers';

      @include mixins.fabula-heading;

      &--view {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 4px;
        height: max-content;

        .controller {
          &__hp {
            label {
              width: var(--input-component-size);
              padding: 4px;
              background-color: var(--color-hp);
              color: var(--color-on-dark);
            }
          }
          &__mp {
            label {
              width: var(--input-component-size);
              padding: 4px;
              background-color: var(--color-mp);
              color: var(--color-on-dark);
            }
          }
          &__ip {
            label {
              width: var(--input-component-size);
              padding: 4px;
              background-color: var(--color-up);
              color: var(--color-on-dark);
            }
          }
        }

        .chimera-action {
          width: 100%;
        }
      }
    }
  }
}
