@use '../../common/vars' as mixins;

.fabula-ultima {
  .bestiary,
  .character {
    .points {
      $this: '.points';

      @include mixins.fabula-heading;

      &--view {
        display: grid;
        grid-template-columns: repeat(2, var(--input-component-size) auto) auto;
        gap: 4px;

        border: 1px solid var(--color-fabula-darkest);
        border-right: none;
        border-image: var(--fabula-gradient-secondary-border);

        padding-inline: 4px;

        .chimera-value {
          &__label,
          &__value {
            @include mixins.text-lg-700-fabula;
            text-align: center;
            white-space: nowrap;
          }
          &__label {
            align-self: center;
            justify-self: center;
          }
        }

        .fabula-diamond {
          @include mixins.text-lg-400;
        }

        .point {
          &__hp,
          &__mp,
          &__initiative {
            display: flex;
            gap: 4px;
            padding: 4px;
            justify-content: center;
          }

          &__hp,
          &__hp_crisis {
            padding-inline: 8px;
            color: var(--color-on-dark);
            background-color: var(--color-hp);
          }
          &__mp {
            padding-inline: 8px;
            color: var(--color-on-dark);
            background-color: var(--color-mp);
          }
        }
      }
    }
  }
}
