@use '../../common/vars' as mixins;

.fabula-ultima {
  .bestiary,
  .character {
    .points {
      $this: '.points';

      @include mixins.fabula-heading;

      &--view {
        display: flex;
        gap: 4px;

        border: 1px solid var(--color-fabula-darkest);
        border-right: none;
        border-image: var(--fabula-gradient-secondary-border);

        padding-inline: 4px;

        .chimera-value {
          display: flex;
          text-align: center;

          &__label,
          &__value {
            display: block;
            @include mixins.text-lg-700-fabula;
            text-align: center;
            white-space: nowrap;
            padding: 4px 8px;
          }
          &__value {
            min-width: 2.5rem;
          }
        }

        .fabula-diamond {
          @include mixins.text-lg-400;
          padding-block: 4px;
        }

        .point {
          &__hp,
          &__mp,
          &__ip,
          &__initiative {
            display: flex;
            justify-content: center;
          }

          &__hp,
          &__crisis,
          &__mp,
          &__ip {
            .fabula-diamond,
            .chimera-value__value {
              color: var(--color-on-dark);
            }
          }

          &__hp,
          &__hp_crisis {
            .fabula-diamond,
            .chimera-value__value {
              background-color: var(--color-hp);
            }
          }
          &__mp {
            .chimera-value__value {
              background-color: var(--color-mp);
            }
          }
          &__ip {
            .chimera-value__value {
              background-color: var(--color-ip);
            }
          }

          &__roll-initiative {
            .chimera-action {
              width: 100%;
            }
            .chimera-value {
              &__label {
                margin-inline-end: 2px;
                @include mixins.text-base-700;
              }
              &__value {
                @include mixins.text-base-400;
              }
            }
          }
        }
      }
    }
  }
}
