@use '../../common/vars' as mixins;

.fabula-ultima {
  .bestiary,
  .character {
    .settings {
      $this: '.settings';

      @include mixins.fabula-heading;

      &--edit,
      &--view {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4px;

        .setting {
          &--disabled {
            opacity: 0.5;
            span {
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
}
