@use '../../common/vars' as mixins;

.fabula-ultima {
  .settings {
    $this: '.settings';
    @include mixins.fabula-heading;

    display: none;

    &--view {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4px;

      // min-width: $breakpoint-xs;
      margin: 8px;
      max-width: 45rem;
      background-color: var(--suface-container-lowest);

      box-shadow: var(--box-shadow-light);
      border-radius: 4px;

      .setting {
        &--disabled {
          opacity: 0.5;
          span {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
