-
  const spine = {
    sheets: ["character", "bestiary", "gm"],
    character: {},
    bestiary: {},
    gm: {},
  };

include constants.spine.pug
include bestiary/bestiary.spine.pug
include bestiary/attributes.spine.pug
include bestiary/defenses.spine.pug
include bestiary/actions.spine.pug
include bestiary/other.spine.pug
