-
  // translations
  const TRANSLATIONS = {
    '': '',
    '1-handed': 'One-handed',
    '2-handed': 'Two-handed',
    'ab': 'AB',
    'action': 'Action',
    'attack': 'Attack',
    'custom': 'Custom',
    'damage': 'Damage',
    'defense_full': 'Defense',
    'dmg': 'DMG',
    'high_roll': 'HR',
    'HR': 'HR',
    'im': 'IM',
    'info': 'Info',
    'mdefense_full': 'M. Defense',
    'mod': 'MOD',
    'modifier': 'Modifier',
    'off': 'Off',
    'on': 'On',
    'phase': 'Phase',
    'rs': 'RS',
    'settings_enable_quirks_desc': 'This will enable the use of Quirks in your game.',
    'settings_money_name_desc': 'This will set the default currency name for all characters.',
    'settings_roll_mods_desc': 'This will toggle accuracy modifiers for accuracy checks.',
    'spell': 'Spell',
    'spend_fabula_failed': 'No Fabula Points to spend...',
    'villain_major': 'Major Villain',
    'villain_minor': 'Minor Villain',
    'villain_supreme': 'Supreme Villain',
    'vu': 'VU',
  };

each word in Object.keys(TRANSLATIONS)
  span.fabula-translation(data-i18n=word)= TRANSLATIONS[word]
