-
  // translations
  const TRANSLATIONS = {
    '': '',
    '1-handed': 'One-handed',
    '2-handed': 'Two-handed',
    'ab': 'AB',
    'action': 'Action',
    'attack': 'Attack',
    'custom': 'Custom',
    'damage': 'Damage',
    'defense_full': 'Defense',
    'dmg': 'DMG',
    'high_roll': 'HR',
    'HR': 'HR',
    'im': 'IM',
    'info': 'Info',
    'mdefense_full': 'M. Defense',
    'mod': 'MOD',
    'modifier': 'Modifier',
    'phase': 'Phase',
    'rs': 'RS',
    'spell': 'Spell',
    'spend_fabula_failed': 'No Fabula Points to spend...',
    'villain_major': 'Major Villain',
    'villain_minor': 'Minor Villain',
    'villain_supreme': 'Supreme Villain',
    'vu': 'VU',
  };

each word in Object.keys(TRANSLATIONS)
  span.fabula-translation(data-i18n=word)= TRANSLATIONS[word]
