@charset "UTF-8";

@use 'common/vars' as *;
@use 'common/mixins' as mixins;

@use 'modules/reset';
@use 'components/repcontainer';

@use '../chimera/scss/chimera' as *;

@use 'common/chimera' as chimera;
@use 'components/inputs';
@use 'layout/characterviewer';

@use 'pages/header';
@use 'pages/bestiary';
@use 'pages/character';

@use 'themes/darkmode';
@use 'themes/default';

@use 'templates/rolltemplate';

@forward '../chimera/scss/chimera';
@forward 'common/mixins';
@forward 'common/vars';

html,
html .charsheet {
  $sheet-types: ('character', 'bestiary', 'gm');
  @each $type in $sheet-types {
    .#{$type} {
      display: none;
    }

    input[name*='sheet_type'] {
      &[value='#{$type}'] {
        ~ * main.#{$type} {
          display: grid;
        }
      }
    }

    input[name*='sheet_mode'] {
      &[value='on'] {
        ~ * .bestiary--edit,
        ~ * .character--edit {
          display: grid;
        }
        ~ * .bestiary--view,
        ~ * .character--view {
          display: none;
        }
      }

      &[value='0'],
      &[value=''],
      &:not([value]) {
        ~ * .bestiary--edit,
        ~ * .character--edit {
          display: none;
        }
        ~ * .bestiary--view,
        ~ * .character--view {
          display: flex;
        }
      }
    }
  }

  .fabula-ultima {
    margin: 4px;
    margin-right: 12px;
  }
}
