@charset "UTF-8";

// 1. Configuration and helpers
// @use 'abstracts/variables' as *;
// @use 'abstracts/functions';
// @use 'abstracts/mixins';

@use 'common/vars';
@use 'common/mixins' as mixins;

// 2. Vendors
// @use 'vendors/normalize';
@use 'modules/reset';
@use 'components/repcontainer';

// 3. Base stuff
// @use 'base/base';
// @use 'base/fonts';
// @use 'base/typography';
// @use 'base/helpers';

// 4. Layout-related sections
@use 'layout/characterviewer';

// 7. Themes
// @use 'themes/default';

html,
html .charsheet {
  $sheet-types: ('character', 'bestiary', 'gm');
  @each $type in $sheet-types {
    .#{$type} {
      display: none;
    }

    input[name*='sheet_type'] {
      &[value='#{$type}'] {
        ~ * main.#{$type} {
          display: grid;
        }
      }
    }
  }

  .fabula-ultima {
    margin: 4px;
    margin-right: 12px;

    @import '../chimera/scss/chimera';

    // 4. Layout-related sections
    // @import 'layout/header', 'layout/footer';

    // 5. Components
    @import 'common/chimera';
    @import 'components/inputs';
    // @import 'components/buttons', 'components/inputs', 'components/panels',
    //  'components/repeating';

    // 6. Page-specific styles
    // @import 'pages/character';
    @import 'pages/bestiary';
  }
}
