@charset "UTF-8";

@use 'common/vars' as *;
@use 'common/mixins' as mixins;

@use 'modules/reset';
@use 'components/repcontainer';

@use '../chimera/scss/chimera' as *;

@use 'common/chimera' as chimera;
@use 'components/inputs';
@use 'layout/characterviewer';
@use 'pages/bestiary';

@use 'themes/darkmode';
@use 'themes/default';

@forward '../chimera/scss/chimera';
@forward 'common/mixins';
@forward 'common/vars';

html,
html .charsheet {
  $sheet-types: ('character', 'bestiary', 'gm');
  @each $type in $sheet-types {
    .#{$type} {
      display: none;
    }

    input[name*='sheet_type'] {
      &[value='#{$type}'] {
        ~ * main.#{$type} {
          display: grid;
        }
      }
    }
  }

  .sheet-type {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 4px;
    width: auto;
  }

  .fabula-ultima {
    margin: 4px;
    margin-right: 12px;

    // @import '../chimera/scss/chimera';

    // @import 'common/chimera';
    // @import 'components/inputs';

    // // @import 'pages/character';
    // @import 'pages/bestiary';
  }
}
