@use '../../../common/vars' as mixins;

.notes {
  $this: '.notes';

  grid-column: span 2;

  @include mixins.repeater-heading;

  &--delete {
    .note {
      display: flex;
      gap: 4px;
    }
  }

  &--edit {
    .note {
      display: grid;
      gap: 4px;
    }
  }
}
