@use '../../../common/vars' as mixins;

.actions {
  $this: '.actions';

  grid-column: span 2;

  @include mixins.repeater-heading;

  &--delete {
    .action {
      display: flex;
      gap: 4px;
    }
  }

  &--edit {
    .action {
      display: grid;
      gap: 4px;
    }
  }
}
