@use '../../../common/vars' as mixins;

.raregear {
  $this: '.raregear';

  grid-column: span 2;

  &--heading {
    @include mixins.text-xl-400-fabula;
    text-transform: capitalize;
  }

  &--delete {
    .gear {
      display: flex;
      gap: 4px;
    }
  }

  &--edit {
    .gear {
      display: grid;
      gap: 4px;
    }
  }
}
