@use '../../../common/vars' as mixins;

.fabula-ultima {
  .rare-gears {
    $this: '.rare-gears';

    grid-column: span 2;

    @include mixins.repeater-heading;

    &--delete {
      .rare-gear {
        display: flex;
        gap: 4px;
      }
    }

    &--view {
      .rare-gear {
        display: grid;
        grid-template-columns: var(--icon-component-size) 1fr;
        gap: 4px;

        &__icon {
          grid-row: span 2;
        }
        &__name {
          @include mixins.text-lg-700;
        }

        &__special,
        &__effect {
          grid-column: 2/-1;
          @include mixins.text-lg-400;
        }
      }
    }

    &--edit {
      .rare-gear {
        display: grid;
        gap: 4px;
      }
    }
  }
}
