@use '../common/vars' as *;
@use '../common/vars' as mixins;

.sheet-rolltemplate-fabula-attack,
.sheet-rolltemplate-fabula-chat {
  .inlinerollresult {
    display: block;
    text-align: center;
    padding: 2px;

    background-color: color-mix(in srgb, white 60%, var(--color-fabula2));
    color: black;
    border: none;
    border-radius: 4px;

    min-height: 24px;
    aspect-ratio: 1;

    &.fullcrit,
    &.fullfail,
    &.importantroll {
      border: none;
    }
  }

  .sheet-flex.sheet-flex {
    display: flex;
  }
  .sheet-grid.sheet-grid {
    display: grid;
  }
  .sheet-space-around {
    justify-content: space-around;
  }
  .sheet-uppercase {
    text-transform: uppercase;
  }
  .sheet-sr-only {
    @include mixins.sr-only;
  }

  .sheet-hp {
    .sheet-fabula-label {
      color: var(--color-hp);
    }
  }
  .sheet-mp {
    .sheet-fabula-label {
      color: var(--color-mp);
    }
  }

  .sheet {
    &-roll {
      display: flex;
      flex-direction: column;
      gap: 4px;

      background-color: var(--surface-background);

      max-width: 500px;

      box-shadow: var(--box-shadow-light);
      border-radius: 4px;
      overflow: hidden;

      &-header {
        display: flex;

        background-image: var(--fabula-gradient-primary);
        color: var(--color-on-dark);
      }
    }
    &-avatar {
      object-fit: cover;
      max-width: 36px;

      img {
        max-height: 36px;
        border-top-left-radius: 4px;
        border: 2px solid var(--color-fabula1);
      }
    }
    &-character {
      flex: 1;
      padding-inline: 16px;

      span {
        font-family: var(--font-title);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        text-transform: uppercase;
      }
    }
    &-roll-type {
      padding: 8px;
      align-self: center;

      border-top-right-radius: 4px;

      background-color: var(--surface-background);
      color: var(--text-color);

      border-bottom: 2px solid var(--color-fabula2);
      border-image: var(--fabula-gradient-secondary-border);

      span {
        font-family: var(--font-title);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
    &-header {
      display: flex;
      gap: 4px;
      padding-inline: 4px;
      align-items: center;
    }
    &-action,
    &-details {
      display: grid;
      gap: 4px;

      padding: 4px;

      border-top: 1px solid var(--color-fabula2);
      border-image: var(--fabula-gradient-primary-border);

      div {
        display: flex;
        flex-direction: row;
        gap: 2px;
        align-items: center;
      }

      span.sheet-fabula-label,
      span.sheet-fabula-span {
        font-size: 14px;
      }

      &:has(.sheet-detail-banner) {
        border-top: none;
        padding-top: 0;
      }
    }
    &-details {
      &:not(:has(span)) {
        display: none !important;
      }
    }

    &-detail-banner {
      color: var(--color-on-dark);
      background-image: var(--fabula-gradient-secondary);
      padding-inline: 16px;
    }
    &-critical-success {
      color: var(--color-on-dark);
      background-image: var(--fabula-gradient-success);
      padding-inline: 16px;
    }
    &-critical-fumble {
      color: var(--color-on-dark);
      background-image: var(--fabula-gradient-fumble);
      padding-inline: 16px;
    }
  }

  .sheet-affinity {
    .sheet-fabula-span {
      font-family: var(--font-body);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      color: var(--color-hp);
    }
  }

  span.sheet-fabula-label {
    font-family: var(--font-body);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  span.sheet-fabula-span {
    font-family: var(--font-body);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  span.sheet-fabula-important {
    font-family: var(--font-title);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    text-transform: uppercase;
  }
  span.sheet-fabula-diamond {
    font-family: var(--font-body);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}
